[2020-05-13 16:59] payneck commented on #450
Thank you! I like the tutorials, as do my students, but this one exercise
was a bit of a struggle.

On Wed, May 13, 2020 at 12:57 PM Kris Stern <notifications@github.com>
wrote:

--
Charlie Payne, MEd
Instructor of Physics, Computational Physics
DEEP (Online) and Residential
Head Cross Country Coach
USATF Level II Coach: Endurance Specialty
USATF Level I Coach, Track and Field

*NORTH CAROLINA SCH

[2020-05-13 17:01] kakirastern commented on #450
You are welcome!

[2020-05-18 17:25] #447 closed

[2020-06-03 21:35] kelle opened #451 "Add citation to tutorials"
Great idea from @nksaunders: At the end of each tutorial, proved the citation information for packages used. Basically, if one used the same packages as part of doing a published piece of research, show the best way to cite them.

The goal is two fold: 1) We'll want to make it easy to copy and paste the citation and 2) be a nice looking citation in the rendered Jupyter notebook. This might take so

[2020-06-07 13:02] kakirastern commented on #400
@eblur Will follow up on your comments soon once the Learn Astropy co-work hour resumes for the summer

[2020-06-13 01:50] nksaunders commented on #451
Here is a demo of the work-in-progress implementation for our Kepler tutorials:

To make citing `astropy` and `lightkurve` as easy as possible for users, I wrote a short javascript widget that adds a button at the end of tutorials to copy the relevant BibTeX entries to the clipboard.

The buttons are currently hosted on my personal website [here](https://nksaunders.space/files/button.html). When i

[2020-07-04 18:21] oglesbylily opened #452 "error in ellipse.fit_image"
I'm trying to run the tutorial https://github.com/astropy/photutils-datasets/blob/master/notebooks/isophote/isophote_example1.ipynb. However when I run the command isolist = ellipse.fit_image(), I get the following error: isophote = isophote_list[-1]. IndexError: list index out of range.
I am only pasting the commands provided from the tutorial. Could this be a problem with my python setup? I am r

[2020-07-05 11:32] kakirastern commented on #452
Hi @oglesbylily I tried running the code on Jupyter Lab using `python 3.8` on my MacBook Pro, but everything seemed to be running smoothly. Let me try `PyCharm` as well to see if I could reproduce the error.

[2020-07-05 12:07] kakirastern commented on #452
I have tried running the same notebook on PyCharm with the `jupyter` package installed, and seems everything is fine as far as I can tell. The following is a screenshot including the printout of the `isolist` variable in the lower left corner pane:

<img width="1440" alt="Screenshot 2020-07-05 20 05 19" src="https://user-images.githubusercontent.com/26264600/86532256-16fd7700-befb-11ea-81fb-c6aff5

[2020-07-05 12:09] kakirastern commented on #452
The way I run the notebook is via `Jupyter Actions` accessible in PyCharm.

[2020-07-05 18:46] kakirastern commented on #445
I am waiting for a bit because the Learn Astropy site is being revamped

[2020-07-05 19:33] oglesbylily commented on #452
Thank you so much for getting back to me so quickly. I've installed Jupyter notebook but I am still getting the same error. Please see the screen snapshot below. As you can see, I am very new at this.
![image](https://user-images.githubusercontent.com/67838999/86540618-a8e58f80-bebb-11ea-895b-feba0c805987.png)

[2020-07-05 19:54] kakirastern commented on #452
Hi @oglesbylily From your screenshot I can tell you are missing a dependency of `photutils` called `scipy`, which you can install either with [pip](https://pypi.org/project/scipy/) or [conda](https://anaconda.org/anaconda/scipy). Try installing that first and run the notebook again. If the problem persist, do let us know and we will sort it out for you.

[2020-07-06 01:43] oglesbylily commented on #452
Thank you so much --  it worked perfectly! I really appreciate all your help.

[2020-07-06 13:47] kakirastern commented on #452
You are welcome! I am glad to be of help.

[2020-07-06 15:40] #452 closed

[2020-07-22 14:10] eblur opened #454 "Update Learn Astropy contributing docs with instructions for hosting on Zenodo"
http://learn.astropy.org/contributing.html#data-files

Let's update the contributing docs to include information about hosting tutorial data files on Zenodo and downloading them from there.

[2020-08-12 14:43] kakirastern opened #456 "[Content New] Accessibility Tutorial for Astronomy Projects"
As initiated by Tim Rhue on the Astropy slack `general` channel, and recorded in a thread [here](https://astropy.slack.com/archives/C067V74GK/p1597084825363000), Learn Astropy will volunteer to organize our efforts around drafting and thereby completing an accessibility tutorial for astronomy projects using `Python` as the programming language. The focus will be mostly on the visual aspect of acce

[2020-08-12 15:30] kakirastern commented on #450
Will try to get this done within the next couple of weeks

[2020-08-15 16:54] payneck commented on #450
Thank you so much. I actually talked about this resource yesterday to our
Astronomy teacher, and I'd like to use it in the courses I teach, including
Comp Phys. There is no hurry, and I'm really looking forward to the results.

Again, thank you. Stay healthy.

Charlie

On Wed, Aug 12, 2020 at 11:30 AM Kris Stern <notifications@github.com>
wrote:

--
Charlie Payne, MEd
Instructor of Physics, Comput

[2020-08-25 13:27] kakirastern commented on #424
## **Developing “telescopy”: A Simple API for Retrieving Signal-to-Noise Estimates of an Arbitrary Astronomical Observation**

**_Abstract_**: To make a convincing proposal in observational astronomy, you must demonstrate to a telescope’s proposal committee that your target can indeed be sufficiently observed with their instrument. How long could you observe a particular A-star with Hubble before

[2020-08-25 14:43] kakirastern commented on #424
Access to the code product: https://github.com/tcjansen/GSoC/pulls

[2020-08-26 14:37] kakirastern commented on #450
@mwcraig As discussed during telecon today, please have a look at the issue and let us know if any revisions need to be made on the `FITS-images` tutorial. Looks like the actual calculation involves more than just an inverse-square relationship, at least at the senior undergraduate level.

[2020-08-26 14:43] kakirastern commented on #419
Hi @miguelsalazar I am from Learn Astropy as one of the content developers. We would like to know if you have started work on the issue and of the progress if work has already begun? It would be great to let us know, so that someone else such as @laudb can work on it if you are no longer interested in the issue.

[2020-09-02 14:21] mwcraig commented on #450
I have a few comments about the tutorial (which I suppose I should turn in to a pull request):

1. The level is good for the most part.
2. It would be helpful to link more to other resources. For example, the image sum done in the tutorial is fine but a link to ccdproc for other image combination methods would be good.
3. The tutorial should probably have users also read in the header, not just th

[2020-09-02 14:43] kakirastern commented on #450
Thanks @mwcraig for the comments! Let me open a PR and make some preliminary changes according to your suggestions so that it will be easier for you to follow up.

[2020-09-02 15:31] #454 closed

[2020-09-04 14:12] pllim opened #457 "Notebook to do simple solar system simulation"
I adapted one to use astropy at https://github.com/pllim/playpen/blob/master/notebooks/solar_system.ipynb . @kakirastern suggested I open a PR but I opted for an issue instead. If you really want it here, I can open a PR. Thank you.

p.s. It is sure very convenient and way more readable to use astropy units. I did notice a performance hit though. But then again for a tutorial, readability is more

[2020-09-07 02:51] kakirastern commented on #457
Thanks for the issue @pllim! Will first discuss the performance issue with the team during the next Learn Astropy telecon/co-work hour. Will keep you posted.

[2020-09-07 16:30] pllim commented on #457
Re: Performance, most of the examples I found only have the Sun and one or two other planets "active" (the rest commented out). I guess that's how they dealt with it.

[2020-09-08 20:06] tepickering opened #458 "astrophotography tutorials"
a request came up on slack about tutorials about using `astropy` , `astropy-affiliated`, and the related `python` ecosystem for astrophotography. the basic image calibration steps (e.g. bias, darks, flats) can be handled easily by `ccdproc`. for color imagers, there may be extra steps to decompose the TIFF or RAW files into a FITS image per color channel. for higher level processing of images, the

[2020-09-09 08:05] kakirastern commented on #458
Thanks for the issue @tepickering! Totally agree that there is a need for such tutorials, maybe as a theme-based series.

[2020-09-09 14:14] eblur commented on #457
I really like this, also as a nice introductory example for object oriented programming and building classes in Python.

Performance would definitely be an issue for our testing infrastructure, so maybe we should stick to using one or two planets. Adding the additional planets could be an exercse.

@kakirastern how about you start a Colab notebook with this as the start?

[2020-09-09 14:18] kakirastern commented on #457
Yup, sure @eblur I could start a Colab notebook and have it ready by the next time we meet

[2020-09-09 17:56] stsewd opened #459 "Search: using deprecated API (https://readthedocs.org/api/v2/docsearch/)"
Hi! I work at Read the Docs, I'm reaching to you since we are in the process of removing this undocumented API (https://readthedocs.org/api/v2/docsearch). We are replacing it with https://docs.readthedocs.io/en/stable/server-side-search.html#api

I noticed you are using the old API at https://github.com/astropy/astropy-tutorials/blob/21968ff28eaf1c72f9d022ceb788bb2fc464022e/tutorials/themes/tutori

[2020-09-09 18:09] pllim commented on #459
Thank you for the notice! cc @adrn and @embray

[2020-09-16 14:50] #443 closed

[2020-09-16 15:02] #448 closed

[2020-09-16 15:03] adrn commented on #448
This was a bug with the way the multi-line code was specified - I believe there need to be line breaks after / before the ```

[2020-09-16 15:04] kakirastern commented on #450
Just opened this Google Colab for the drafting part of the PR workflow: https://colab.research.google.com/drive/1rk9dig_LFw_XArLe0KJSFi8lOTKE5QPH?usp=sharing

Editing or commenting is currently by invitation only, but everyone with the link can view it

[2020-09-16 17:19] embray commented on #459
@stsewd Thanks.  I'll work on this if no one else gets to it first (I need to be added as a collaborator on this project to assign myself).

[2020-09-16 17:28] kakirastern commented on #459
Hey @embray Just assigned the issue to you

[2020-09-16 19:01] pllim commented on #459
@embray , I have temporarily given you Triage access -- is that enough to assign self? Unfortunately, I cannot add you to one of the teams, maybe @astrofrog can.

p.s. The admin team has some names of inactive contributors. It is scary that they have admin access. I think the team needs some pruning.

[2020-09-23 13:59] adrn opened #461 "Explore using jupyter-cache for building tutorials in pull requests"
This might make it easy to only execute / test notebooks that are modified:
https://jupyter-cache.readthedocs.io/

[2020-09-23 14:54] kakirastern commented on #457
Just started a colab notebook and check that it has been properly adapted where applicable to run on Google Colab: https://colab.research.google.com/drive/19ybq701_sle0RPv0EQEgf7YYSbg_oi0m?usp=sharing

[2020-09-23 15:02] kakirastern commented on #450
Checklist of things TODO in the Colab notebook:

- [ ] Link to more resources: Add a link for the image sum done in the tutorial to `ccdproc` for details regarding image combination methods.
- [ ] Have the user to also read in the header, not just the data.
- [ ] To have the image read in either using `CCDData` or use the context manager with `fits.open()` instead of `io.fits`.
- [ ] Rework exerci

[2020-09-23 19:38] pllim commented on #457
@kakirastern , feel free to ping me if you need help with specific things. I am not sure what I am supposed to do on Google Collab otherwise. I'll let you take the lead. Thanks!

[2020-10-07 14:05] kakirastern commented on #457
Thanks @pllim 😊 Sorry just got your message today, and am working on the notebook now during this week's Learn Astropy telecon / co-work hour

[2020-10-12 16:44] stsewd commented on #459
Hi everyone, we are removing the old endpoint tomorrow as we are behind schedule to update to a supported version of ES. We are in the 6.x series (already EOL), and we need this change to update to the latest 7.x. Let me know if there is anything I can help you with.

[2020-10-12 17:03] pllim commented on #459
Thanks, @stsewd ! I started a draft PR over at #462 . Your advise, should you choose to provide it, would be greatly appreciated.

[2020-10-14 16:51] embray commented on #445
I noticed this as well.  There are several other things that go wrong when I try to just build the site locally from my usual astropy virtualenv.

[2020-10-14 16:59] embray commented on #445
Additionally, the `.travis.yml` installs nbconvert from git, but I don't think that's necessary any longer.  According to git that line was added in 2017, and nbconvert has had many releases since then.

[2020-10-14 17:31] embray opened #463 "Error in FITS-cubes.ipynb"
When processing the FITS-cubes.ipynb notebook I'm getting an error from astroquery:

[code]

Not sure what that's about or how best to fix it.

[2020-10-14 17:36] pllim commented on #463
Which astroquery version? Be sure to grab the latest pre-release from PyPI.
`pip install astroquery --pre --upgrade`

[2020-10-14 17:37] pllim commented on #463
If you still have problem, could be that API is outdated or something, and try open issue over at `astroquery`. Hope this helps!

[2020-10-14 17:37] embray commented on #463
I didn't get the pre-release.  Was using 0.4.1 which was the default from the `pip-requirements.txt` which specifies `astroquery>=0.3.7`.  This might be a problem related to #445

[2020-10-14 17:39] pllim commented on #463
Using stable astroquery won't do because they have to fix for upstream changes on demand, so they opted for "rolling release." I would recommend `--pre`.

[2020-10-14 17:40] embray commented on #463
Using the latest pre-release didn't work.  The notebook in question was last updated in March 2020 so it shouldn't require the bleeding edge anyways.

[2020-10-14 17:42] pllim commented on #463
What about dev? (Just in case)

[2020-10-14 17:43] embray commented on #463
It looks like it has the same issue.  I'll open an issue against astroquery...

[2020-10-14 17:48] embray commented on #463
FWIW the issue can be reproduced simply by

[code]

ISTM some piece of metadata that's expected to exist in the query results does not, and the code doesn't handle it being missing.

[2020-10-14 17:51] pllim commented on #463
Thanks for checking. :(

[2020-10-14 17:58] embray commented on #463
After installing astroquery from source and applying my workaround, the rest of the notebook executes successfully, so we can close this once astropy-tutorials is building with an appropriate version of astroquery.

[2020-10-28 14:30] keflavich opened #465 "Spectroscopic data reduction tutorials"
See https://github.com/astropy/astropy-tutorials/pull/464

https://colab.research.google.com/github/keflavich/AST4723-Public-Materials/blob/master/spectroscopy/Spectroscopic%20Trace%20Tutorial.ipynb
https://colab.research.google.com/github/keflavich/AST4723-Public-Materials/blob/master/spectroscopy/Wavelength%20Calibration.ipynb
https://colab.research.google.com/github/keflavich/AST4723-Public-Mat

[2020-10-28 14:49] kelle commented on #465
These tutorials need just a bit of work to expand the text and get them in the format of Astropy Tutorials. A lot of the text could be copied and pasted from the [Massey guide](http://ast.noao.edu/sites/default/files/GMOS_Cookbook/_downloads/IRAF_LSreduce.pdf) guide. If you or anybody you know would be able to do this, please get in touch!

[2020-11-11 15:20] kakirastern commented on #450
@mwcraig Google Colab notebook ready for a review.

[2020-11-11 15:23] payneck commented on #450
I'd love to check it out as I think it would be valuable to my Comp Phys
students (high school, but public residential for NC's finest, NCSSM, part
of the UNC System). I might not be able to get to this for a week or so, as
grades and some recommendations are due this week.

Thank you! Stay healthy!

Charlie

On Wed, Nov 11, 2020 at 10:20 AM Kris Stern <notifications@github.com>
wrote:

--
Charlie

[2020-11-11 15:26] kakirastern commented on #456
https://webaim.org/intro/

[2020-11-11 15:28] kakirastern commented on #456
https://webaim.org/resources/contrastchecker/

[2020-11-11 15:30] kakirastern commented on #456
https://matplotlib.org/3.2.1/tutorials/colors/colormaps.html#color-vision-deficiencies

[2020-11-11 15:33] kakirastern commented on #456
https://www.color-blindness.com/

[2020-11-11 16:07] kakirastern commented on #450
Hi Charlie,
Sure I have just given you access to the Google Colab notebook.

[2020-11-12 04:23] kakirastern commented on #450
Will add a solution to the Google Colab as suggested soon

[2020-11-16 14:32] keflavich commented on #465
The Wavelength Calibration has been updated to include an effective reimplementation of IRAF's reidentify & a 2D `wl(x,y)` solution

[2020-11-16 14:33] keflavich opened #466 "Cube Fitting Tutorial w/spectral-cube"
@e-koch has written a spectral-cube + astropy fitting tutorial:

https://github.com/radio-astro-tools/tutorials/blob/master/spectral_fitting/fitting_with_spectralcube.ipynb

There are a few others coming soon too. Can we host these on learn.astropy.org?

(cross-posted from https://github.com/astropy/learn/issues/12, which is the wrong location so I'm closing that one)

[2020-11-16 20:01] pllim opened #467 "TST: Use GitHub Actions"
Please see https://groups.google.com/g/astropy-dev/c/45frnTEAX-U

[2020-11-18 09:28] kakirastern commented on #467
@adrn

[2020-11-18 15:26] kakirastern commented on #457
Let me submit a PR for this today 😉

[2020-11-18 16:13] #467 closed

[2020-11-18 16:45] #463 closed

[2020-11-20 08:39] kakirastern commented on #456
https://developers.google.com/web/updates/2020/11/cvd

[2020-12-02 15:46] kakirastern commented on #450
Hi all,

Found out today the calculation is pretty standard according to some IAU definition: https://en.wikipedia.org/wiki/Luminosity#Relationship_to_magnitude

All we needed to do is to go from some measure of luminosity / flux density with an arbitrary scaling factor and then use the magnitude formula to compute the desired result. 😉

I am reading up on the relevant section(s) of the Wikipedia

[2020-12-07 14:48] mwcraig commented on #450
Thanks for the update @kakirastern -- another perfectly acceptable (and much shorter) solution is to change the exercise. As you are finding, though it is simple in principle, it is more complicated in practice.

[2020-12-07 14:55] kakirastern commented on #450
@mwcraig My bad for procrastinating, feeling like taking my time around Christmas 🎄

[2020-12-07 19:12] mwcraig commented on #450
@kakirastern -- not your bad at all! I just thought I'd dish you a way to vastly simplify. I whole-heartedly support taking whatever time you need.

[2020-12-08 17:08] kakirastern commented on #458
@mwcraig I have found someone who seems interested in following up on the issue over on the OpenAstronomy IRC channel at Element.io

[2020-12-08 17:10] pikachu404 commented on #458
@kakirastern thanks for giving me this opportunity
Im highly interested in doing this

[2020-12-08 17:14] kakirastern commented on #458
@pikachu404 You are welcome

[2020-12-08 17:34] mwcraig commented on #458
It would be good to flesh out a little more what this tutorial would contain or what it might be broken into. As described in the original issue, this is could be very, very broad.

[2020-12-08 17:38] kakirastern commented on #458
Sure, let me give it a think and post a bit about the milestones and tasks for the planned PR as I conceive them

[2020-12-08 17:42] pikachu404 commented on #458
currently, Im also figuring out the main task to do with which required knowledge so if you provide me some specific issue that would be great

[2020-12-08 17:44] kakirastern commented on #458
@pikachu404 Sure, if you come with with any ideas after some research do post them here or on the IRC channel so that we could continue our discussion

[2020-12-08 17:45] pikachu404 commented on #458
okay sure let some research then I'll get back to you

[2020-12-08 17:45] kakirastern commented on #458
Maybe this would serve as an interesting reference as basis: https://skyandtelescope.org/astronomy-resources/astrophotography-tips/

[2020-12-08 17:47] pikachu404 commented on #458
Thanks

[2021-01-14 01:41] keflavich opened #472 "Link or host CDS tutorials"
https://github.com/cds-astro/tutorials/tree/master/Notebooks was presented at a AAS webinar.

We should cross-list or cohost these notebooks.  They show how to use astropy with CDS tools like Aladin-lite

[2021-01-14 14:31] pllim commented on #472
Cross-list is lower barrier.

[2021-02-04 16:31] kelle opened #473 "Figure out where BSD3 and CC-BY license are most appropriate"
Some of the content here should be CC-BY while other parts should be BSD-3. It's not super obvious how to distinguish the code from the rendered materials. For example, I think the rendered ccdbook should have a CC-BY license in the acknowledgements. cc @mwcraig

[2021-02-04 20:32] kelle opened #474 "Post Install instructions for M1 Mac"
I worked with some folks to put together some instructions for how to get a new mac (with new chip) setup to work with Astropy. we should post this somewhere, but I'm not exactly sure how.  It's important to note that this document will go out-of-date quickly, so I would recommend we keep it as a google doc (or something similar) to convey it's transient nature.
https://docs.google.com/document/d/

[2021-03-02 11:57] RobinThomas95 commented on #463
Hi, I am encountering the aforementioned issue while using astroquery.ESASky queries. Can you guide me on a possible solution? Thank you

[2021-03-02 12:33] embray commented on #463
@RobinThomas95 This is fixed in the development version of astroquery and the relevant issue is here: astropy/astroquery#1856

You can install the latest development version of astroquery if you need this fixed.  Will you need help on how to do that?

[2021-03-02 12:35] RobinThomas95 commented on #463
@embray It'd be helpful if you could guide me on how to install the dev version of astroquery, Thank You

[2021-03-02 12:36] embray commented on #463
@RobinThomas95 How are you installing astroquery in the first place?

[2021-03-02 12:40] RobinThomas95 commented on #463
@embray I'm using pip install astroquery to install the package

[2021-03-02 12:46] embray commented on #463
@RobinThomas95 Ok great, in that case you can `pip install --pre astroquery` to install the latest pre-release, which I believe includes this fix.

[2021-03-02 16:24] Jerry-Ma opened #475 "Make a "package-template" repo for tutorials?"
I find the astropy package template repo helps a lot in the sense that it abstracts out most of the infrastructural work when setting up a new astronomy related package.

Is it possible to do the same for this repo? It'll make it much easier for anyone to setup a nice styled tutorial site with custom contents for more specific topics or their own astronomy related packages.

[2021-03-03 06:13] RobinThomas95 commented on #463
@embray Sorry for the late reply. I tried pip installing as you advised, restarted the Jupyter kernel that I'm using and then ran the astroquery. The error still persists.

[2021-03-03 15:03] pllim commented on #463
Might have to install from source `pip install git+https://github.com/astropy/astroquery`. Just to be safe, do a `pip uninstall astroquery` until it complains it cannot find `astroquery` **first** before you install from source.

[2021-03-03 16:51] adrn commented on #475
This is a great idea! We will discuss it at our next telecon and report back.

[2021-03-04 04:46] RobinThomas95 commented on #463
@pllim @embray Thank you so much, guys. The solution suggested by @pllim worked out for me. :)

[2021-03-09 15:28] pllim opened #476 "MNT: Rename default branch from master to main"
Please rename your default branch from `master` to `main` as part of astropy/astropy-project#151 , preferably by 2021-03-22. Also a friendly reminder to check documentation, workflows, etc., and update them accordingly. Please don't forget to communicate this change to your users and stakeholders. To summarize:

- [x] Rename branch from `master` to `main`, preferably by 2021-03-22.
- [x] Update do

[2021-03-10 14:47] HugoDelgado commented on #463
Im getting errors trying to install with Conda, pip or even the git source option.

[2021-03-10 15:28] pllim commented on #463
This particular issue from original post is already resolved. If you encounter problems with our tutorials, please open new issue with all the necessary info (versions, OS, environment, traceback). Thanks!

[2021-03-11 16:14] adrn commented on #475
Hi @Jerry-Ma -- this is something we would be interested in supporting once we finish our ongoing overhaul of the astropy tutorials infrastructure (probably in the 3–5 month timescale). However, we are interested in hearing more about your use case. In particular, would you be interested in contributing any of your tutorials to this site, or do you want to build out your own tutorials site?

[2021-03-12 13:27] Jerry-Ma commented on #475
Thanks a lot for the info.

We have been developing the data analysis suite for the TolTEC camera. The python packages there are set up using the astropy package template which works great. We recently started to put together a standalone tutorial site for using the python packages, and I thought it would be helpful to re-use the infrastructure here.

In the past week or so, I have copied this rep

[2021-03-17 02:25] aaastorrs commented on #465
Working through the wavelength calibration. What package is
linfit_wlmodel.inverse
in?
Thanks!

[2021-03-17 03:31] keflavich commented on #465
It's supposed to be made from something like this:
[code]
but it looks like some cells are missing?  I'm confused; these notebooks used to run standalone.

[2021-03-17 19:01] aaastorrs commented on #465
Thanks so much for getting back to me! There does indeed seem to be some stuff missing-I attach a screenshot of where things go crosswise for me. Some suspiciously blank lines...
-Alex

***@***.***D71B3E.7AE884E0]

From: Adam Ginsburg ***@***.***>
Sent: Tuesday, March 16, 2021 11:32 PM
To: astropy/astropy-tutorials ***@***.***>
Cc: Storrs, Alex ***@***.***>; Comment ***@***.***>
Subject: Re: [astr

[2021-03-17 19:09] keflavich commented on #465
Looks like a key cell accidentally got deleted!

https://nbviewer.jupyter.org/github/keflavich/AST4723-Public-Materials/blob/978f0a8880476698618c0724098825a31db8d248/spectroscopy/Wavelength%20Calibration.ipynb

Look at cell 24

[2021-03-17 19:16] keflavich commented on #465
I just pushed a fix.  I must have had the text selected and pressed "space" or something... this happens with browser-based editing =/

[2021-03-17 19:34] aaastorrs commented on #465
As George Takei says, "Oh my!" Thanks for the fix, I'll try that on my data.
-Alex

From: Adam Ginsburg ***@***.***>
Sent: Wednesday, March 17, 2021 3:17 PM
To: astropy/astropy-tutorials ***@***.***>
Cc: Storrs, Alex ***@***.***>; Comment ***@***.***>
Subject: Re: [astropy/astropy-tutorials] Spectroscopic data reduction tutorials (#465)

[EXTERNAL EMAIL - USE CAUTION]

I just pushed a fix. I must

[2021-03-17 20:14] aaastorrs commented on #465
That seems to fix it! Now, it looks like the NIST table for Ne has some odd relative intensity values-things like "50f", "70f", etc. Can I add something to the line

ne_keep = np.array(['*' not in x for x in neon_lines['Rel.']])

so that it will mask these out, as well as the asterisks?

Thanks!

-Alex

From: Adam Ginsburg ***@***.***>
Sent: Wednesday, March 17, 2021 3:17 PM
To: astropy/astropy-tu

[2021-03-17 20:39] keflavich commented on #465
might be worth posting a more extensive issue about that; if you're getting
something different than I did, it may mean that NIST data formats have
changed?

[2021-03-17 22:15] aaastorrs commented on #465
I actually printed out the table, most of the numbers are fine. Occasionally an intensity number followed by “f” shows up, and Python can’t convert that to floating point. I’m such a beginner at Python that I don’t know how to strip these out, but it seems like a simple search should do it.

Thanks again!

-Alex

On Mar 17, 2021, at 4:39 PM, Adam Ginsburg ***@***.***> wrote:

﻿
[EXTERNAL EMAIL - U

[2021-03-18 15:36] aaastorrs commented on #465
I just copied the terms you had to eliminate blank or asterisked lines until Python stopped giving me error messages. Thanks so much for putting this together! Python is now the fourth data reduction language I've had to learn, and clearly I have a ways to go...

Sincerely,

Alex

From: Adam Ginsburg ***@***.***>
Sent: Wednesday, March 17, 2021 4:40 PM
To: astropy/astropy-tutorials ***@***.***>
Cc

[2021-03-24 16:46] stargaser opened #478 "Tutorial idea: replacing IRAF image registration workflow with Astropy equivalents"
From a request from a colleague:

* precisely register two images, one to the other
   * typically two HST images, although possibly not with the same camera (e.g. ACS vs WFC3)
   * sometimes one image is ground-based, one image is space-based
   * procedure is to obtain accurate centroids of stars in common between the 2 image datasets, and then use `geomap` to determine the astrometric solution

[2021-03-24 18:18] pllim commented on #478
I feel like STScI already has tools for things like this. Maybe @stsci-hack knows.

[2021-03-25 15:54] astrofrog opened #655 "Make a series of videos related to contributing to open source/software education"
As I suggested at the March 2021 coordination meeting, one 'easy' way to reach many junior people/students would be to make a series of short videos e.g. taking people through doing a pull request, writing tests, etc. (things we might cover in an in-person workshop). A lot of students these days learn through videos, and this would be much more cost-effective than going to places in person and giv

[2021-04-06 18:41] keflavich commented on #88
https://github.com/spacetelescope/notebooks/pull/124

[2021-04-08 15:11] kelle opened #661 "Ingest the STScI notebooks to the index"
Lots of great content developed and housed here: https://github.com/spacetelescope/notebooks.  This should be one of the first external repos to be added to our index.

[2021-04-08 15:47] keflavich opened #660 "Link to WIP tutorials"
There are often partially-completed tutorials, such as those that have complete functionality but are missing descriptive text, that are still valuable to share with the community.  I suggest that these should be linked and marked with a "WIP" tag to increase their visibility and perhaps prevent duplication of effort.

[2021-04-17 00:25] tckosvic opened #479 "Tutorial re: Deredden a Spectrum"
I am trying to learn something about astropy and MAST at the same time.  My python throws
WARNING: NoResultsWarning: Query returned no results. [astroquery.mast.core]      from code below.

It is not finding any data at obs 3000022829 for HD 147933 (see code below).
I looked this up directly on MAST site and couldnt find any observation with that number for HD 147933.
Could you verify that the obs

[2021-05-04 16:38] kelle opened #480 "Add MAST tutorials to search results"
Include tutorials hosted by MAST into our search results.

[2021-05-04 16:38] kelle opened #656 "Add MAST tutorials to search results"
Include tutorials hosted by MAST into our search results.

[2021-05-10 13:19] adrn opened #481 "color-excess tutorial is failing"
See, e.g., https://app.circleci.com/pipelines/github/astropy/astropy-tutorials/106/workflows/16a549a0-38a4-4356-b1c2-d9688590e408/jobs/791

[2021-05-10 13:20] adrn opened #482 "Add exercises to the new astropy.coordinates tutorial series"
Some of the new tutorials do not contain any exercises for the reader.

[2021-05-10 13:20] #422 closed

[2021-05-10 13:41] pllim commented on #481
Looks like MAST -- @ceb8, any ideas?

[code]

[2021-05-10 16:34] ceb8 commented on #481
It seems like that obsid is not valid anymore. Possibly with the latest CAOM upgrade. Someone who knows what the observation in question is should update the obsid, or even better, make it not hard coded.

[2021-05-12 20:52] stephtdouglas commented on #481
I can try to take a look tomorrow or Friday, but I think @krislars (who I can't seem to tag) was the original author. I helped with minor updates to the existing tutorial.

[2021-05-12 20:55] krislars commented on #481
Here I am!  @stephtdouglas, the tag worked.  I can take a look over the weekend.

[2021-05-18 05:28] krislars commented on #481
I think that I fixed the MAST observation ID.  And I also think that I initiated a pull request?  I'm rusty on the protocol.  As the original author of this tutorial, I can see several ways to improve it now, but this small change should fix the problem for now.

[2021-05-18 13:51] pllim commented on #224
STAK is no longer actively developed.

[2021-05-18 13:51] #224 closed

[2021-05-18 13:51] pllim commented on #459
Maybe this is biting us now. I see that the RTD webhook is broken.

[2021-05-18 13:55] adrn commented on #459
New front-end deploy is imminent (cc @jonathansick)! When I find a few hours of time, I'm planning to replace the current site with a simple "new site coming soon" + static list of links to rendered tutorials.

[2021-05-18 14:20] pllim commented on #459
I hope you add a 1990s 🚧 GIF, for old time's sake!

[2021-05-18 14:33] adrn commented on #459
<img src="https://github.com/davidwhogg/AstroWorse/blob/master/astroworse/static/images/underconstruction.gif?raw=true"/><img src="https://github.com/davidwhogg/AstroWorse/blob/master/astroworse/static/images/underconstruction.gif?raw=true"/><img width=42px src="https://github.com/davidwhogg/AstroWorse/blob/master/astroworse/static/images/siren.gif?raw=true"/><img width=42p src="https://github.com

[2021-05-18 19:47] #481 closed

[2021-05-20 15:21] #476 closed

[2021-06-16 21:15] eblur commented on #220
These are on my personal github profile now:
https://github.com/eblur/how-to

[2021-06-16 21:15] #220 closed

[2021-06-16 21:15] eblur commented on #221
These are on my personal github page now:
https://github.com/eblur/how-to

[2021-06-16 21:15] #221 closed

[2021-06-16 21:32] eblur commented on #260
Combine this with Issue #440

[2021-06-17 15:39] kelle commented on #440
From #260 , we want this tutorial to check all these boxes:

Measure EW of high res vs low res version.
- [ ] how to access spectrum? astroquery?  high res spectrum with uncertainty.
- [ ] custom loader
- [ ] generate the Spectrum1D object.
- [ ] something about noise - can generate our own unc attribute of Spectrum1D.
- [ ] spectrum arithmetic.
- [ ] spectrum regions
- [ ] Deconvolve - smoothing.

[2021-06-17 15:40] kelle commented on #260
Migrated to #440

[2021-06-17 16:09] kelle commented on #278
For example, sending tables back and forth between Topcat, Aladin, and DS9.

There are examples of functionality here: https://docs.astropy.org/en/stable/samp/example_table_image.html#sending-a-table-to-topcat-and-ds9

[2021-06-17 16:12] stargaser commented on #278
GAVO have done workshops on this:
https://www.g-vo.org/pmwiki/VOWorkshop/6BISSHandson?n=VOWorkshop/6BISSHandson

[2021-06-17 16:18] kelle commented on #251
Updated link to notebook: https://colab.research.google.com/drive/1_9t1PM-oyOyiDruLxEx0J7djSsX163qC?usp=sharing

[2021-06-17 16:18] stargaser commented on #278
In particular see https://nbviewer.jupyter.org/url/docs.g-vo.org/pyvo/html/tap_obscore.ipynb

[2021-06-17 16:25] eblur commented on #156
@kelle does this tutorial suffice? https://learn.astropy.org/rst-tutorials/Models-Quick-Fit.html?highlight=fitting
If so, I will close this issue.

[2021-06-22 14:50] stephtdouglas opened #487 "Files missing in tutorial notebook"
Hey y'all, my student is currently trying to use one of the Tables tutorials, and the links to the example data seem broken/missing. This is the one we're working on right now:
https://learn.astropy.org/rst-tutorials/plot-catalog.html?highlight=filtertutorials%20filtertable#exercises

There are lines that say
(see simple_table.csv)
and
(see Young-Objects-Compilation.csv)

but it's not clear where

[2021-06-22 14:57] pllim commented on #487
Files are here: https://github.com/astropy/astropy-tutorials/tree/main/tutorials/notebooks/plot-catalog

[2021-06-22 15:53] kelle commented on #156
Yep, sure does!

[2021-06-22 15:58] adrn commented on #156
Mine is more of a pedagogical introduction to the concepts - the existing one is more focused on astropy.modeling (assuming the concepts are already understood). I think that's fine, but I am still looking for a home for my longer tutorial :)

[2021-06-22 16:02] kelle commented on #156
I admit, I didn't take a look at @adrn's tutorial. Let's discuss at the next Leran telecon.

[2021-06-24 15:48] kelle opened #488 "Identify Featured Tutorials/Guides"
We want to have a default set of tutorial content which shows up "above the fold" on the landing page. We need to decide what these should be.  Please put your nominations in this issue.

[2021-06-24 15:48] kelle opened #657 "Identify Featured Tutorials/Guides"
We want to have a default set of tutorial content which shows up "above the fold" on the landing page. We need to decide what these should be.  Please put your nominations in this issue.

[2021-06-25 20:29] stephtdouglas commented on #487
Thanks - it would be good to have those linked on the tutorial page itself, or downloaded along with the ipynb, so that other users don't need to go hunting for the tutorial data

[2021-06-25 20:33] pllim commented on #487
@stephtdouglas , I agree! I think @jonathansick is revamping the page right now?

[2021-06-28 14:17] eblur commented on #488
Here are my favorite Astropy tutorials:
* Getting Started with Astropy Coordinates: https://learn.astropy.org/rst-tutorials/1-Coordinates-Intro.html
* Cross matching coordinates: https://learn.astropy.org/rst-tutorials/4-Coordinates-Crossmatch.html
* Quick fit with Astropy modeling: https://learn.astropy.org/rst-tutorials/Models-Quick-Fit.html
* Synthetic images from simulated data: https://learn.

[2021-06-28 20:08] keflavich commented on #158
bump!  I want tutorials to be citable objects!  (necessary for grants that don't accept URLs in the main text)

[2021-06-30 13:38] keflavich commented on #478
:+1: from me.  I have a workflow I used with a student here:
https://github.com/keflavich/W51-GTC-2020/blob/master/notebooks/ExamineW51Files.ipynb

or here: https://nbviewer.jupyter.org/github/keflavich/W51-GTC-2020/blob/master/notebooks/ExamineW51Files.ipynb

it goes through catalog cross-matching & WCS fitting.  So more like the second approach.

The reprojection step is done w/the reproject pac

[2021-07-01 16:04] keflavich opened #651 "Index radio-astro-tools"
Like astropy/astropy-tutorials#480 - radio-astro-tools has some tutorials we'd like to have listed here.

https://github.com/radio-astro-tools/tutorials/

Please share documentation about requirements (keywords, etc) when those are available, and we'll revise the tutorials to comply.

[2021-07-06 13:54] keflavich commented on #443
Even though this was closed... I don't see this material in the tutorials.  This is the snippet I use.  Should we consider adding to core?

[code]

[2021-07-08 15:29] kelle commented on #443
There is an implementation of a scale bar in Section 3 of [Working with Celestial Coords with WCS I](https://learn.astropy.org/rst-tutorials/celestial_coords1.html?highlight=filtertutorials).  So, as far as I'm concerned, from a Tutorial perspective, this is addressed.

If you want to propose to add it to core -- which makes total sense -- I assume you'd want to open that issue/PR in a different r

[2021-07-29 16:04] eblur opened #492 "FITS-cubes is no longer building in Circle CI"
On PR #491 , Circle CI is breaking on the FITS-cubes tutorial:

https://app.circleci.com/pipelines/github/astropy/astropy-tutorials/118/workflows/94aae9e5-44d9-4bd9-aacd-ec7d2ab61920/jobs/801

We need to check if this tutorial can still run locally. If not, the tutorial needs to be fixed. If it can run locally, then there is probably an issue with Circle CI access to the ESA Sky server. We might h

[2021-09-07 15:20] eblur opened #493 "Potential Algolia search ingest: Jupyter Notebook tutorials from Chandra Data Science workshop"
I attended the Chandra Data Science workshop last month and took note of a few very helpful tutorials.

One in particular teaches folks how to access the Chandra Source Catalog from a Jupyter Notebook (a big upgrade in the CSC access): https://github.com/juramaga/CSC2_tutorials/blob/main/CDS2021_CSC2_tutorial.ipynb

Here is a series of tutorials from Sherpa: https://github.com/cxcsds/sherpa-notebo

[2021-09-07 15:20] eblur opened #659 "Potential Algolia search ingest: Jupyter Notebook tutorials from Chandra Data Science workshop"
I attended the Chandra Data Science workshop last month and took note of a few very helpful tutorials.

One in particular teaches folks how to access the Chandra Source Catalog from a Jupyter Notebook (a big upgrade in the CSC access): https://github.com/juramaga/CSC2_tutorials/blob/main/CDS2021_CSC2_tutorial.ipynb

Here is a series of tutorials from Sherpa: https://github.com/cxcsds/sherpa-notebo

[2021-09-07 15:40] eblur opened #658 "Manual check that tutorial labels are correct, likely after soft launch"
We should do a manual (visual) inspection that tutorials are labeled properly and take note of any potential missing labels before the soft launch.

I recommend fixing any wrong labels or cross-references before the soft launch.

I recommend that missing labels be addressed after the soft launch.

[2021-09-14 15:00] jonathansick opened #662 "Metadata standard for guides"
In tutorials, we currently extract metadata based on a standardized format. For guides, with only one currently available, there isn't any such standard. And further, there's some metadata types that aren't currently extracted for guides: namely keywords. This is a good opportunity to design a metadata system for guides that is straightforward for authors to use, and provides a rich set of metadat

[2021-09-16 02:11] charmoniumQ opened #494 "Explain why one should/shouldn't use seed"
[tutorials/notebooks/quantities.ipynb](https://github.com/astropy/astropy-tutorials/blob/main/tutorials/notebooks/quantities/quantities.ipynb) says

I argue the contrary, one should use a seed because it makes the results deterministic and reproducible by others. If you need to search the random space more thoroughly, then search more options _within_ the program, not by running the program multip

[2021-09-23 13:01] adrn commented on #492
Going to close this because the build machinery is about to change, and I've already disabled the circleci builds! (see #495)

[2021-09-23 13:03] adrn commented on #270
Going to close this because the build machinery is about to change, and I've already disabled the circleci builds! (see #495)

[2021-09-23 13:03] #270 closed

[2021-09-23 13:03] adrn commented on #204
I think this is no longer relevant!

[2021-09-23 13:03] #204 closed

[2021-09-23 13:04] adrn commented on #211
Going to close this because the build machinery has changed significantly and we now can see which cells timeout with nbcollection!

[2021-09-23 13:04] #211 closed

[2021-09-23 13:07] adrn commented on #268
No longer relevant

[2021-09-23 13:07] #268 closed

[2021-09-23 13:08] #428 closed

[2021-09-23 13:09] adrn opened #496 "Test tutorials against dev versions of Astropy, numpy, matplotlib"
We should add a test build that checks against dev versions of these packages (generalized from #428)

[2021-09-23 13:15] adrn commented on #82
No!

[2021-09-23 13:15] #82 closed

[2021-09-27 00:31] adrn commented on #494
I'm not sure why this tutorial says that! I would agree with you @charmoniumQ, so I think we should just remove this line on our next review of the content. Thanks!

[2021-10-05 15:23] #459 closed

[2021-10-05 15:23] #445 closed

[2021-10-05 15:24] #416 closed

[2021-10-05 15:25] adrn commented on #401
Closing in anticipation of new website launch

[2021-10-05 15:25] #401 closed

[2021-10-05 15:25] #382 closed

[2021-10-05 15:25] #358 closed

[2021-10-05 15:26] adrn commented on #358
Now that we're using `nbcollection`, this is no longer relevant.

[2021-10-05 15:26] adrn commented on #313
We no longer use sphinx, so this is not relevant.

[2021-10-05 15:26] #313 closed

[2021-10-05 15:27] adrn commented on #301
No longer relevant.

[2021-10-05 15:27] #301 closed

[2021-10-05 15:27] #349 closed

[2021-10-05 15:27] adrn commented on #353
I think this was resolved?

[2021-10-05 15:27] #353 closed

[2021-10-05 15:27] adrn commented on #352
I believe this is solved as well.

[2021-10-05 15:27] #352 closed

[2021-10-05 15:28] #299 closed

[2021-10-05 15:28] adrn commented on #271
No longer relevant.

[2021-10-05 15:28] #271 closed

[2021-10-05 15:29] #234 closed

[2021-10-05 15:30] adrn commented on #174
Oooh, I solved this in astropy/astropy-data#118 !! Only 4 years later...

[2021-10-05 15:30] #174 closed

[2021-10-05 15:31] #152 closed

[2021-10-05 15:32] adrn commented on #152
Moving to a new, more general issue about testing the notebooks with different versions.

[2021-10-05 18:42] mgeier commented on #313
Thanks for the update @adrn.

The bottom of the linked page still says "Created using Sphinx 2.4.4.".

Is this page outdated?
Will it be replaced?

Even if you don't use Sphinx (which is totally fine, it's your choice!), my points above are still valid, aren't they?

Again, I'd love to hear some details about what you are missing from `nbsphinx`, so that I can hopefully improve it.

[2021-10-13 18:01] karenlmasters opened #499 "Computing Galactic Orbits of Stars with Gala"
Main problem - importing gala (I'm doing this in Sciserver and did `!pip install astro-gala` in a cell in the notebook to get it installed - it has astroquery already) results in the following error:

`ValueErrorTraceback (most recent call last)
<ipython-input-4-49141627ff58> in <module>
     12
     13 # gala imports
---> 14 import gala.dynamics as gd
     15 import gala.potential as gp
     16 f

[2021-11-29 16:54] jzoubian opened #506 "BUG in tutorials/UVES/UVES.ipynb function read_setup()"
During astroinfo 2021, we used your great tutorials and one of the participant founds a bug in the tutorials UVES, in the function read_setup()

[code]

`sp = fits.open(filelist[0])` should be `sp = fits.open(filename)`.

In the loop :
[code]
all the setup are the same because it is always the same print filelist[0].

[2021-12-14 16:55] jonathansick opened #650 "Document how to use and add to the keywords listing in the tutorial contributions guide"
The de-facto reference for allowed keywords is in learn-astropy-librarian at https://github.com/astropy/learn-astropy-librarian/blob/main/astropylibrarian/data/keywords.yaml

The contribution guide should tell contributors what keywords are allowed and should also provide a process for how to suggest new keywords.

Note that we'd also like to adopt UAT: see astropy-learn/astropy-tutorials#652

Als

[2021-12-14 17:04] jonathansick opened #509 "Add GitHub Actions check for keywords"
It'd be great to have a GitHub Actions check to ensure that tutorial contributions are using the known keyword vocabulary (e.g. as specified in https://github.com/astropy/learn-astropy-librarian/blob/main/astropylibrarian/data/keywords.yaml)

See also [astropy/learn-astropy#](https://github.com/astropy/learn-astropy/issues/42) for a related documentation ticket.

[2021-12-27 16:04] rr34 opened #512 "Error "... object has no attribute 'to_value'" in distances.py"
### Description

Error during the [Astronomical Coordinates Astropy tutorial](https://www.astropy.org/astropy-tutorials/rst-tutorials/1-Coordinates-Intro.html?highlight=filtertutorials) on step 27 where it converts from parallax to parsecs. Error "... object has no attribute 'to_value'" in distances.py on line 148.

### Expected behavior

I copy-pasted the code from the tutorial so I expected no e

[2021-12-27 16:11] pllim commented on #512
FYI -- I tranferred this to tutorial repo, in case this is something that can be fixed on the tutorial side. cc @adrn

[2021-12-27 16:14] eerovaher commented on #512
What is the full error message?

[2021-12-27 17:25] rr34 commented on #512
Traceback (most recent call last):
  File "C:\Users\nate\PycharmProjects\pythonProject\HelloWorld\main.py", line 80, in <module>
    gaia_dist = Distance(parallax=ngc188_table_3d['parallax'])
  File "C:\Users\nate\PycharmProjects\pythonProject\HelloWorld\Raspberry Pi Zero W\lib\site-packages\astropy\coordinates\distances.py", line 149, in __new__
    value = parallax.to_value(u.pc, equivalencies=u

[2021-12-27 17:29] rr34 commented on #512
Here is my entire code just so you can see what line 80 is in my code. Kind of a mess I'm just experimenting with it you can see I just called it HelloWorld.

-----Code starts next line-----
# This is a sample Python script.
# Press Shift+F10 to execute it or replace it with your code.
# Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

def print_hi(

[2021-12-27 18:43] eerovaher commented on #512
The fact that the error mentions `MaskedColumn` indicates that your data is in a `Table`, not a `QTable`, and that is the reason why creating `Distance` objects fails.

The tutorial writes the Gaia archive query result to a file and then reads it in as a `QTable`:
[code]
This ensures that the relevant columns get converted to `Quantity` (or `MaskedQuantity`) instances, as explained a few paragraph

[2021-12-27 19:08] adrn commented on #512
I think the tutorial link you found is a slightly out of date version of the tutorial, so thanks for finding and reporting this, I'll have to track down how to get rid of those pages or at least put a warning up! The newer version of the tutorial is here, which I believe handles the masking issue: https://learn.astropy.org/tutorials/1-Coordinates-Intro.html

[2022-01-04 16:23] kelle opened #513 "Add Download and Launch buttons"
Current version of rendered notebooks do not include a button to download the notebook and/or to launch the notebook in some cloud space (e.g., Binder).

[2022-01-04 16:24] adrn opened #514 "color_excess tutorial is failing because it can't access an STScI page"
See an example here:
https://github.com/astropy/astropy-tutorials/runs/4662944242?check_suite_focus=true

cc @krislars

[2022-01-04 16:34] kelle opened #515 "Update README"
Update README to describe relationship to learn-astropy repo and link to new contributing docs and what not.

[2022-01-04 16:35] adrn commented on #506
Thanks for catching this! I implemented a fix in #506

[2022-01-04 16:38] pllim commented on #514
Whoops. IT made me shut down that domain. Please replace "cdbs" with "trds"; e.g., http://ssb.stsci.edu/trds/calspec/alpha_lyr_stis_008.fits

[2022-01-04 17:11] jonathansick opened #518 "Use nbstripout with pre-commit to ensure notebook outputs are cleared"
Our goal is to keep this astropy-tutorials repo easy to clone, so that means we'd like to ensure that all notebooks committed to `main` _don't_ include their outputs. pre-commit with an nbstripout hook is a great way to do this. We can have instructions on how to set up pre-commit as a contributor, and also run pre-commit as part of CI.

We'd want to have a policy of squashing all PRs so that inte

[2022-01-04 17:11] adrn opened #519 "In PRs, only execute notebooks that have been modified"
We have discussed this idea for a while, but we should implement functionality such that in a pull request, nbcollection only executes notebooks that have been modified. This will significantly reduce the CI headaches we have in PRs! If we do this, we should add an optional label that would trigger executing all notebooks, and add a weekly cron job that executes all notebooks.

This could either b

[2022-01-04 17:11] #514 closed

[2022-01-04 17:32] jonathansick opened #663 "Alternate metadata format for tutorials to support third-party sites"
The current metadata standard for tutorials involves a specific format in the notebook content. Keywords, authorships, and descriptions are extracted heuristically from the content. For third-party tutorial sites, we can't impose this specific format. Instead, we should have a way for authors to define Learn Astropy metadata without affecting their notebook's content. Besides the schema for this m

[2022-01-04 21:07] jonathansick opened #520 "Add a section navigation sidebar to the tutorial HTML page template"
Let's add a sidebar to our HTML page template (see also #513) that includes links to the section titles. This would need some code that parses the markdown content and build the section hierarchy.

Doing this will help a lot with longer tutorials by providing an automatic overview of the content and an affordance for moving around quickly within the tutorial.

[2022-01-04 21:58] jonathansick commented on #519
Related issue with a different approach, but not necessarily better: https://github.com/astropy/astropy-tutorials/issues/461

[2022-01-05 15:22] adrn opened #521 "Replace gh-pages site with redirect to learn.astropy.org?"
Currently, https://www.astropy.org/astropy-tutorials/ still exists and is serving the old gh-pages site from this repo (I believe).

[2022-01-05 20:05] #519 closed

[2022-01-05 20:10] adrn commented on #357
Not using sphinx anymore, so I think this is not relevant?

[2022-01-05 20:10] #357 closed

[2022-01-05 20:11] adrn commented on #461
I think we can close this -- we have a simpler solution, so we can explore this if there is sufficient motivation!

[2022-01-05 20:11] #461 closed

[2022-01-05 20:28] adrn commented on #64
This can now be done with setuptools `pkg_resources` with the one-liner:
[code]
Maybe we should add this to our readme?

[2022-01-06 22:18] adrn commented on #521
Done, just waiting for the live gh-pages site to update.

[2022-01-06 22:18] #521 closed

[2022-01-07 05:58] #64 closed

[2022-01-10 18:17] #515 closed

[2022-01-13 15:36] adrn opened #526 "Makefile commands only run modified notebooks if changes have been committed"
TODO: update the [get_modified_tutorials](https://github.com/astropy/astropy-tutorials/blob/main/.github/get_modified_tutorials.py) script to pull files from the staging area or modified files.

[2022-01-13 17:55] #526 closed

[2022-01-18 14:07] adrn commented on #474
I recently got an M1 mac and didn't have to follow any special instructions to set it up (it was the same as I've done on any other mac I've had). Is it possible this is now obsolete because packaging has caught up and made it simple again?

[2022-01-18 16:07] adrn opened #532 "Explore possibilities for linking the executed (with output) and rendered (HTML) notebooks in a PR"
The build artifacts from a PR's CI run should contain these things. Is there a resource we can use that will take the artifact, unzip it, and serve it at a url?

[2022-01-18 16:08] adrn commented on #532
@Cadair: We used to use Giles to provide a link to our built Sphinx site in a PR. We've switched to using nbconvert more directly, but it would be cool to link to the converted/rendered HTML notebooks in a PR. Do you know of relevant infrastructure we could use to do that?

[2022-01-18 19:32] #518 closed

[2022-01-20 15:19] kelle opened #534 "How to handle tutorials in languages other than English?"
We are already getting contributions in Brazilian Portguese and could imagine wanting to translate the tutorials into Spanish. How do we want to handle this?  Potentially adding a new label category for language. Default would be to show the English tutorials but the availability of other languages would be visible.

[2022-01-20 15:25] adrn opened #535 "Update README to use new Makefile"

[2022-01-21 02:08] pllim commented on #534
Definitely need someone on the tutorial team to vet any translated languages. For instance, if someone starts to contribute in Chinese but we do not have anyone fluent in written Chinese, then what do you do?

[2022-01-24 15:02] Cadair commented on #532
Well if you use circleci and upload the html from nbconvert to circleci's artifacts then you could still use giles as you can configure it to link to any file on circleci's aritfacts.

I am not aware of any other CI provider other than circle CI which lets you direct link to HTML pages and be able to see them in the browser without any issues, so that's why I say use circleci.

[2022-01-27 15:40] jonathansick opened #664 "Add page featuring affiliated packages and links to package documentation"
From @mwcraig:

The affiliated package page https://www.astropy.org/affiliated/index.html is nice but not where folks might first go for help.

This is a great idea, and could be accomplished by adding another primary page to Learn Astropy featuring links to all packages in the Learn Astropy ecosystem.

 A second level of integration would be to add records to Algolia that cover the package's meta

[2022-02-17 15:29] kelle opened #540 "Ingest some of DFMs tutorials"
@dfm has several widely used, Astro-relevant packages that also have great tutorials which we could add to our index. For example, here’s one about fitting missing data in a light curve:
https://celerite.readthedocs.io/en/stable/tutorials/first/

Dan, if any others come to mind, could you link to them here?

[2022-02-18 16:49] adrn opened #541 "Add section to the WCS/celestial coordinates tutorial to demonstrate adding NE compass"
Requested by Julianne Dalcanton! It would be nice to add one more section (or to an existing section) a demo of how to add a little "N/E" right angle _| coordinate marker oriented with a specified coordinate frame, since that is a common use case.

https://learn.astropy.org/tutorials/celestial_coords1.html

[2022-03-17 12:30] keflavich opened #544 "Integrate PDR Toolkit tutorials"
https://github.com/mpound/pdrtpy-nb

[2022-03-23 15:37] hamogu opened #545 "UVES notebook"
Now that we have specutils, this notebook https://learn.astropy.org/tutorials/UVES.html could use specutils functions where available.

[2022-04-01 17:17] jonathansick opened #547 "ExtractOutputPreprocessor isn't being used by nbcollection?"
In #530 we enabled the ExtractOutputPreprocessor (which extracts figures from html files, thereby making them something that the UI can source in the cards). However, this doesn't seem to actually be running. If you look at any `rendered-tutorials` artifact, the figures are definitely still embedded.

Are traits not getting passed by nbcollection to nbconvert? Any ideas @adrn?

Now, we can work ar

[2022-04-07 14:00] adrn commented on #547
Hm, not sure! I can look into this next week

[2022-04-14 14:28] eblur commented on #545
We hired some people to work on this and will add this to our to-do list this summer

[2022-04-14 14:33] eblur commented on #479
We will have some one check this tutorial this summer.

[2022-04-14 14:37] eblur opened #551 "Check that tutorial labels are correct and relevant"
See Issue #26 in the learn-astropy repo: https://github.com/astropy/learn-astropy/issues/26

I should have put that issue in this repo, but oh well. There is sufficient discussion in that thread so I want to leave it open.

[2022-04-14 14:42] eblur opened #552 "Check that tutorials run in the latest version of Astropy"
This summer we will check that each tutorial currently available on the Learn Astropy website works in the latest version of Astropy. Use this issue as a check-list and report progress.

* Does every Jupyter notebook cell run as expected?
* If there are bugs, were you able to fix them? If not, we will find the best person to contact regarding the issue.

First set of tutorials to check:
- [ ] Modi

[2022-04-14 14:47] eblur opened #553 "Check that all tutorials follow the Contributing document standards"
We will check that all tutorials follow the standard template in the [Contributing documentation](https://learn.astropy.org/contributing/how-to-contribute)

* Does the header conform to the template? If not, modify it.
* Does the tutorial follow the general guidelines with respect to voice, clarity, and using descriptive headers? If not, how would you modify it?

First set of tutorials to go throu

[2022-04-14 14:56] jonathansick commented on #532
Maybe we could set up a staging server? Deploy into this repo's GitHub Pages with a directory prefixed by the PR number? We could even have a GitHub Actions workflow that cleans up the staged directory in gh-pages when a PR is closed.

There is the security concern of hosting content from PRs (though it wouldn't be highly visible and wouldn't be indexed by search engines, so it may be an acceptabl

[2022-04-14 15:35] Cadair commented on #532
You *could* but given the circle ci provides that feature for free why would you?

[2022-04-14 15:50] adrn commented on #547
I think this commit will fix the issue: https://github.com/astropy/nbcollection/commit/a1101efbf140d872a8220a6bbb3d95f29a9887f0

[2022-05-27 16:53] eblur opened #555 "Content review of FITS file tutorials"
Review the content and provide updates that are relevant for an undergraduate audience.

* [Viewing and manipulating data from FITS tables](https://learn.astropy.org/tutorials/FITS-tables.html)
* [Viewing and manipulating FITS images](https://learn.astropy.org/tutorials/FITS-images.html)
* [Edit a FITS header](https://learn.astropy.org/tutorials/FITS-header.html)

[2022-05-27 16:55] eblur opened #556 "Content review of Astronomical Coordinates series"
Review the content and provide updates that are relevant for an undergraduate audience.

* [Astronomical Coordinates 1](https://learn.astropy.org/tutorials/1-Coordinates-Intro.html) - SS, CZ, LL
* [Astronomical Coordinates 2](https://learn.astropy.org/tutorials/2-Coordinates-Transforms.html) - CZ (primary), LL
* [Astronomical Coordinates 3](https://learn.astropy.org/tutorials/3-Coordinates-Velocit

[2022-06-22 20:11] EdBehn opened #562 "Incorrect derivatives in User-Defined-Model tutorial"
I believe that I have have found a mathematical error in the User-Defined-Model tutorial (Full custom model section).

The derivatives should be

<code>d_a = np.sin(b\*x+c)</code>

and

<code>d_c = a\*np.cos(b\*x+c)</code>

[2022-07-21 16:25] eteq opened #649 "Tutorial on finding WCS solutions (and possibly simple coadd/differencing?)"
The functionality of this function: https://docs.astropy.org/en/stable/api/astropy.wcs.utils.fit_wcs_from_points.html is really begging for a tutorial. It could conceivable be added to the photometry guide, but sometimes you just want to do this for astrometry too, so I think it could be a good stand-alone tutorial.  I would imagine the following (I've split this into 3 parts which could be a 3-pa

[2022-09-16 13:50] keatonb opened #570 "wrong weights used in Models-Quick-Fit tutorial"
Happened across [this tutorial](https://learn.astropy.org/tutorials/Models-Quick-Fit.html) and saw weights getting passed to the fitting function as 1/err**2, but the fitter expects weights of 1/err. Worth fixing!

[2022-10-04 12:54] adrn commented on #570
Fixed in #571

[2022-10-04 12:54] #570 closed