[2013-04-25 02:26] hamogu opened #4 "How do we deal tutorials that are already hosted elsewhere?"
So far, this repository is fairly empty, but there are already several astropy tutorials "in the wild".

@astrofrog wrote on if it:
http://astropy4mpik.readthedocs.org/en/latest/index.html

I made a slightly modified version:
http://python4astronomers.github.io/astropy/astropy.html

A second tutorial, that focuses on other other aspects of astropy is here
http://python4astronomers.github.io/astrop

[2013-06-09 17:53] #4 closed, assigned to nobody

[2013-06-09 17:57] adrn opened #6 "Write a template tutorial"
Once we decide on exactly how to structure the repo, we need to write a template tutorial with instructions to encourage other users to contribute to this repository.

[2013-06-09 18:02] adrn opened #7 "On tutorial front-end, figure out organization"
On the tutorial front-end site, we should offer a few different sort options for the tutorials -- e.g., by type of tutorial (data reduction? data analysis? etc.), data used (SDSS, 2MASS, etc.), astropy subpackages used, and "difficulty".

[2013-06-09 18:05] adrn opened #8 "How to publish these tutorials?"
By "publish" I just mean "make visible on the web".

@eteq and I discussed this a bit when he was at Columbia last month, but I think there are still some open questions. I think we concluded that we could point to them from tutorials.astropy.org, but then the remaining questions:
- The tutorials are written in ReST but since they live here (in a separate repository), what's the best way to incorp

[2013-10-07 21:19] kelle opened #10 "WCS Snippet"
Load a fits and get WCS out. pixel to RA/Dec for thousands of points. and the other way around.
Nadia Dencheva nadia.dencheva@gmail.com. @nden

[2013-10-08 15:47] kelle opened #11 "All Sky Projection Snippet"
This is a great snippet...plot a bunch of RA/Dec points in a 2D projection. It's already included in one of the Tutorials, but needs to be updated based on some keyword change in astropy.coords.

[2013-10-08 15:49] kelle opened #12 "Fit models to 2D scatter plot Tutorial"
it a straight line/polynomial/power law/gaussian chi^2 min to a 2D scatter plot.
-  fit a Sersic profile to a galaxy image

EG: Markwardt fitting table, matplotlib, modeling - NADIA. + staff/student
@nden

[2013-10-08 15:52] kelle opened #13 "FITS header manipulation Snippet"
Read a FITS file, edit header and write it back out. Already done but needs to be turned into a ipython notebook and committed.
@jfoster17

[2013-10-08 15:53] kelle opened #14 "High level table operations Tutorial"
High level table operations - database-y things.
Table with list of multiple observations for different objects. filter by groups. select based on phot, or calculated operations. TOM A. + someone at CfA
@taldcroft

[2013-10-08 15:54] kelle opened #15 "VO Cone Search Tutorial"
perform a code search around a short list of targets.
@pllim

[2013-10-08 15:56] kelle opened #16 "Quanities Tutorial"
Compute a mass of a galaxy given blah blah. Erik + Ana
@eteq

[2013-10-08 15:56] kelle opened #17 "Time Snippet"
Covert EST to UT to JD.
maybe @demitri ?

[2013-10-08 16:00] kelle opened #18 "Cosmology Distance Snippet"
Convert redshift to Mpc and the like. @parejkoj

[2013-10-08 16:04] kelle opened #19 "Coord matching Tutorial"
cross matching two tables. - ERIK T. + Ana
@eteq

[2013-10-08 16:15] kelle opened #20 "Big Data Handling Tutorial"
Big data handling - I have a data file (FITS image, big ascii table) that i want to manipulate that is a few gigabytes...reading it in, not screwing up memory, doing operations, writing it back out again.

[code]

@keflavich & @demitri

[2013-10-08 16:53] kelle opened #21 "Coordinate Conversion Tutorial"
Read in an IRSA table, convert to galactic, output as LaTex table.
@mdboom

[2013-10-08 21:07] #13 closed, assigned to nobody

[2013-10-08 21:07] #11 closed, assigned to adrn

[2013-10-09 08:11] astrofrog opened #30 "Issues in catalog plotting tutorial"
I can help fix these, but don't have time, so just to make sure we don't lose track:

* latitude grid lines are missing in final plots
* longitude should increase to the left!

[2013-10-11 21:09] migueldvb opened #32 "tutorial versioning/testing"
It would be useful to have a list of astropy versions for which  each tutorial is known to work. I have tried to modify one of the tutorials to work on the current stable release thinking that it was written for a previous release, before I noticed that it runs fine with the latest development version. Maybe not very important now that things are still changing but at some point it would be good t

[2014-01-02 04:46] eteq opened #37 "Add some README instructions for deploying and/or testing build"
It would be useful if the `README` included instructions for how to deploy the tutorials, or at least some info on how to "test" deploy them (e.g., do `python setup.py run` and `python setup.py build` and then look in `html`).  A few surprises for me: that `runipy` is a dependency, and that `pandoc` has to be installed for `nbconvert` to work.  So just noting that would save the trouble of looking

[2014-02-10 15:07] #6 closed, assigned to adrn

[2014-02-10 15:08] #7 closed, assigned to adrn

[2014-02-18 19:14] astrofrog opened #46 "Small suggestions for notebook style"
Just a couple of low-priority suggestions for the style of the notebooks:
- Change the width of the notebook to 900px (instead of 960px)
- Change font size to 16px (including the code)
- Make links blue (currently black with blue underline)
- Make more of the method names links to the API docs
- Remove last empty cell

[2014-03-09 19:59] astrofrog opened #50 "Add Disqus comments at the bottom of each tutorial"
It would be reasonably easy to update the ``setup.py`` to inject a Disqus comment thread at the bottom of each notebook. What do you think?

[2014-04-21 13:23] #8 closed, assigned to nobody

[2014-04-22 15:49] keflavich opened #56 "Use nicer mpl default plots"
(as requested by @adrn)

Use a nicer default set of matplotlib parameters, e.g. http://tonysyu.github.io/mpltools/auto_examples/style/plot_ggplot.html

[2014-04-22 17:38] #46 closed, assigned to nobody

[2014-04-22 17:38] #16 closed, assigned to eteq

[2014-04-22 17:41] #37 closed, assigned to nobody

[2014-05-09 13:22] #56 closed, assigned to nobody

[2014-05-09 17:34] eteq opened #58 "Set defaults for tracebacks?"
I wonder if we should alter the default tracebacks in notebooks to be somewhat less verbose?  I'm mostly thinking of http://www.astropy.org/astropy-tutorials/Quantities.html here, which has a number of places where the tracebacks are intended, but are lengthy and distracting - it would be better to just show the error and not the traceback at all, in fact.

This could be changed easily enough just

[2014-05-13 19:19] #58 closed, assigned to nobody

[2014-05-19 16:41] eteq opened #61 "Automatically add authors/date to notebook headers"
@adrn, what do you think about updating the build script to automatically add the names of the authors and the date metadata to all the notebooks?  That way we can make sure they're all shown consistently...

[2014-06-12 14:44] astrofrog opened #62 "Tutorials should provide link to data"
It would be nice if tutorials could be reproduced by users, which means that they need to be able to access the data. For example, the following tutorial does not:

http://www.astropy.org/astropy-tutorials/FITS-header.html

[2014-06-12 14:46] astrofrog opened #63 "Improve fonts in CSS"
At the moment, the font sizes look a little inconsistent in the tutorials:

![screen shot 2014-06-12 at 16 44 59](https://cloud.githubusercontent.com/assets/314716/3259062/28d91cba-f240-11e3-90df-fa4424c062f1.png)

I think it would be good to have someone go though and try and polish up the CSS a little to make font sizes more consistent, and improve spacing, etc.

Maybe you could ask on the astro

[2014-06-23 11:38] taldcroft opened #64 "Add a script for checking that requirements are met for running tutorial"
For the SciPy tutorials they asked as to prepare a script to verify that the required packages were available to run the tutorial.  The result was:
https://github.com/astropy/astropy4scipy2014/blob/master/check_env.py

This was thrown together very quickly, but something along these lines might be a good idea for the Astropy tutorials as well.  It might make sense to have a `check_env` script for

[2014-06-28 18:23] adrn opened #65 "Add "edit this page on github" to tutorial pages"
See title.

[2014-07-07 21:13] astrofrog opened #66 "Change plotting font?"
I was wondering whether it would make sense to switch the font to a 'modern' font? While the current 'retro' look works in some cases, I'm a little worried that it gives a PGPLOT look to some of the plots which might make people think that the plotting package is old. Matplotlib can make really nice modern-looking plots, so it'd be a shame to miss out on that. Using Arial (with bold axis labels) w

[2014-07-07 21:14] astrofrog opened #67 "Bug with RA increasing to the right"
This plot in Quantities is wrong:

![unknown](https://cloud.githubusercontent.com/assets/314716/3501932/92dd56f0-061b-11e4-9a56-2d866db2e906.png)

The RA should increase to the left! Same goes with the plot-catalog tutorial:

![unknown-1](https://cloud.githubusercontent.com/assets/314716/3501940/a438f580-061b-11e4-8281-a6393bf9c85a.png)

[2014-11-12 03:08] eteq opened #72 "Set up automatic travis-based build of the tutorials page"
Right now someone has to manually run the deploy script to generate the gh-pages branch.  We should be able to use travis to install astropy from conda, use that to build the tutorials, and then post them to GitHub pages.  An example of a ruby project that does something like that is [here](http://awestruct.org/auto-deploy-to-github-pages/)... I'm pretty sure we could do something fairly similar.

[2014-12-19 18:29] adrn opened #73 "Write astroplan tutorial"
We should show off the new features in a demonstration of how to prepare for an observing run. Rough sketch:
- Read in target list from text file with `astropy.io.ascii`
- Query catalogs to find nearby standard stars
- Plot visibility curves (airmass curves) for each object

If we want to go crazy, we could even optimize over slew time and "time-til-transit" to auto-generate a queue...

[2015-01-04 17:11] kelle commented on #14
Any update on this. We need a tutorial which uses Table package.

[2015-01-05 13:53] cdeil opened #74 "Astropy tutorials on Docker / tempnb?"
With [Docker](https://www.docker.com/) and [tempnb](https://github.com/jupyter/tmpnb) it should be possible to make the Astropy tutorials available online ... any user can run the notebooks from any computer without needing to install things locally.

Check out  https://tempnb.org for a demo and https://lambdaops.com/ipythonjupyter-tmpnb-debuts/  for some more info on how it works.

Here's what ne

[2015-01-07 10:08] cdeil commented on #74
Here's a first version of a Docker file and image that contains Astropy:
https://github.com/gammapy/gammapy/tree/master/dev/docker

[2015-01-09 13:41] taldcroft commented on #14
Sorry, I've dropped the ball on this.  The project with Francesca fell through.

[2015-01-22 15:40] #66 closed

[2015-03-08 23:43] bmorris3 opened #76 "Adding RA/Dec to plot using WCS"
Would it be possible to update the tutorial on [viewing and manipulating FITS images](http://www.astropy.org/astropy-tutorials/FITS-images.html) to show how to display the RA/Dec coordinate grid on an image, by retrieving the WCS coordinates from the header?

[2015-03-09 01:18] bmorris3 commented on #76
Just found the docs specific to [WCSAxes](http://wcsaxes.readthedocs.org/en/latest/) – nevermind!

[2015-03-09 01:18] #76 closed

[2015-03-30 12:30] adrn opened #80 "UVES tutorial indentation errors"
There are some indentation errors at the end of the UVES tutorial.

[2015-03-30 14:12] migueldvb commented on #80
@adrn I will fix those errors

[2015-04-01 12:12] adrn commented on #74
Sorry for dropping the ball on this, @cdeil , and thanks for making me aware of this!

[2015-04-01 12:15] adrn opened #82 "Add content to VO conesearch tutorial"
Right now, the tutorial reads a bit like documentation and is primarily just focused on conesearch (and some Quantity). I don't think it would be much work to add a few things to highlight synergies with other astropy subpackages and make it feel more like a workflow.

A few ideas:
- Add a section where you write out a catalog to disk using `astropy.table`
- Query a catalog and turn it into a Late

[2015-04-01 12:49] adrn commented on #82
This also needs a `description` in the metadata of the notebook.

[2015-04-01 13:01] adrn commented on #67
This was addressed with #70

[2015-04-01 13:01] #67 closed

[2015-04-01 13:36] pllim commented on #15
Implemented in #28. This can be closed.

[2015-04-01 14:05] #15 closed

[2015-04-03 18:21] #80 closed

[2015-04-03 18:26] adrn commented on #63
@astrofrog the style is a little different now with Jupyter notebooks, so interested to see if you still have comments, but can you clarify exactly what you'd like to see improved?

[2015-04-03 18:29] #30 closed

[2015-04-04 05:03] amanXCalibre commented on #62
@taldcroft  Would making a link to download the IPython Notebook(from repo)  from within the tutorial  help here( ref :last line of your last comment) ?
@astrofrog By a "link to data" do you mean the data hosted at  data.astropy.org or the Ipython notebook itself?

[2015-04-08 15:53] amanXCalibre commented on #64
Hey @taldcroft  does this pull request fix this issue ?
https://github.com/astropy/astropy-tutorials/pull/83

[2015-04-18 17:12] eteq commented on #65
This was added in #77

[2015-04-18 17:12] #65 closed

[2015-04-18 17:12] eteq commented on #61
Added in #77

[2015-04-18 17:12] #61 closed

[2015-04-18 17:13] eteq commented on #50
Dine in #77

[2015-04-18 17:13] #50 closed

[2015-04-21 14:51] nhmc commented on #18
I'll have a go at this.

[2015-04-22 07:19] mwcraig commented on #72
Does this essentially consist of running the deploy script from travis? If yes, can take a shot at it this week.

[2015-04-24 11:54] kelle opened #87 "Make a ccdproc tutorial"
a draft exists, based on Phil Massey's classic work, but needs follow through. started by @kelle and @crawfordsm. Maybe @mwcraig can take the lead.

[2015-04-24 12:49] mwcraig commented on #87
Sure; where is the draft?

[2015-04-24 13:49] kelle opened #88 "add a photutils tutorial"
started by @JenniferKarr and @bsipocz

[2015-04-24 14:49] crawfordsm commented on #87
I've put up a version on sage cloud and just sent @mwcraig an invitation.  Let me know if you want one too @kelle.

[2015-04-27 21:06] mwcraig commented on #87
@crawfordsm -- I think https://github.com/mwcraig/msumastro (see example in the README) might help with simplifying the first several cells. Will take a more detailed look Tuesday before we talk.

[2015-04-29 22:10] embray opened #89 "Improve FITS header tutorial"
Over in [this comment](https://github.com/astropy/astropy/issues/3661#issuecomment-89355289) I griped about the current state of the FITS-Header tutorial.  However, I was pretty vague as to what I don't like about it.  And actually, upon a second look, I don't have as much problem as I thought I did.  As a very introductory tutorial I think it's fine to promote the "convenience functions", since t

[2015-05-01 21:33] cdeil commented on #73
FYI: in a few months we'll have an Astropy-affiliated package for this, there's two GSoC 2015 students working on this and others are interested: https://astroplan.readthedocs.org/en/latest/

Of course, if someone wants to write this tutorial now they should go ahead!
We can re-work it to use `astroplan` for certain things later.

[2015-05-02 13:03] kelle commented on #89
Yes, please do. I have no idea what the "preferred" object-oriented interface is!

[2015-05-07 10:30] cdeil opened #90 "Make a reproject tutorial"
@astrofrog – How about a tutorial IPython notebook on reproject to make it easier for people to find it and try it out?

I could take the main examples from http://reproject.readthedocs.org/en/latest/ and do this today.
Keep it short and link to the reproject, wcsaxes and healpix docs at the end.

[2015-05-18 15:57] astrofrog opened #91 "Set up continuous integration for testing?"
Inspired by a discussion on the Facebook Python in Astronomy group, I was wondering if we can set up Travis to run pytest-ipynb (https://pypi.python.org/pypi/pytest-ipynb) on the notebooks to make sure they don't break with astropy updates?

[2015-05-20 21:50] adrn commented on #91
How would you feel about a simpler version (better than nothing): #92 sets up travis to just check that the notebooks run, but doesn't provide detailed errors like pytest-ipynb...

[2015-05-29 20:26] eteq commented on #74
@cdeil - I know this is months old, but I just noticed this and did this now. I created a [docker organization for Astropy](https://registry.hub.docker.com/repos/astropy/) and gave you full access to it.

[2015-06-03 16:04] eteq opened #93 "Travis-based auto-deploy machinery"
I thought there was already an issue for this but I can't fine it (maybe @adrn can confirm?).  It would be great if we can make travis automatically *deploy* the "published" tutorials.

I think this may be pretty easy to do using https://github.com/ewanmellor/gh-publisher - (which I stumbled upon thanks to http://jakevdp.github.io/multiband_LS/)

[2015-06-09 18:44] cdeil commented on #74
@eteq – Thanks for setting this up.

I'm still very interested to learn more about Docker and set this up, but realistically I'm swamped with other things until July. So if someone else wants to do this, please go ahead.

These could serve as examples / templates .. maybe all that's needed is to change the Dockerfile to install Astropy and the tutorial repo:
* https://github.com/jupyter/docker-dem

[2015-06-11 13:08] eteq opened #94 "Fix up redshift plot tutorial"
As discussed in #85, there were some issued uncovered with the cosmology plotting tutorial after it was merged.  @nhmc, are you still planning to do update this?  It looks to me look the outstanding issues are:

- [x] Address the problem of the two different cosmology axes not matching, perhaps by demonstrating the current version as a "gotcha".
- [x] change the name to redshift_plot or something

[2015-06-11 17:02] nhmc commented on #94
Yes, I'll take care of this in the next couple of days.  Thanks for the
reminder.

Neil
On 11/06/2015 3:08 PM, "Erik Tollerud" <notifications@github.com> wrote:

[2015-06-13 20:10] eteq commented on #74
Same here re: swamped, but I do agree a docker template would be a valuable thing to have in place.  If anyone else wants to try this (maybe @adrn?) and needs access, feel free to ping me.

[2015-07-21 23:15] eteq commented on #94
All fixed in #95, so closing!

[2015-07-21 23:15] #94 closed

[2015-08-06 12:10] cdeil commented on #74
As mentioned at https://github.com/x-calibre/astropython/issues/100, it would be great if we can get online IPython notebooks for the Astropy tutorials or other Astro packages going, either included in astropython.org somehow, or linked to from that page and the Astropy page / docs.

So I asked @rgbkrk from Jupyter / Rackspace for advice on this via email with @x-calibre in CC, but now I think it'

[2015-08-06 14:26] taldcroft commented on #74
Support for this for generic astropy-related notebooks would be amazing indeed!  For starters this would provide motivation to finally migrate python4astronomers over to Jupyter notebooks so they could then be run live by students in tutorial sessions with no installation.

[2015-08-06 18:42] cdeil commented on #74
@rgbkrk commented "There's no cost with adding your stuff to docker-demo-images. It's community run and the only current sponsor is Rackspace."

So if @x-calibre or anyone else has time to work on this (adding Astropy stuff to `docker-demo-images`) in the coming weeks, please leave a comment here. Otherwise I'll give it a try next week.

[2015-08-07 15:53] x-calibre commented on #74
I have very limited experience with Docker but would love to learn and apply it here ... I would be available in about 2 weeks, then I can definitely give this a try...

[2015-08-23 19:27] adrn commented on #74
Here's another possibility: http://mybinder.org/

[2015-09-25 13:25] x-calibre commented on #74
@cdeil  @adrn @eteq @taldcroft
I have put up a very limited demo version of this on http://www.astropython.org/interactive
If this is what we are aiming for , then I can build a creation form for users to upload/link existing IPython Notebooks along with the list of requirements or the docker file on the website and add it to the list.

The only background task that needs to be done is to provide

[2015-09-29 16:03] kelle commented on #90
This would be great but it would be better if it include some lower level content as well. We need a basic WCS tutorial. Could you include this as well: #11 ?

[2015-10-13 11:11] bsipocz commented on #88
@kelle - I've added a getting started tutorial for photutils in #99, please have a look when you have a chance.

[2015-11-23 21:06] eteq commented on #91
I'm closing this on the thoery that #92 answered it... can always make a new issue for pytest-ipynb if we think its warrented

[2015-11-23 21:06] #91 closed

[2015-11-25 15:00] eteq opened #101 "Make cosmology tutorial image download a bit simpler after IPython fix"
ipython/ipython#9022 fixes an issue that required a slightly awkward workaround in #97 (see https://github.com/astropy/astropy-tutorials/pull/97#issuecomment-148553031 ).  Once the next ipython is released, we may want to consider just using that to simplify the cosmology tutorial.

But it would then require a new IPython to work, so we might want to wait for a while until that IPython becomes mor

[2015-12-02 17:55] kelle opened #103 "clairification on FITS tables tutorial"
Could the rationale behind the step to create a boolean mask (line 10) and a definition of "zeroth order events" please be added?  it could also use a bit more info about what tg_m is. It becomes obivous later that tg_r and tg_d are Ra and Dec but tg_m remains mysterious. These steps and variables have implications for the last exercise and I don't get it.
@eblur

[2015-12-03 19:52] #93 closed

[2015-12-04 01:47] eteq opened #104 "Figure out why conda isn't generating the tutorials right"
#102 implemented machinery to use conda to auto-deploy the tutorials when something gets merged into master.  Turns out it was a good idea to start with a test branch (https://github.com/astropy/astropy-tutorials/tree/test-gh-pages) before doing it "live": for some reason travis is having issues with any astropy >1.0.4 (or maybe it's numpy?).

The trouble started in 154432ecc102c25f1bbcc8f453d4484

[2016-03-14 17:36] mwcraig commented on #104
What is the status of this? Might be a good candidate for resolving at #pyastro16

[2016-03-21 19:49] eblur commented on #103
I'm going to work on this this week.

[2016-03-24 01:30] eteq opened #107 "Add a prominent mention of the snippets and how they relate to the tutorials"
When/if the snippets gallery in the astropy docs is merged, the astropy-tutorials front page should be updated to mention the snippets and describe what the distinction is between snippets and tutorials @adrn @kelle

[2016-04-05 17:45] desilinguist commented on #104
I am running into the exact same issue for my python package that dynamically renders Jupyter notebooks. See https://travis-ci.org/EducationalTestingService/rsmtool/builds/120952124

I even tried printing out all the versions of the possibly affected packages and they all seem to match my expectations so I am completely perplexed as to what's going on. I have filed an issue with the travis folks [

[2016-04-19 10:58] algerdnazgul commented on #89
Any progress?

[2016-04-19 11:10] embray commented on #89
Unfortunately I no longer have a lot of time to spend on Astropy (at least not on a volunteer basis), but I'd gladly provide guidance to anyone interested in working on this.

[2016-04-19 11:16] algerdnazgul commented on #89
Bad news :(
Choose the next one immortal highlander with needed experience in project.

[2016-04-19 13:44] pllim commented on #89
@embray , send me a list of things to edit and I'll give it a go. Thanks!

[2016-05-16 11:59] astrofrog opened #109 "Deprecate repository?"
Now that the tutorials are in the main docs, should we deprecate this repository?

We should make sure we keep track of the existing issues and pull requests though, so we should not remove the directory yet, only mark it as being deprecated?

cc @eteq @kelle @adrn

[2016-05-16 18:43] pllim commented on #109
:+1:

[2016-05-16 19:13] pllim commented on #109
Oh wait... The main doc says, "Longer-form tutorials (or tutorials for affiliated packages) belong at http://tutorials.astropy.org (and can be submitted at the associated github repository)."

[2016-05-17 13:23] bsipocz commented on #109
Also what about interpackage tutorials (if they ever got written by someone winning the infinite time lottery?. E.g. doing downloading images using astroquery, reducing them with ccdproc and performing photometry with photutils ;)

[2016-05-17 18:16] kelle commented on #109
Yeah, I dont think we want to deprecate these. The snippets gallery is not intended to replace these longer-form tutorials.

[2016-05-17 19:01] #109 closed

[2016-07-14 19:24] astrofrog opened #110 "Binder link broken"
If I click on the launch binder in the README, I get:

[code]

[2016-07-18 21:27] kelle commented on #87
This idea came up again at DotAstro in Oxford. Any update on this effort?

[2016-07-18 21:30] kelle opened #111 "tutorial to fit a Sersic profile to a galaxy image"
this idea came from DotAstro in Oxford. i dont know if it should be part of a larger tutorial or if it's enough to stand on its own.

[2016-07-19 18:28] crawfordsm commented on #87
Not much right now.   We both might be writing materials for our upcoming classes and so we might, hopefully, make some progress this semester.

[2016-07-19 20:24] mwcraig commented on #87
Just so I remember, an interesting way to handle tutorials from the altair package:

[code]

This populates the current directory with a bunch of tutorials from the project.

[2016-08-31 12:03] cdeil commented on #74
We now set up Binder for Gammapy: https://gammapy.readthedocs.io/en/latest/getting-started.html#binder

I see that binder is also set up for this repo:
https://github.com/astropy/astropy-tutorials#running-tutorials
(modulo #110).

Binder seems like the simplest solution to set up and maintain.
Closing this issue now so that we don't have to read through the discussion.
If there's something to be d

[2016-08-31 12:03] #74 closed

[2016-11-28 05:09] varunbhalerao opened #113 "Data files not linked in plot catalog tutorial"
Hi all,
I was recommending the http://www.astropy.org/astropy-tutorials/plot-catalog.html tutorial to my students, but it seems that the data files are not directly linked from the tutorial. Am I missing something?
-- Varun
PS: thanks for the great tutorials!

[2017-01-10 16:43] eteq commented on #72
This was actually done a while back.  Not sure exactly when it was finished, but it seems to be running, so closing this issue!

[2017-01-10 16:43] #72 closed

[2017-01-10 21:27] bsipocz commented on #72
@pllim - I'm afraid our dreaded moment just came, @astropy-bot has become fully sentient 😄

[2017-01-10 21:45] pllim commented on #72
😱

[2017-01-10 21:51] pllim commented on #72
I thought only @astrobot was getting there, but now we also have @astropy-bot!

[2017-01-10 21:52] bsipocz commented on #72
ahh, right. There are two bots then, I wondered how @kelle got hold of it (assuming it was @astrobot).

[2017-01-10 21:58] bsipocz commented on #72
@eteq - To be ontopic I think this was done by you in #102

[2017-01-10 22:03] adrn commented on #72
Weird, I did do this with someone at pyastro, but I don't remember working with any cylons...

[2017-01-10 22:05] bsipocz commented on #72
wasn't that with the example-gallery in the core docs?

[2017-01-10 22:07] adrn commented on #72
:man_facepalming: yes...you're right! @eteq solved this in #102

[2017-01-18 17:55] #110 closed

[2017-01-18 17:55] eteq commented on #110
Something has changed in how binder deals with loading sub-folders.  I think I've fixed this in 8285aaf, although I couldn't get it to go to the right part of the repo...

[2017-01-18 17:57] eteq opened #114 "Make auto-hiding solutions machinery for exercises"
Right now there's not really a way to include the solution to exercises inside the notebook.  What would be ideal would be a way to "hide" cells, so that when someone opens up the notebook, they can hack around with it until they're done, and then click a "show solution" button.

There's some notebook add-ons that do this, but I'm not sure anyone fits this exact need.  So it might need to be a cus

[2017-01-18 18:10] adrn commented on #114
Maybe something like this: http://jupyter-contrib-nbextensions.readthedocs.io/en/latest/nbextensions/exercise/readme.html

[2017-01-20 15:23] foowhiz commented on #63
@astrofrog Hi, I'm new to AstroPy, and I think I might be able to contribute to this issue... I'm no expert in CSS, but I do know enough to be able to change fonts...

[2017-01-30 17:26] eteq commented on #114
Oh wow, that's exactly what I was thinking of, @adrn.

The question is how to have it be integrated in the notebooks instead of requiring an external extension that needs to be installed.  Do you know of any way to embed the relevant bits in the notebooks themselves?  Ideally this would include the editing toolbar, but that's not an absolute requirement I suppose.

We'd also need to have the gener

[2017-03-23 20:27] pllim commented on #82
I moved Cone Search to Astroquery, so should I completely remove Cone Search tutorial from here when it is deprecated from Astropy (possibly in v2.0)?

[2017-03-23 22:46] adrn commented on #82
I think it's fine to have tutorials that cover affiliated packages, so if you can stand it, maybe you could just update the tutorial?

[2017-03-24 14:44] pllim commented on #82
Sure. I'll do that after Astroquery 0.3.5 is released.

[2017-04-21 17:18] kelle opened #117 "add links to relevant documentation"
identify places in documentation which are "tutorial-like" and make them discoverable in the tutorials page.

[2017-05-08 14:44] adrn commented on #107
I think this is now a duplicate of astropy/astropy#6017?

[2017-05-08 14:44] #107 closed

[2017-05-08 14:52] eteq opened #118 "Change tutorials to a unified voice"
There's a mixed use of "I" vs "we" vs the 3rd-person in the tutorials.  It might be best to be uniform on this?

[2017-05-09 22:52] bsipocz opened #119 "Make astropy visualization tutorial"
This was part of astropy/astropy#5570, but actually belongs here:

* [ ] Write an astropy tutorial that demonstrates the combination of SkyCoord, astroquery, reproject, and make_luptin_rgb to actually do the whole thing.
* [ ] Link to that tutorial from the docs

[2017-05-11 10:04] bsipocz opened #120 "Test content of tutorials"
Travis can be set up to run cron jobs now, so I would be a useful thing to set up a test for the tutorials. E.g. @cdeil set something like this up for gammapy.

Obviously tutorials will broke with new versions, so maybe having a summary table of requirements/ list of conda envs where they supposed to be working is the way to go.

[2017-05-11 21:49] eblur opened #121 "Add WCS tutorial to FITS-image stuff"
Add a WCS tutorial to the FITS-image tutorial.  Or make separate (with a link to FITS-image)

[2017-05-12 09:07] kelle opened #122 "Improve visibility of Jupyter notebooks"
Make it more obvious how to download the Jupyter notebooks.

[2017-05-12 13:06] adrn opened #123 "Tutorials should be tagged and labeled by focus of material"
Tutorials could be tagged by the packages and astropy-related subpackages that are used. They could also have a "focus". These are just ideas and are part of the broader need for an organizational structure.

[2017-05-12 13:43] kelle commented on #123
the result of this probably highly granular tagging would be an index. the tags would not be prominently displayed to the users.

[2017-05-12 13:49] kelle commented on #114
I actually really like this and would be open to considering it making it a requirement for the notebooks, if technically feasible.

[2017-05-12 13:52] kelle commented on #122
we could also include instructions about any necessary plugins (a la #114  )

[2017-05-12 13:56] kelle commented on #19
one of my students, Rocio, needs to do this soon. relevant module is here: http://docs.astropy.org/en/stable/coordinates/matchsep.html#astropy-coordinates-matching

[2017-05-12 14:11] eblur commented on #19
Here it is!
http://www.astropy.org/astropy-tutorials/Coordinates.html

[2017-05-12 14:36] eblur opened #125 "Tutorial changes are not reflected on website"
The changes to the FITS tutorials we made are not reflected on the website.

@adrn reports that travis ran fine, so is there something broken with the website? @eteq

[2017-05-12 14:37] adrn commented on #125
There are some whack warnings in the travis build that we should address. Also not sure why it's running in python 2.7.9! Also: we probably want to run in both 2 and 3, but only deploy from, say, python 3 https://travis-ci.org/astropy/astropy-tutorials/builds/231102098 @eteq

[2017-05-12 14:48] kelle opened #126 "Sort through #Pyastro17 ideas"
Lots of tutorial ideas listed in this Google Doc. some are already existing tutorials and others could be new tutorial ideas:
https://docs.google.com/document/d/1Gtiq7hf6xb7jJ0thQwIouksKGOcH4N2vAAs5Jxkzr0s/edit

[2017-05-14 13:23] kelle opened #127 "STScI training materials"
see if it's worth co-opting any of these STScI training materails.
http://stsci-riab.github.io/riatraining/python/index.html

[2017-05-14 13:24] kelle commented on #88
another place to get inspired for photutils is from STScI:
http://stsci-riab.github.io/riatraining/photometry.html

[2017-05-26 17:53] tomasjames commented on #118
Happy to take this on!

I agree, unifying it is best. Personally I prefer the use of "we" rather than "I".

[2017-06-08 17:17] kelle opened #128 "Improving moderation on Disqus"
I just noticed there was a languishing comment on one of the tutorials. I responded and pointed them to the FB group. In order to improve the response time of comments on this forum:
- I've logged into Disqus as astropy and added myself (kellecruz) as a moderator
- I've changed the settings to require all comments to be moderated
- I've reported two comments as spam.

@eblur  Could you set up a Di

[2017-06-08 19:42] gully opened #129 "Draft a tutorial for using K2 data"
At the AAS230 Hack Day, @jenawhit, @kelle, and others worked on a tutorial incorporating K2 data.  Highlights of the tutorial include:
- the *awesome* astropy progress bar
- astroML time series Lomb-Scargle periodogram
- scipy features
- plotting, etc

https://github.com/BrownDwarf/kinder/blob/master/notebooks/K2c02_AAS230_hack_day.ipynb

This would require a little extra work to make it an astrop

[2017-06-08 20:07] bsipocz commented on #129
LS has been moved to astropy core a while ago, and there were improvements/bug fixes applied, so that needs to be used in the tutorial rather than the astroML version.

[2017-06-16 01:07] pllim opened #130 "Tutorial for modeling with units including blackbody"
As suggested by @kelle at https://github.com/astropy/astropy/pull/6191#issuecomment-308904113

Maybe this is as simple as adapting from @astrofrog 's notebooks that he showcased for astropy/astropy#4855 but will need his permission first.

[2017-06-16 01:10] bsipocz opened #131 "Create tutorial that uses physical models from astropy core"
As it was discussed in an astropy core issue (https://github.com/astropy/astropy/pull/6191#pullrequestreview-43866280) the discoverability of physical models (such as blackbodies) are not straightforward in the astropy core.

Maybe a tutorial is the right tool to show users that models aren't all about fitting...

[2017-06-16 01:20] pllim commented on #130
Duplicate of #131

[2017-06-16 01:20] #130 closed

[2017-06-16 01:21] pllim commented on #131
Maybe this is as simple as adapting from @astrofrog 's notebooks that he showcased for astropy/astropy#4855 but will need his permission first.

[2017-06-16 01:24] bsipocz commented on #131
@pllim - I'm sorry, didn't see your issue just after I opened this one.

[2017-06-16 01:27] pllim commented on #131
No worries! :smile:

[2017-07-12 14:29] kelle opened #132 "Sphinx Gallery expansion. Include more figures."
[thread started on astropy-dev](https://groups.google.com/forum/#!topic/astropy-dev/RYwaRAa0fjE) by @adrn. Below list based on F2F meeting between @kelle and @adrn.

- [ ] move example gallery to its own repo within the astropy organization.
- [ ] figure out how to version the example gallery to stay in step with astropy core. release in parallel? @bsipocz ?
- [ ] figure out new subdomain name. Wa

[2017-07-12 14:37] kelle commented on #132
I like the idea of `learn.astropy.org` as being a landing page with pointers to the Examples, Tutorials, and Guides. Not that many people know about `tutorials.astropy.org`

[2017-07-12 14:39] bsipocz commented on #132
I have to dig into the details (and don't have time for it *right* now), but think that it should be definitely possible to trigger a travis build of a separate repo and probably even report back the result via a github integration. However if the repo lives under astropy org, we may not want to do this for every commit as it will use the same CI resources as if it were left in core.

[2017-07-12 18:42] kelle opened #133 "Probability tutorial"
https://github.com/jbailinua/probability/blob/master/Transformation%20of%20Probability%20-%20Generating%20Distributions.ipynb

[2017-07-31 15:49] pllim opened #134 "Replace clobber in FITS tutorial with overwrite"
Replace `clobber` in FITS tutorial with `overwrite` (or do some `if-else` block if you need backward compatibility. I see deprecation warning in http://www.astropy.org/astropy-tutorials/FITS-images.html .

[2017-09-18 15:23] kelle opened #136 "read/write unicode. @taldcroft @crawfordsm"

[2017-09-20 20:39] kelle opened #137 "improve linking between docs-tutorials-example gallery"
Example gallery is not mentioned on tutorials, for example.
We should adopt the astropy.org banner for the tutorials site. and add a Learn drop down. (Adopting astropy.org banner is already on the list of things to do for the sphinx site.)

[2017-09-20 20:44] kelle opened #138 "Figure out how to better coordinate the grand vision for Astropy Learn resources"
E.g., here's a planning document from PyAstro17 which has good vision in it:
https://docs.google.com/document/d/1zuiFrLD6Zisjak7a1saQC8jPpuL7FU8UbjPJeRokN98/edit#

[2017-09-20 20:51] kelle opened #139 "Think about series of tutorials aligned with BOB"
tutorials based on Carrol and Ostlie text:
https://docs.google.com/document/d/18pSounXNLSVEmtHBmaUPT9pqqoA_wvENphRD3aT39dc/edit?usp=sharing

[2017-09-21 05:30] pllim commented on #139
"given a spectrum and bandpass profiles, predict mag and color" is done in https://synphot.readthedocs.io , which is not (yet) astropy-affiliated. Hence, it is currently out of scope?

[2017-09-21 14:36] #19 closed

[2017-09-21 15:29] kelle commented on #138
Here's a sheet to start indexing all the things:
https://docs.google.com/spreadsheets/d/1JmOF82Zmrs397wLwAmmL1rgDSsvP6Z4fLMr0hV5ZIb4/edit?usp=sharing

[2017-09-21 15:30] emilurice commented on #138
I am working on this project with @kelle

[2017-09-21 15:40] emilurice commented on #138
Grand vision: Learning Python needs to have an accessible set of on ramps to the Astropy highway, with clear & frequent signage, long merge lanes, safe & comfortable for new drivers, thoughtful infrastructure plans, pretty landscaping and safety barriers, awareness of other drivers, etc.

NOT like a NYC/LA on ramp that requires prior knowledge of where you're going (and where everyone else is comi

[2017-09-21 16:10] kelle opened #140 "Make more better examples"
- some current tutorials maybe better as examples
- remove current example gallery and incorporate all examples into documentation.
- make example index in docs.
astropy/astropy#6589

[2017-09-21 18:54] kelle commented on #103
I think this has been fixed because I don't see those variable names present in the tutorial anymore.

[2017-09-21 18:54] #103 closed

[2017-09-21 19:07] kelle opened #141 "Update matplotlibrc"
getting deprecation warnings in Fits-Images and Quantities

[2017-09-21 19:42] kelle opened #142 "Add a Troubleshooting page"
page which lists solutions to common problems
- check the versions installed vs the required versions.

[2017-09-21 19:43] kelle commented on #132
this convo is out of date. close?

[2017-09-21 19:56] adrn commented on #141
We should just switch to the Astropy style -- we can replace the custom matplotlibrc bit in the first cell of each notebook with:

[code]

[2017-09-21 20:08] adrn commented on #132
Irrelevant now, yep!

[2017-09-21 20:08] #132 closed

[2017-09-21 20:20] adrn opened #143 "Use quantity_input in "Quantities" tutorial"
In section 3 "Using Quantities with Functions" we should really use the `quantity_input()` decorator.

[2017-09-21 20:36] #141 closed

[2017-09-21 20:39] pllim commented on #82
Huh... Why is this closed? Is #116 no longer necessary?

[2017-09-21 20:57] adrn commented on #32
We have a plan! See: https://docs.google.com/document/d/17cLbhgd7Ownb-Uo7EmFHgI1U3lqQWWL77szEAnZwyv0/edit

[2017-09-21 20:59] #125 closed

[2017-09-21 21:00] adrn commented on #134
Done in master

[2017-09-21 21:00] #134 closed

[2017-09-21 21:01] adrn commented on #123
Closing this because I think we're going to strive for having a search instead

[2017-09-21 21:01] #123 closed

[2017-09-21 21:01] adrn commented on #120
duplicate of #32

[2017-09-21 21:01] #120 closed

[2017-09-21 21:16] adrn commented on #82
Hm, I guess it was a hasty click on my part!

[2017-09-21 21:22] adrn opened #145 "Consider replacing deploy machinery with sphinx-gallery"
We could use sphinx-gallery to build and display the notebooks, and just not use (or do use) the gallery index page.

[2017-09-21 21:24] adrn commented on #145
cc @astrofrog

[2017-09-21 21:34] crawfordsm opened #146 "Notebook on satellite"
@AnthonyHorton satellite notebook might be interesting to provide as an example using units and constants to make a calculation

https://github.com/AnthonyHorton/spacecraftspotting/blob/master/Mirror%20satellite%20brightness.ipynb

[2017-09-21 21:39] kelle opened #147 "Turn Coordinates tutorial into a series"
1) finding coordinates and getting images - will need a bit more meat.
2) MAKE STAND ALONE: using coordinates and table to match and compare catalogs.
3) astroplan -- needs to be written
4) Transforming between coordinate systems and planning observations -- using coordinates to do astroplan things manually.

[2017-09-21 22:19] eteq commented on #145
Some things that the current machinery has (or that we could relatively easily add) that I think is important:
* Build single notebooks without the whole gallery
* Be able to skip lines as "should fail" (@astrofrog said this is possible in the sphinx-gallery already?)
* Report back whether or not the builds actually failed as a simple status code for travis usage

We should ensure `sphinx-gallery`

[2017-09-22 00:21] adrn commented on #145
Damn, I think I was confused - I guess sphinx-gallery only operates on .py files with their formatting structure (see discussion in sphinx-gallery/sphinx-gallery#245). So going from ipynb directly to sphinx-gallery is not currently possible...

[2017-09-22 00:28] adrn commented on #145
Just to complete the thought: this means that to use the sphinx-gallery machinery, we'd either have to (1) move all tutorials to .py files (which can be downloaded as jupyter notebooks), or (2) add an intermediate build step using nbconvert to turn the notebooks into .py files, then run sphinx-gallery. Given that, I'm now somewhat negative on the idea of switching...

To answer your concerns RE: s

[2017-09-22 00:33] adrn commented on #145
(Though, in principle we could post-process the HTML we generate to add these links using [the machinery from sphinx-gallery](https://github.com/sphinx-gallery/sphinx-gallery/blob/master/sphinx_gallery/docs_resolv.py))

[2017-09-22 00:42] kelle commented on #145
In the .py files, what does the narrative look like? Does it need to be in rst? I like the idea of the tutorials being in .py and notebooks simultaneously but I'm not excited about composing the narrative in rst.

[2017-09-22 02:06] bsipocz commented on #145
we said that one of our tes for the PR would be to check the modified tutorial works with the latest version of the dependencies, without checking the rest of them.

[2017-09-22 02:21] eteq commented on #145
@adrn -

In addtion to @bsipocz 's item from https://github.com/astropy/astropy-tutorials/issues/145#issuecomment-331330518,  practice this is quite useful for review: you don't want to have to re-build *all* of the notebooks every time you need to inspect the one you're looking at.  It's not critical right now because they're all pretty fast, but if all goes well that won't last (c.f. the current

[2017-09-22 14:18] pllim commented on #82
Oh... What are the remaining issues that #116 failed to address?

[2017-09-22 15:13] bsipocz opened #148 "Test that tutorials work outside of the repository"
We need to tests on travis that the tutorials still work when they are downloaded (and not part of a github repo)

[2017-09-22 15:45] kelle commented on #18
@nhmc Any progress? I'm also thinking this is maybe more of an Example rather than a Tutorial. But I'd be curious to see what you came up with.

[2017-09-22 15:53] kelle commented on #10
@nden Do you see this as an Example or a tutorial? maybe it already exists somewhere?

[2017-09-22 15:55] emilurice commented on #73
To keep the scope of this tutorial reasonably limited, I could imagine several tutorials becoming combined into a Guide on (Ground-based?) Observing, in general: writing target lists, making finder charts, finding standard stars, other calibrations, calculating exposure times, creating airmass plots, etc.

[2017-09-22 15:57] kelle opened #149 "Import existing Astroplan tutorials"
[Observing the Summer Triangle](https://astroplan.readthedocs.io/en/latest/tutorials/summer_triangle.html)
[Plotting with Astroplan](https://astroplan.readthedocs.io/en/latest/tutorials/plots.html)
[Defining Observing Constraints](https://astroplan.readthedocs.io/en/latest/tutorials/constraints.html)
[Scheduling an Observing Run](https://astroplan.readthedocs.io/en/latest/tutorials/scheduling.html

[2017-09-22 16:16] emilurice commented on #127
Potentially useful content:

[Using MAST](http://stsci-riab.github.io/riatraining/archives.html#using-mast-a-k-a-the-archive): not currently AstroPy, but something similar is definitely useful (astroquery?)

[Python for Scientific Data Analysis](http://stsci-riab.github.io/riatraining/python/index.html#python-for-scientific-data-analysis): might be useful to co-opt as super-intro tutorial

[Photom

[2017-09-22 16:26] pllim commented on #127
Re: PySynphot -- I am actually working on its replacement that uses Astropy models (split into https://synphot.readthedocs.io and https://stsynphot.readthedocs.io). Maybe we should wait on that one.

Also this needs updating and cleaning up but contains useful ideas -- https://github.com/spacetelescope/JWSTUserTraining2016

[2017-09-22 17:04] adrn opened #150 "Errors can only be ignored project-wide or by notebook"
Right now with nbsphinx, there is no way to ignore errors from a single cell. Some of the tutorials generate errors on purpose, which we want to ignore, but we also want to also be able to catch genuine failures.

I opened spatialaudio/nbsphinx#125 to ask about this feature.

[2017-09-22 17:14] adrn commented on #150
The feature request might even go further upstream to nbconvert. I think the easiest thing to do for now is to not have known exceptions in the tutorials - turn them into commented cell blocks, and we just have to say "this code will break..."

[2017-09-22 17:29] eteq commented on #145
For anyone looking at this issue in the future:

After some (out-of-band) discussion on this topic we concluded the sphinx-gallery is not the way to go.  There was general agreement that the tutorials need to be written in notebooks.  So then we'd have to turn them into ``.py`` files that sphinx-gallery understands, and it might be a lot of work to make that function, especially given that noteboo

[2017-09-22 17:29] #145 closed

[2017-09-22 17:32] eteq opened #151 "Change tutorials site builder to nbsphinx"
In #145 we discussed the idea of using sphinx plugins to generate the tutorials page instead of our custom (but hacky *and* fairly broken) tutorials generator.  Making the tutorials in sphinx has a variety of advantages, including:
* We can integrate it with the same theme used in docs, for a more consistent user experience
* We can link more easily to other sphinx docs using intersphinx
* A custo

[2017-09-22 17:36] pllim commented on #151
FWIW in my past experience using `nbconvert` (is that related to `nbsphinx`?), while it worked fine in RTD, it broke Sphinx builds on Travis CI because it *always* emitted warnings. Maybe this has changed since I last used it, but just FYI.

[2017-09-22 17:36] kelle commented on #119
info about Lupton RBB here: http://docs.astropy.org/en/latest/visualization/lupton_rgb.html I think this would actually just be a very useful addition to the FITS-images tutorial.

[2017-09-22 17:38] kelle commented on #111
This should probably be part of a bigger 'modeling' tutorial.

[2017-09-22 17:40] eteq opened #152 "Revamp tutorials testing infrastructure"
This is a dump of the results of an infrastructure discussion of the tutorials repo from the astropy documentation sprint (which immediately followed the astropy coordination meeting 2017).  The discussion included @bsipocz @astrofrog @crawfordsm @kelle, and @adrn at various points.  The end result is that we want to:

- [x] Set a globally “pinned version” for the dependencies of all of the tutori

[2017-09-22 17:42] eteq commented on #151
Hmm, thanks @pllim - `nbconvert` is a separate development from `nbsphinx` - the latter is a sphinx extension and the former is a `jupyter` subcommand.  *but* we really need to determine if what you're saying is the case for `nbcovert`.  I'm also realizing that we need to be sure`nbsphinx` allows a "this cell failed, but it's *expected* to fail" option, as some of the notebooks intentionally do th

[2017-09-22 17:45] adrn commented on #151
I guess @eteq isn't reading my messages :( - see #150

[2017-09-22 17:49] kelle commented on #73
Here are the existing ones in the astroplan repo:
[Observing the Summer Triangle](https://astroplan.readthedocs.io/en/latest/tutorials/summer_triangle.html)
[Plotting with Astroplan](https://astroplan.readthedocs.io/en/latest/tutorials/plots.html)
[Defining Observing Constraints](https://astroplan.readthedocs.io/en/latest/tutorials/constraints.html)
[Scheduling an Observing Run](https://astroplan.

[2017-09-22 17:49] kelle commented on #149
dupe of #73

[2017-09-22 17:49] #149 closed

[2017-09-22 17:52] kelle commented on #21
I think this is currently covered in the Coordinates tutorial:
http://www.astropy.org/astropy-tutorials/Coordinates.html
and as mentioned in #147 , will eventually be broken out into a more stand-alone tutorial.

[2017-09-22 17:52] #21 closed

[2017-09-22 17:58] eteq commented on #151
my bad, thanks @adrn.  Apparently `nbsphinx` *uses* `nbconvert`, so @pllim's point is a potential serious issue then

[2017-09-22 18:01] bsipocz commented on #151
@adrn - isn't your notifications are full like ours?

[2017-09-22 18:04] eteq commented on #150
After some out-of-band discussion, @adrn convinced me that this isn't a blocker, because all the uses of exceptions in the nbs right now can be re-phrased to not raise errors/be commented out.  But this is a "nice-to-have" if nbconvert can eventually support it.

[2017-09-22 18:05] kelle commented on #111
adding this idea to #12

[2017-09-22 18:05] #111 closed

[2017-09-22 18:07] pllim commented on #151
@eteq , maybe there is no reason to panic (and sorry to cause it) because now that I look at `stginga` tests, I recall that @saraogaz might have fixed it somehow.

For example, see https://travis-ci.org/spacetelescope/stginga/jobs/264491709 -- Even though there is a traceback about `nbconvert.utils.pandoc.PandocMissing: Pandoc wasn't found` (because it is checking right before Travis installs `pan

[2017-09-22 18:14] SaraOgaz commented on #151
The problem I was running into was a Pygments warning/error (don't remember). The solution was to to grab ipython from the conda-source channel, It's super annoying...  https://github.com/jupyter/nbconvert/issues/528

[2017-09-22 18:22] bsipocz commented on #32
I think this can be closed and move the discussion to https://github.com/astropy/astropy-tutorials/issues/152 that details out the grand plan to for testing (based on the notes linked above).

[2017-09-22 18:25] adrn commented on #32
Sounds good!

[2017-09-22 18:25] #32 closed

[2017-09-22 18:31] kelle opened #154 "Improve FITS-image and FITS-Table tutorials"
FITS-image: http://www.astropy.org/astropy-tutorials/FITS-images.html
FITS-Table: http://www.astropy.org/astropy-tutorials/FITS-tables.html

Consolidating #119 and #121
- Add Lupton RGB
- Add WCS topics
- Combine with FITS-Tables

[2017-09-22 18:31] kelle commented on #121
Now part of #154

[2017-09-22 18:31] #121 closed

[2017-09-22 18:32] kelle commented on #119
Now part of #154

[2017-09-22 18:32] #119 closed

[2017-09-22 18:33] #89 closed

[2017-09-22 18:41] nden commented on #10
@kelle I think an example which shows only to transformations `pixel --> world` and reverse would be good.

There are such examples in STScI tutorials. I can copy one here.
Is there policy on data (sorry if I missed it). I can add an HST data file but I'm also happy to use any data file that's already available in the tutorials.

[2017-09-22 18:50] bsipocz commented on #88
There are a bunch of notebooks using photutils here: https://github.com/astropy/photutils-datasets/tree/master/notebooks

[2017-09-22 18:50] vditomasso commented on #143
I ran through this tutorial and have some suggestions:
- The `matplotlib.rc_file("../../templates/matplotlibrc")` line doesn't work (would it work if a tutorial user was trying to use this notebook without cloning the whole tutorials repository?)
- matplotlib.pyplot is imported twice
- In line 5, it would be useful to explicitly explain the string formatting `print("""Half light radius value: {0}

[2017-09-22 18:58] adrn opened #155 "Remove the astropy_mpl_style"
[code]

[2017-09-22 19:03] kelle opened #156 "Stats Tutorial: Fitting a straight line to data"
@adrn draft here:
https://github.com/adrn/PrincetonStatsSeminar/blob/master/notebooks/Fitting%20a%20straight%20line%20to%20data%20-%20lecture%20notes.ipynb

but it would need more astropy content.

[2017-09-22 19:05] kelle commented on #126
Most are already on the list of ideas. Added #156 for stats.

[2017-09-22 19:05] #126 closed

[2017-09-22 19:07] kelle commented on #138
- Emily made a Project to describe org chart of Learn Astropy materials: https://github.com/astropy/astropy-tutorials/projects/3
- Google sheet compiling existing content, possible content, and topic keywords:
https://docs.google.com/spreadsheets/d/1JmOF82Zmrs397wLwAmmL1rgDSsvP6Z4fLMr0hV5ZIb4/edit?usp=sharing

[2017-09-22 19:30] JPVentura135 opened #157 "Improvements for the tutorial"
###  Reading the data' section:

- Error statements show on the tutorial webpage due to import issues. removing these would help readability and de-clutter the page

###  Units and Constants in Astropy

- Error generated in last cell for wavelength unit conversions:

wavelength.to(u.keV, equivalencies=u.spectral())
wavelength.to(u.Hz, equivalencies=u.spectral())
...
UnitConversionError: 'Angstrom2

[2017-09-22 19:52] emilurice commented on #127
All of these tutorials/notebooks have been added to the ["Possible Content" section of the Learn Astropy spreadsheet.](https://docs.google.com/spreadsheets/d/1JmOF82Zmrs397wLwAmmL1rgDSsvP6Z4fLMr0hV5ZIb4/edit#gid=1773165275)

[2017-09-22 19:52] #127 closed

[2017-09-22 20:14] pllim commented on #138
Re: Google sheet -- Would be nice to add an example of how user can edit a FITS table when it is read into `astropy.table.Table` and then write it back out to FITS via unified I/O. This was brought up by @saraogaz at some point.

[2017-09-22 20:27] adrn opened #158 "Explore making the tutorials citable"
Either as a whole, or individually (get each tutorial a zenodo DOI when it is published?).

[2017-09-22 22:03] emilurice commented on #158
I think Guides should absolutely be individually citable, but tutorials ... probably also worth having individually citable.

[2017-09-23 13:56] pllim commented on #158
When a tutorial gets updated, does it retain the same DOI or get a new one? For example, if I cited a tutorial on Sep 21, and then it gets updated Sep 23 and its content changed in a non-backward compatible way, people reading my paper would be very confused.

[2017-09-23 14:31] adrn commented on #158
The tutorials would have to be updated and re-published in a more formalized way. That is, the DOI would refer to a version of the tutorial. I'm not necessarily advocating for implementing that now, but it's something to think about.

[2017-09-27 14:36] kelle commented on #139
I think it's fair to look ahead to synphot being an affiliated, if not coordinated, project so I think this is very in scope. Indeed, I think it's one of the tutorials that I would like to see written ASAP.

[2017-09-28 00:27] adrn opened #159 "Remove input/output prompts from rendered tutorials"
_This is only relevant once #153 is merged_

We should remove the `In[...]` and `Out[...]` prompts from the rendered notebooks. This currently isn't possible with nbsphinx (see spatialaudio/nbsphinx#126). I've asked to see if they would consider adding an option (similar to what nbconvert has) to exclude the prompts, but we're stuck waiting for an upstream fix.

cc @kelle

[2017-09-28 00:41] adrn opened #160 "Replace functions / classes with links to source documentation"
_This is only relevant once #153 is merged_

`sphinx-gallery` has a nice feature in which it auto-identifies function and class names from intersphinx-ed packages and replaces the rendered html versions of the names with links to the source documentation. For example: check out the last code block [on this page](https://sphinx-gallery.readthedocs.io/en/latest/auto_examples/sin_func/plot_sin.html#s

[2017-09-28 21:39] kelle commented on #157
- Which tutorial is this for? Pls add that info in the title.
- Do you get these errors when you run the tutorial from the downloaded latest version of the notebook in the repo or are these errors only on the .html page?

[2017-09-28 23:13] kelle commented on #138
This info is all now contained in the Project and the documents linked there.

[2017-09-28 23:13] #138 closed

[2017-09-29 16:57] eteq opened #169 "Make style guide for tutorials"
For things like consistent imports, PEP8, etc.

cc @astrofrog @bsipocz @kelle

[2017-09-29 17:01] eteq opened #170 "Figure out how to add linters to the notebook Travis tests"
It would help a lot with review to have a linter like flake8 or the like run on notebooks. Maybe this would need to use nbconvert to get a .py file and then run the linter on that?

[2017-09-29 17:14] kelle commented on #169
This exists already and I have a branch where I'm making updates:
https://github.com/kelle/astropy-tutorials/blob/dev-contributing2/CONTRIBUTING.md

[2017-09-29 17:25] bsipocz commented on #169
Items to add (copied over from slack):

**Imports**:
 * except the very standard (matplotlib, numpy) one, do imports around the cell they first used
 * only import things that are used (hopefully we can check for these in the tests)
 * do not use custom abbreviations, keep the name of the packages
 * avoid importing to the main namespace, especially things that are only used once

**Outputs**
 * d

[2017-09-29 18:14] eblur commented on #169
Minor issues:

I don't particularly agree with this, only for the purposes of the tutorial documents.  Seeing the imports at the top of the notebook provide a sort of table-of-contents, where it is very explicit which packages are demonstrated. And this is useful even when your interested in a package that is not the target of the tutorial.  (For example, one of the tutorials uses `glob`, which is

[2017-09-29 18:50] bsipocz commented on #169
Yes, or the example I saw was ``from matplotlib import rc``. This clearly better to avoid as rc should not used often, etc.

[2017-09-29 19:08] kelle commented on #169
Please review the updated guidelines in this PR. I've included a standard import block.
https://github.com/astropy/astropy-tutorials/pull/171

[2017-10-01 20:14] cdeil opened #172 "Error in UVES tutorial still in rendered version"
This tutorial has a Python 3 error and then all cells fail:
http://www.astropy.org/astropy-tutorials/UVES.html#Reading-the-data

@adrn - Looks like you fixed this 10 days ago in https://github.com/astropy/astropy-tutorials/commit/03c9af75ecd4f633fff9b2a9f16960a5063a8d7f , but the website still shows the old version.

Can you (or anyone) please deploy the new one with the fix?

[2017-10-01 20:19] adrn commented on #172
We're in the process of completely overhauling the tutorials site and content - see #153. I temporarily disabled the website builds while we finish up the new deployment because many other things were also broken.

[2017-10-03 02:21] adrn commented on #159
This is partially solved - I added `nbsphinx_prompt_width = 0` to the `conf.py` file and this seems to work by just hiding the HTML region that would display the prompt. I'll leave this issue open as a reminder that there may be a more elegant solution one day...

said every developer ever

[2017-10-09 16:20] robmarkcole commented on #157
Theres a few errors on the [Quantities](http://www.astropy.org/astropy-tutorials/Quantities.html) tutorial

[2017-10-22 17:03] adrn opened #173 "Move content from CONTRIBUTING.md to developer docs"
This should be done after #153 and #171 are merged.

[2017-11-03 20:24] adrn opened #174 ""Permission denied" in UVES tutorial"
If you re-run the `convert.py` script on the UVES tutorial, you can get an error like:
`Permission denied: './UVES/r.UVES.2011-08-11T232352.266-A01_0000.fits'`

[2017-11-03 20:26] adrn opened #175 "Conesearch tutorial occasionally fails because of unpredictable column names"
The conesearch tutorial will sometimes fail to run because it may (behind the scenes) change the service it uses to retrieve a table, and different services use different names for RA/Dec. The tutorial assumes "RAJ2000" but it might come back as other names. We should modify the tutorial to be more careful about this.

[2017-11-03 20:27] pllim commented on #175
You can assign this to me. I'll think about it...

[2017-11-03 20:56] bsipocz commented on #175
I've tried to assign this, but I guess you need to be added to the tutorials team first by an admin.

[2017-11-11 19:51] omendezmorales commented on #118
Hi,
I'd like to participate in solving this issue. What is the current status @tomasjames ? Is there room so that  I can join? I'm new into Python + astronomy, but I've been studying the subject.
Cheers,
Orlando.

[2017-11-11 20:38] tomasjames commented on #118
Hey @omendezmorales

Of course, there’s always room for more open source contributors :).

I haven’t really looked in to this in great detail to be honest, though I did settle on the 3rd person being the best compromise. I was waiting for more input before charging ahead so you joining in could help us get this fixed!

What do you think?

[2017-11-11 21:43] omendezmorales commented on #118
Hi @tomasjames ,
Sure the 3rd person could be a good compromise. So instead of "I", and "we", the text would read something like "the user" (he/she/it)?

I see in total 8 tutorials in[ this page](http://www.astropy.org/astropy-tutorials/). Shall we start in the appearance order there, ie. with "Analyzing UVES Spectroscopy with Astropy")?
Cheers,

[2017-11-12 12:23] bsipocz commented on #118
@omendezmorales and @tomasjames - Thank you for wanting to contribute. As a heads up, please note  that a big overhaul is in the works for the tutorials, see the open PRs.
That however doesn't mean that this specific issue is already been addressed in those PRs.

(The other question about the best unified voice is I'm not sure about, I most like we or singular they, but this is something @kelle, @

[2017-11-12 15:01] omendezmorales commented on #118
Thanks for the heads up @bsipocz ; waiting then for @kelle, @adrn or @eteq to reach consensus.

Cheers,

Orlando.

[2017-11-16 22:37] adrn opened #177 "Provide "Teacher documentation""
We should add a section to the tutorials site that is similar to the developer documentation but for teachers using the material. We should give some instructions on how to make sure students are set up with the dependencies, can find the actual notebooks, etc.

[2017-11-17 19:03] #159 closed

[2017-11-17 19:03] #173 closed

[2017-11-17 19:04] #151 closed

[2017-11-17 19:04] #150 closed

[2017-11-17 19:06] adrn commented on #104
I think this is no longer relevant with the new build machinery.

[2017-11-17 19:06] #104 closed

[2017-11-17 19:07] adrn commented on #122
There are now links to the source notebooks on each rendered page. But I think this is also something we can do in #177 when describing to "teachers" how to prepare for a workshop/live tutorial.

[2017-11-17 19:07] #122 closed

[2017-11-17 19:08] adrn commented on #63
I think they are fine (now they are consistent with the Astropy documentation), but please open a PR if you want to change them.

[2017-11-17 19:08] #63 closed

[2017-11-17 19:08] #117 closed

[2017-11-18 23:35] bsipocz commented on #152
I'll come back to this in a weeks time. Ping if I don't.

[2017-11-28 20:32] adrn opened #180 "Rendering problems in Coordinates tutorial"
There are some rendering issues with the coordinates tutorial.

* ~~~At least one footnote "If you don't know what a class method..." looks borked~~~
* Some of the links are written in RST format but need to be converted to markdown (nbconvert does the conversion for us)

[2017-12-02 20:47] adrn commented on #180
I address the first point in the PR above, but can't figure out how to fix the links. The issue is that anything with backticks gets mangled when nbconvert exports to RST. I think the culprit here is pandoc, which is what does the actual conversion from markdown to RST. See an example of the mangled output here: http://astropy-tutorials.rtfd.io

[2018-01-18 16:43] julesfowler opened #182 "How to catch an improper sized buffer WARNING in a try/except."
Something is rotten in the state of the file handler, and opening a file is not always enough to raise this warning, and seemingly NEVER enough to catch it in a try/except.

Ex:
[code]
will do nothing -- even though without the `try/except` the error will be raised.

@pllim figured out the solution, which is to except the behavior of `verify()` instead.

Ex:
[code]

We figured this caused us enoug

[2018-01-30 20:01] #175 closed

[2018-02-06 19:24] #155 closed

[2018-02-06 20:12] eteq opened #188 "Make inputs and outputs more distinct/apparent"
In the new tutorial infrastructure, inputs and outputs are difficult/inconsistent to distinguish.  This snippet from the quantity tutorial illustrates the problem:

![image](https://user-images.githubusercontent.com/346587/35880737-b8b1151c-0b4c-11e8-899d-208d05a56937.png)

The first code snippet is an input and the second is an output, but you can't tell that without already understanding what's

[2018-02-07 03:03] adrn commented on #188
I can't figure out an easy way to put `In[...]:` and `Out[...]:` into the converted cells. It looks like that is done by nbsphinx. The confusing thing is that I just realized that the nbconvert docs themselves are built with nbsphinx (e.g., [see this page](http://nbconvert.readthedocs.io/en/latest/customizing.html?highlight=input)), so before I knew that, I thought that it was easy to do with nbco

[2018-02-07 03:04] adrn commented on #188
BTW: I think it is critical to address this in *some* way before we launch.

[2018-02-07 16:01] kelle commented on #188
I just skimmed the [Customizing nbconvert page](http://nbconvert.readthedocs.io/en/latest/customizing.html?highlight=input) and I have two ideas.

1. Just put the In [#] Out [#] things back. This seems like the easiest option and one that I would vote for so then we can launch ASAP.

2. use a custom template to change the box color for input and output. I don't mean adding a box like they show, bu

[2018-02-07 16:21] adrn commented on #188
RE: 1., I tried to explain above that there is no way to easily put In[#] and Out[#]! As far as I can tell, that is done by `nbsphinx`, which `nbconvert` uses to build its docs. I don't think `nbconvert` does that natively.

[2018-02-07 16:26] kelle commented on #188
Ok, I don't have my head wrapped around this nbconvert/nbsphinx situation  enough to help.  I'll let you and @eteq work it out.

[2018-02-07 18:12] eblur commented on #188
Do we understand why the discrepancy is happening in the first place?

The first output is regular printed information -- and the way that it is printed does make it look like code -- so I agree with @adrn that this is critical.

The second output is LaTeX / mathjax, so does that explain why it is rendering differently?

Overall it sounds like this is a job for a sphinx wizard.  Sorry @eteq ... or

[2018-02-08 18:53] eteq commented on #188
Re: @eblur's

Definitely no to the question as posed (e.g. "understand" :wink:), but I have a *guess*: the first example is a `print` statement, which when you do in a notebook it comes in between the "input" and "output", with subtley different rendering because it's plain text.  But the `Quantity`'s are *outputs*, and the magic that makes them render using mathjax is embedded in the `_repr_latex

[2018-02-08 19:44] adrn commented on #188
I've come around to the idea that we should just put in `In[..]` and `Out[..]` to make them look like notebooks (I don't care if the execution count appears or not). I think we want to emphasize the idea that the tutorials *are* notebooks that can be run by the users, and the pages are just rendered versions of those notebooks. If we customize the style too much, new users might not immediately ma

[2018-02-13 20:18] eblur opened #190 "Move some documentation from developer to contributing page"
- [ ] 1 - Link to the developer documentation
http://astropy-tutorials.readthedocs.io/en/latest/dev.html#dev-page
in the contributing page
http://astropy-tutorials.readthedocs.io/en/latest/contributing.html#contributing-page

Text should say something like:

- [ ] 2 - Please put the "Tutorials directory structure" on the Contributing page

[2018-02-13 21:16] #190 closed

[2018-02-13 22:41] eblur commented on #188
Agreed. We need @eteq to handle this.

However, please keep in mind that we want the solution to be simple, i.e. not so customized that it will be difficult to maintain.  Make sustainable choices. :)

[2018-02-17 04:48] krislars commented on #177
It might be worth following the Colaboratory project that Google recently adopted.

Users can add and execute a simple `!pip install astropy`, and voila! run the tutorials from the browser.  Probably needs a Google account, prefers Chrome and all that, but might be useful for introducing new users when getting things installed on their machines is not feasible.

Here is an example of the quantitie

[2018-02-18 05:15] SKKSaikia opened #192 "gsoc 2018 - astropy tutorial"
Greetings astropy community members, I am Amartya and I am interested in building astropy tutorials in notebook. I have built one here - https://github.com/SKKSaikia/FITSview , on "FITS data :: APLpy vs Ginga" . This is just a demo tutorial and with further deep knowledge and suggestion from mentors and community members, would like to enhance and shape tutorials to its perfect form. Can you pleas

[2018-02-19 19:24] kelle opened #193 "[Discussion] How to deal with environment mgmt problem"
Picking up convo started by [@adrn on twitter](https://twitter.com/adrianprw/status/964592031602528258):
regarding [Learning to program is getting harder](http://allendowney.blogspot.com/2018/02/learning-to-program-is-getting-harder.html) blog post.

The gist is that "the barrier between using a computer and programming a computer is getting higher."  and that we have to deal with the overheads of

[2018-02-21 04:33] krislars commented on #193
An addition to the blog post options for Delay the Pain, it might be worth also following the [Colaboratory](https://colab.research.google.com) project that Google recently adopted.

Users can add and execute a simple `!pip install astropy` cell, and voila! run the astropy tutorials from the browser. Needs a Google account, probably prefers Chrome and all that, but might be useful for introducing

[2018-02-21 19:04] kelle opened #194 "[Discussion] Colaboratory"
As mentioned by @krislars in #193 and #177, Google has a new thing, [Colaboratory](https://research.google.com/colaboratory/faq.html), for running Jupyter Notebooks in the cloud. This looks potentially very relevant to us. Maybe completed notebooks go into a drive and we add a link to the top to open in Colaboratory. Is this basically an alternative to Binder? (cc @jradavenport).

[2018-02-22 15:55] eteq opened #195 "Possible additional coordinates tutorial focused on proper motions"
Inspired by [a tweet](https://twitter.com/ziggypao/status/965506022919102464), I wrote up the answer to what I (and @adrn, I believe) think is a common scientific use case for `astropy.coordinates`, but with some important non-obvious subtlties: combined modeling of parallax and proper motion. The notebook is here: https://gist.github.com/eteq/a8be41d346f6e870fe7af8b8625fab70 . That's probably not

[2018-02-23 18:01] eblur commented on #193
My desire is to do **both** 2 (Face the pain) and 3 (Delay the pain).  We can't expect people to use astropy (and astronomical python tools in general) if they can't get it working on their own machines.

Proposed teaching workflow for a workshop:
1. Face the pain: Provide instructions for installing Anaconda 3, setting up an environment (e.g. for Python 2 support), and using conda to install pack

[2018-02-23 18:05] eblur opened #196 "[Discussion] Set up 'v2' tutorial planning board?"
Inspired by the conversation on Slack, we have a few desired tutorials. Do we have enough to start a project board? Do we have critical mass to populate the project board?

* How to gauge code performance (e.g. `%%time`, `%%timeit`, and `%%lprun`)
* Installation, package management, and conda environments

Throw in your 2 cents.

[2018-02-23 18:30] kelle commented on #196
I'm happy to use the Project Boards!

The way we have been keeping track of new tutorial ideas is with the [content-new](https://github.com/astropy/astropy-tutorials/issues?q=is%3Aissue+is%3Aopen+label%3Acontent-new) label. But those can be tagged in a project board.

My thinking was that we'd incorporate performance learning opportunities into several tutorials rather than have a tutorial dedicat

[2018-02-24 19:52] bsipocz commented on #196
From the sideline, I totally agree to incorporate performance tips into all tutorials, even if they are not highlighted as performance, as many of them are really just best practices (e.g. vectorize everything rather than loop over), and the more it's seen during the learning curve the more natural it become.

[2018-02-26 19:16] krislars commented on #194
Thank you, @kelle !

I tried the binder link from the astropy-tutorials front page,
https://beta.mybinder.org/v2/gh/astropy/astropy-tutorials/?filepath=tutorials/notebooks
and none of the import statements work.  That's what got me headed to Colab.

[2018-02-27 19:51] adrn opened #197 "Move the content of the "green box" tutorial header Note to menu bar"
We're planning to have a standard, stylized header / introduction at the start of each notebook. @eblur and I discussed that the current green "note" about Binder could move to make more screen real estate for the new headers. In principle, we could just add two links to the menu bar: "Download" and "Interactive notebook" rather than the current `.. Note::`.

[2018-03-03 22:50] adrn opened #199 "Tutorial idea: create a table with coordinates, time data, show how to write and read"
The idea would be to target astronomers who make and distribute catalogs of objects. There are some nice features in astropy.io and astropy.table for round-tripping Astropy objects to binary and ascii files, e.g., http://docs.astropy.org/en/stable/io/unified.html#writing-and-reading-astropy-time-columns.

I just today learned about using `astropy_native=True` in `Table.read()`, so I'd like to show

[2018-03-05 12:01] jimboH commented on #180
I think the problem arises from the restriction in RST format. As quoted from [https://thomas-cokelaer.info/tutorials/sphinx/rest_syntax.html#explicit-links](url)

If  there are verbatims, italics or links used nested in the original notebook, it inevitably causes problems in the transformed RST file. Therefore, I would suggest not to use verbatims with links together in the original notebook.

[2018-03-06 19:23] eblur commented on #196
Project board started! https://github.com/astropy/astropy-tutorials/projects/4

[2018-03-06 19:23] #196 closed

[2018-03-06 19:25] eblur commented on #193
I've added proposed content to the "Teaching Backend" column to the Tutorial Content Wishlist project board, regarding this topic.

https://github.com/astropy/astropy-tutorials/projects/4

[2018-03-06 19:32] eblur commented on #182
Thanks so much @julesfowler

Which FITS tutorial did this problem arise from?  (See http://astropy-tutorials.readthedocs.io/en/latest/ for the latest content.)

I'm adding this to "Notebook Content Upgrades" section of the desired content project board.
https://github.com/astropy/astropy-tutorials/projects/4

[2018-03-06 19:39] julesfowler commented on #182
@eblur I found the behavior working on my own projects, but @pllim suggested this might be the best forum to report the strange behavior.

[2018-03-06 20:34] kelle opened #200 "Make a mockup of a new Astropy Learn website"
The vision is described in the "Landing Page" column of the [Learn Astropy Org Chart](https://github.com/astropy/astropy-tutorials/projects/3).  Before this can be developed, we need to have a mockup showing what it might look like.
Functionality is demonstrated on [Zappos](Zappos.com) and [Royal Carribbean](https://secure.royalcaribbean.com/cruises/)

[2018-03-06 21:30] eblur commented on #192
Hi Amarta, great to hear that you are interested!

To get started, read through the [Astropy GSoC guidelines](https://github.com/astropy/astropy/wiki/GSoC-2018-Guidelines) and follow the steps, including submitting your interest form and working on a pull request.

The next thing is to submit your example notebook as a pull request to this repo (astropy/astropy-tutorials)

We look forward to heari

[2018-03-07 01:55] littlewonder commented on #200
Hi! I'd like to work on this :-)

[2018-03-07 02:00] littlewonder commented on #200
Hi @kelle I'd like to work on this :-)
- I plan to make a low fidelity wireframe first, have everyone's suggestion and then make a high fidelity mockup of the discussed design.

Can you please assign this issue to me?

[2018-03-07 03:14] kelle commented on #200
Hi @littlewonder. We'd love to see what you come with! And your plan sounds like a great one.

Since this is a possible Google Summer of Code project, there may be several people who want to make mockups. Therefore, I'd rather not assign it to anyone just yet.

[2018-03-09 13:14] #188 closed

[2018-03-11 15:57] MananAgarwal commented on #200
Hi @kelle. I have prepared this draft of the mockup. I went through the [org chart](https://github.com/astropy/astropy-tutorials/projects/3) and tried to incorporate all the required features.

![mockup](https://user-images.githubusercontent.com/24625562/37255270-ddb3a7d4-256f-11e8-9bc6-23597448a121.jpg)
This is the landing page for learn.astropy with a dynamic search feature.

Below the search ba

[2018-03-11 16:12] kelle commented on #200
Wow Manan, that looks great! Very well done!

comments:
 - add thumbnail images to the placards search results.
- add other search categories (keywords, companion materials) as collapsible menus.

Best place for discussions is on the Astropy slack. Please follow this link to join: http://joinslack.astropy.org/ In addition to #general, There are also #learn and #gsoc channels you may be interested

[2018-03-12 14:26] littlewonder commented on #200
Hey @kelle Sorry for getting on this late, was caught up in a hackathon!
I have come up with this:
## Main Website Landing Page:
![Landing Page](https://i.imgur.com/TWPPD4X.jpg)

I tried to incorporate all the elements of org chart with simple illustrations. Not so sure about the background of the search box, I was thinking maybe we can try implementing a minimal CSS Animation of outer space or so

[2018-03-12 16:45] pllim opened #202 "Tutorial idea: ASDF + GWCS"
Since `gwcs` is an Astropy affiliated package and it can be used in conjection with `asdf`. A tutorial on how to tie these two together would be nice.

c/c @nden @drdavella

[2018-03-12 17:08] kelle commented on #200
Hey @littlewonder - these two pages look really good!  I see that you've gotten some comments already on Slack and I agree with those.
On the search page, I really like dropdown and search options on each category. But I think we don't need three overall search boxes. I think we should just have one and there should not be a search bar in the common header.

[2018-03-12 17:20] kelle commented on #202
It seems like there are not too many people qualified to write this tutorial and indeed, I'm not even sure what it means. Could one of you give us a general overview of the functionality that this tutorial would demonstrate? And are the folks cc'd the ones who would be able to write it?

[2018-03-12 17:21] pllim commented on #202
At least two of them, yes. :wink:

[2018-03-12 17:24] kelle commented on #139
Jackie Radigan (@jmradigan) just mentioned to me that she's written some.

[2018-03-12 18:26] littlewonder commented on #200
@kelle **Update**
- Made the Faces more diverse
- Removed the search bar from the header
- The Second search bar on the search bar is to limit your results to, say, examples or guides. There's only one overall search.

## Landing Page
![](https://i.imgur.com/sOy7YuL.jpg)

## Search Page
![](https://i.imgur.com/p2EuiV0.png)

Have posted the designs in #learn on Slack Channel, hoping to get some mor

[2018-03-13 15:36] #192 closed

[2018-03-13 15:40] kelle commented on #157
these have been resolved in the latest version of the tutorial:
http://astropy-tutorials.readthedocs.io/en/latest/rst-tutorials/quantities.html

[2018-03-13 15:40] #157 closed

[2018-03-13 15:41] kelle commented on #172
This is now resolved.
http://astropy-tutorials.readthedocs.io/en/latest/rst-tutorials/UVES.html

[2018-03-13 15:41] #172 closed

[2018-03-13 15:43] #169 closed

[2018-03-13 15:46] kelle commented on #142
consolidating this convo into #193

[2018-03-13 15:46] #142 closed

[2018-03-13 15:46] kelle commented on #177
consolidating this convo into #193

[2018-03-13 15:46] #177 closed

[2018-03-13 15:47] kelle commented on #128
Disqus has been disabled in the latest version of the tutorials site.

[2018-03-13 15:47] #128 closed

[2018-03-13 15:51] kelle commented on #113
The files are in the repo and you are 100% correct, they don't seem to be linked from the notebook. https://github.com/astropy/astropy-tutorials/tree/master/tutorials/notebooks/plot-catalog
This needs to be fixed, thanks for pointing it out!

[2018-03-13 17:31] kelle opened #203 "How to implement dynamic search in new website?"
We have some great mockups for a new website (#200) and a great new sphinx infrastructure (#153) but how will they work together? What is the actual code or plugins which can be used to make the dynamic search work within the sphinx generated pages?

[2018-03-13 17:32] kelle commented on #200
@littlewonder @MananAgarwal These mockups are great starts! The next step is implementation. Please let us know how you think the dynamic search might be implemented in #203.

[2018-03-13 19:56] eteq opened #204 "Try to get the "old" page to do a 301-style redirect"
Having just rolled out the readthedocs version of the tutorials (and updated http://tutorial.astropy.org to point there), @eblur pointed out that http://www.astropy.org/astropy-tutorials still points to the "old" version.  (That's the same as the `gh-pages` branch of *this* repository - https://github.com/astropy/astropy-tutorials/tree/gh-pages .) Responding to that, I pushed up a quick update tha

[2018-03-14 14:55] adrn opened #205 "Remove original coordinates tutorial"
PR #179 split up the original coordinates tutorial, so we should remove the original, long tutorial and make sure that all of the content has made it in to other tutorials.

[2018-03-14 18:16] emilylurice opened #206 "WCS error in UVES tutorial"
`wcs = WCS(header) `
results in
NameError: name 'WCS' is not defined

[2018-03-15 11:56] MananAgarwal commented on #203
Hey @kelle,
Glad that you liked the mockups. I looked into the integration with Sphinx infrastructure. Here are two options that we can consider:

- [sphinx-bootstrap-theme](https://github.com/ryan-roemer/sphinx-bootstrap-theme): This is a configurable, extensible and mobile-friendly theme that integrates **Bootstrap** CSS/JS framework with various layout options.

- Sphinx has a feature that allo

[2018-03-16 22:49] kelle commented on #139
Where should these tutorials live? I just looked at one @jmradigan wrote for Chapter 10 on stellar interiors, but it has no astropy use at the moment. I vote we still house them here. If need be, someone can take a look at it and add some astropy content.  Other thoughts?

[2018-03-16 23:06] kelle opened #208 "[Discussion] Incomplete notebooks as assignments"
All of the tutorials now have worked out problems followed by exercises. These are GREAT and could be assigned as homework, but they are kinda short. It would be nice to have jupyter notebooks that are mostly incomplete and have some undefined variables and things that *must* be done by the student before the rest of the notebook will run. Is this possible to implement in the current infrastructur

[2018-03-16 23:13] kelle commented on #208
We could actually make a whole new category of notebook called "assignments". Assignments,  Tutorials, Guides, etc.  After thinking about this for a couple minutes, I like this idea the best.

We could also make it clear that instructors could send an email to an admin to request access to the private repo with the solutions. THAT repo should be the one that gets tested. As for as I'm concerned, t

[2018-03-20 13:42] littlewonder commented on #203
@kelle
Sorry for getting on this late. I was sick and recovery took quite some time. Apologies :-)

I'd suggest using Sphinx inbuilt JavaScript utility for the full-text search, [searchtools.js](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/themes/basic/static/searchtools.js_t). Pytorch uses the same for searching through its [Sphinx generated docs](http://pytorch.org/docs/0.3.1/).

[2018-03-20 20:25] eblur commented on #203
Hi all, this is a reminder to please put your landing pages and at least the beginning of your implementation into a pull request so that we can see the source code.

Also let us know when you have opened your GSOC application on the GSOC website. We will be able to see them and could give you feedback.

See the [Astropy GSOC 2018 Guidelines](https://github.com/astropy/astropy/wiki/GSoC-2018-Guide

[2018-03-21 20:11] #197 closed

[2018-03-21 20:41] eteq opened #209 "Make it possible to set the kernel used in `make html`"
Right now if you run `make html` (the only convenient way to build not on RTD), the nbconvert machinery uses some default kernel (I *think* based on whatever name is in the notebook).  Often that's not desirable - for example I have a special conda environment just for the tutorials, and probably other users will too to various degrees.

So there should be some way to set what kernel is being used

[2018-03-21 20:41] adrn opened #210 "Sphinx build process (the Makefile) should support building subsets of tutorials"
Right now, `make html` builds *all* of the tutorials. This takes a really long time and makes certain debugging painful. But the python build script supports building single tutorials. We should add a build option to the `Makefile` to build subsets (or, initially, just single tutorials) that carries through to the sphinx build process as well.

[2018-03-21 21:04] eteq opened #211 "Have cell timeout errors point to which cell is the problem"
Really long-running cells eventually timeout on RTD - see https://readthedocs.org/projects/astropy-tutorials/builds/6923426/ for a log with an example of this.

The problem is, the logs there don't report anything about *which* cell is the problem.  We should try to figure out how to catch those errors and report some more information about them.

cc @adrn

[2018-03-27 19:26] kelle commented on #200
Thank you for your well thought out proposals! Now that they are in, I'm gonna close this issue.

[2018-03-27 19:26] #200 closed

[2018-03-27 19:26] kelle commented on #203
Thank you for your well thought out proposals! Now that they are in, I'm gonna close this issue.

[2018-03-27 19:26] #203 closed

[2018-03-27 19:31] kelle commented on #204
It looks like google is still finding specific tutorials. SHould we redirect all the old pages? Or add a banner of some kind to the top of them? I vote for redirecting everything, even if we need to do it by hand for the ~10 old tutorials.

[2018-04-08 20:16] omendezmorales commented on #194
Hi @krislars and @kelle ,
When I click on the _binder_ link mentioned, indeed I get the following error message:
_Spec is not of the form "user/repo/ref", provided: "astropy/astropy-tutorials". Did you mean "astropy/astropy-tutorials/master"?_

Following the log's recommendation however, allows me to load the tutorials on binder. So the correct URL to the binder's link in the _[readme](https://git

[2018-04-09 00:27] adrn commented on #194
@omendezmorales Just fixed that bug - thanks for catching!

Looking in to the import issue now.

[2018-04-09 00:41] adrn commented on #194
Binder import issue should be solved now - thanks for pointing that out @krislars!

[2018-04-10 14:08] littlewonder opened #216 "Interacting with the Sphinx Generated Docs from the Landing Page"
I was dabbling with the dynamic search integration of the Sphinx Generated pages with the landing page for the learn astropy website. [Issue #203]

I figured out that we can directly make request to [Read the Docs](https://readthedocs.org/api/v2/docsearch/?q=plot&project=astropy-tutorials&version=stable&language=en) to get search results, corresponding to our query (which is plot, in the example U

[2018-04-10 14:11] kelle commented on #216
I don't know what CORS is but is it the kind of thing that we could ask RTD to implement for us?

@adrn , thoughts?

[2018-04-10 15:13] littlewonder commented on #216
As far as I know, enabling CORS(Cross-Origin Resource Sharing) is not a good practice since allowing other websites to do HTTP calls from JavaScript (what we call) can be a security issue; so it's possible that RTD may not agree to our request. Maybe we can ask them to whitelist our particular domain, but still, that depends on them.

Let's see what @adrn has to say. Meanwhile I'll brainstorm for

[2018-04-12 15:57] pllim commented on #216
Yeah, let's not get too fancy there with JS lest browser start blocking it due to suspected security risk...

[2018-04-13 04:40] littlewonder commented on #216
Problem is If we host a backend(flask or something, to make the HTTP Request), then we can't use Github Pages to host the website. We will need to deploy it somewhere(Heroku or Digital Ocean). Is that possible?

[2018-04-13 13:15] sebauri opened #217 "Just a little contribution"
I was trying you tutorial and I have an issue using python2 in the coordinates notebook tutorial.

Anyway I resolved changing the inicial cell for this:

# Python standard-library
try:
    # For Python 3.0 and later
    from urllib.request import urlretrieve #original line
    from urllib.parse import urlencode   #original line
except ImportError:
    # Fall back to Python 2's urllib2
    from url

[2018-04-13 14:36] pllim commented on #217
I am not sure what is the Python 2 support policy over here but as of `astropy` 3.0, Python 2 is no longer supported. I recommend switching to Python 3. FYI.

[2018-04-13 14:49] sebauri commented on #217
Thank you, I have python2 by default in my notebook I will switch to Python3

[2018-04-16 19:51] keflavich opened #218 "Edit on github link broken?"
The edit on github link at http://www.astropy.org/astropy-tutorials/FITS-header.html takes me to https://github.com/astropy/astropy-tutorials/tree/master/tutorials/FITS-header, which is a 404.

[2018-04-16 22:26] bsipocz commented on #218
I would suggest to turn it off as a short term workaround until someone gets there and fixes it.

[2018-04-20 15:56] eblur opened #220 "Installing astropy and related content: package management"
Motivated by the AAS 231 feedback, we should provide a documentation page and a youtube video to teach people how to install Astropy with Anaconda Python 3 and installing a few extra packages.

[2018-04-20 15:58] eblur commented on #220
Also how to run jupyter notebook.

[2018-04-20 16:02] eblur opened #221 ""Advanced" package management: Conda environments"
This might be a useful resource:
https://astroconda.readthedocs.io/en/latest/

Add a documentation page and youtube video about making environments in Conda. A useful example that many will want to know is how to set up a Python 2 environment.

Also give options for environment management within jupyter notebook.

[2018-04-22 16:55] bsipocz commented on #221
👍

I don't think there should be any effort put into python2 materials as it's already in the sunsetting period, more and more packages are dropping support and it will completely became unsupported by the python dev at the end of 2019.

[2018-05-01 18:04] emilurice commented on #200
I want to make sure the red color doesn't read as "danger/warning/stress" red, especially given that the Tutorials should be the most accessible of the products. This might require adjusting the red in the astropy logo as well...

[2018-05-01 18:33] karllark opened #222 "Dust Extinction Tutorial: unextinguish a spectrum"
Show how to use the dust_extinction package to unextinguish (deredden) a spectrum.

Use observed ultraviolet spectra from a FITS binary table file -> use astropy.io.fits.
Include photometry from Simbad (optical/NIR) -> use astroquery
Convert photometry from magnitudes to fluxes -> use astropy.units
Unextinguish the spectrum using a dust extinction model -> use dust_extinction package
Make a plot o

[2018-05-01 18:48] kelle commented on #222
This is a great idea! Looking forward to the first draft. :)

Please take a look at the [Contributing](http://astropy-tutorials.readthedocs.io/en/latest/contributing.html#contributing-page) doc to help plan the tutorial.

I would start small and then let's discuss the 'bonus content' once you have the meat put together.

[2018-05-03 15:41] kelle commented on #12
Maybe this is something Rocio @rkiman  can take on.

[2018-05-03 15:48] kelle commented on #62
This is needed for
- [input_file.fits](https://github.com/astropy/astropy-tutorials/blob/master/tutorials/notebooks/FITS-header/input_file.fits) in  [Edit a FITS header](http://astropy-tutorials.readthedocs.io/en/latest/rst-tutorials/FITS-header.html)

Maybe @stonnes has insight.

[2018-05-03 16:17] kelle commented on #62
Also need for csv files used in [Plot Catalog](http://astropy-tutorials.readthedocs.io/en/latest/rst-tutorials/plot-catalog.html) as mentioned in #113

[2018-05-03 16:17] kelle commented on #113
combining with #62

[2018-05-03 16:17] #113 closed

[2018-05-03 16:20] #137 closed, assigned to nobody

[2018-05-03 16:28] kelle commented on #158
Here's a lesson on this topic: https://reproducible-science-curriculum.github.io/publication-RR-Jupyter/aio.html
They recommend using `nb_convert` to output to a format and then upload. I think we could just output to a PDF and then upload to Zenodo. I think this is worth doing once the UW-Madison tutorials go live.

[2018-05-03 16:32] kelle commented on #194
Thinking about this a bit more...Colaboratory is essentially Google Docs for Jupyter notebooks. maybe we want to consider using Colaboratory when we're *developing* new notebooks since it allows people to work on notebooks collaboratively.  @karllark, do you want to try this out since I think you starting a new Tutorial?

[2018-05-03 16:35] kelle commented on #204
I think this is pretty high priority. Maybe I will work on it in the afternoon...just add hard link to the top of the pages. Maybe I can add also add in the redirect info in the header so the search engines learn?

[2018-05-03 16:36] #217 closed

[2018-05-03 16:37] kelle commented on #218
That page is deprecated and we need to figure out the redirect as described in #204

[2018-05-03 16:37] #218 closed

[2018-05-03 16:47] kelle commented on #204
@adrn @eteq I'd like to fix this this afternoon. I'm gonna find you to figure out where the HTML files are that live on astropy.org. And to figure out the best meta tags to put in.
[code]

[2018-05-03 21:46] kelle opened #224 "Ingest STAK content"
Do we want to consider ingesting some of the material developed by the [STScI STAK project](http://stak-notebooks.readthedocs.io/en/latest/index.html) into astropy tutorials and/or examples? There are a LOT of standard astro & IRAF tasks displayed there.

@saogaz @eteq

[2018-05-03 23:37] krislars commented on #194
I also happen to be a contributor to dust_extinction.  @karllark, feel free to delegate this to me!

[2018-05-04 00:30] pllim commented on #224
@saraogaz ?

[2018-05-04 13:49] karllark commented on #194
@krislars, done.

[2018-05-07 03:41] pllim opened #229 "Update cone search tutorials"
The current tutorial is broken due to astropy/astroquery#1102 causing the URL to be different. xref https://circleci.com/gh/astropy/astropy-tutorials/15

[code]

Thanks to @adrn  for reporting this! You can assign this to me.

[2018-05-07 13:43] adrn commented on #229
Thanks!

[2018-05-07 14:13] SaOgaz commented on #224
I don't see a problem with doing this in some capacity.  I was waiting on RTD the fix something before doing a more public release, which is now done. So hopefully that will happen this week.

[2018-05-08 19:59] #229 closed

[2018-05-08 19:59] pllim commented on #229
Thank YOU!

[2018-05-09 03:12] adrn opened #231 "Section headings are getting pulled in as top-level TOC entries"
See, e.g., https://circleci.com/gh/astropy/astropy-tutorials/31/artifacts/0//home/circleci/project/build/html/index.html

For some reason, section headings from some tutorials are appearing as distinct entries in the main page TOC.

[2018-05-09 03:12] adrn commented on #231
Note: this doesn't appear on RTD yet, just on CircleCI or local builds.

[2018-05-10 12:12] adrn commented on #231
Fixed this last night!

[2018-05-10 12:12] #231 closed

[2018-05-11 00:03] adrn commented on #88
Note that @bsipocz started a tutorial in #99, but this would still be a good place for someone to contribute!

[2018-06-04 20:00] krislars commented on #222
I've been working on this.  Thanks to @emirkmo for getting this tutorial started, and to @karllark and @pllim for checking over my use of their packages.

There's lot more to be done, but here is a start.  If you are logged into a google account and open the file with colaboratory, you can click comment in the upper right or in any cell to add a comment:
https://drive.google.com/file/d/1zMgoGHMsWD

[2018-06-11 10:49] bsipocz opened #234 "Verbose mode for dependency installation"
Some old astroquery issue popped up again here: https://travis-ci.org/astropy/astropy-tutorials/builds/390649359?utm_source=github_status&utm_medium=notification

It should have been solved in version 0.3.7, and that version is actually pinned in the requirements file. However as the installations are handled individually, outside of the travis install process by ci-helpers, I can't see an easy wa

[2018-06-11 10:59] bsipocz commented on #234
Ideally, it can be a header before executing each notebook, similar to the one we have for the TestRunner.

[2018-06-11 11:46] bsipocz opened #235 "Don't use non or just quazi public API"
The tutorials should avoid using non user facing API, e.g. functionality from anything from astroquery.utils (maybe except TAP+ that already has it's own narrative docs, though also mostly destined to be used in other modules).
These utilities are clearly listed under `Developer Documentation` here: https://astroquery.readthedocs.io/en/latest/index.html#developer-documentation

E.g. the FITS-cube

[2018-06-11 11:50] bsipocz opened #236 ""There should be one-- and preferably only one --obvious way to do it.""
Live by the Zen (`import this`)

I suggest to remove the aplpy way of `Display the Moment Maps` from the FITS-cube tutorial given the warning printed right after the heading and that there is the WCSAxes alternative shown just under it.

[2018-06-11 18:54] krislars commented on #194
I've been working on this.  There's lot more to be done, but here is a start:
https://drive.google.com/file/d/1zMgoGHMsWDnGLD-wtHUJheCNb2yDbqeh/view?usp=sharing

If you are logged into a google account and open the file with Colab, you can click comment in the upper right or in any cell to add a comment.

Working on this, I've found the commenting to be a little difficult to use.  Commenting is an

[2018-06-21 15:29] eblur opened #239 "Make current tutorial headers uniform"
The current tutorials have different header formats. Change the jupyter notebooks to conform to template intro in [Contributing.md](http://astropy-tutorials.readthedocs.io/en/latest/contributing.html#contributing-page)

[2018-07-27 17:31] eteq commented on #205
@eblur - just wanted to confirm: this was the intent in #179, right?  And maybe you did what @adrn said here (ensured everything was moved over) already in #179? (if not the to-do in this is to double-check it before removing)

[2018-08-09 18:59] hamogu commented on #206
There is a comment in #207 indicating that this may not be a real problem and may have been caused by and old astropy version. Should this issue be closed?

[2018-08-09 21:46] adrn commented on #209
I think this was solved with #244

[2018-08-09 21:46] #209 closed

[2018-08-09 21:47] adrn commented on #210
This was partially solved by #249. I think that satisfies my needs for testing, so closing this

[2018-08-09 21:47] #210 closed

[2018-08-09 21:49] adrn commented on #206
Looking at the notebook, and seeing that the builds are working, I don't think this is a bug in the notebook itself. Is it possible you tried executing a later cell before running the first few? In any case, please reopen if you disagree @emilylurice !

[2018-08-09 21:49] #206 closed

[2018-08-09 21:50] #180 closed

[2018-08-13 16:49] bsipocz opened #251 "Turn BLS tutorial into a full tutorial here"
@dfm has made this tutorial for the new bls module in astropy. Ideally with a little bit of extension it should end up with the other tutorials here.

https://gist.github.com/dfm/96e30d891c0d351daae9aaaef56d3e78

Extensions I had in mind:
 - use astroquery to get the kepler data from MAST
 - use `Table` and its columns rather than getting data directly from the fits HDU.
 - maybe also run LS on th

[2018-08-20 18:53] pllim opened #252 "Stacking big data with astropy.io.fits and memmap"
Tips taken from performance survey that is probably a good content for tutorials (but not sure how this can be tested in CI because, well, big data). Disclaimer: Taken straight out from survey, so I have not tested this myself.

p.s. If this is not suitable for tutorials, please let me know and I'll move this to Astropy core.

<hr/>

If dealing with very large images, read them into `numpy.memmap`

[2018-08-21 16:07] eteq commented on #205
Aha, after some sleuthing I realized that we are not ready to do this, because the *middle* part of the original tutorial is not yet in a separate tutorial.  That is, we have the intro and transforming part, but not the coordinates-matching part.

So I will rename this issue to what *actually* needs to be done, and assign myself for now.

[2018-08-28 15:44] #239 closed

[2018-09-01 14:12] adrn opened #254 "Some tutorials missing learning goals"
Could the authors please provide a set of learning goals (bulleted list of a few key takeaways) for:
* Viewing and manipulating FITS images (author @eblur)
* Viewing and manipulating FITS tables (author @eblur)
* Using Astropy Quantities for astrophysical calculations (authors Ana Bonaca, @eteq)
* Make a plot with both redshift and universe age axes using astropy.cosmology (author Neil Crighton)
*

[2018-09-11 17:21] eblur opened #256 "Add link to STScI notebook style guide in the contributing docs"
Add a link to the Space Telescope notebook style guide into Contributing.md

https://github.com/spacetelescope/style-guides/blob/master/guides/jupyter-notebooks.md

[2018-09-24 19:48] kelle opened #258 "improve SEO of the tutorials. Set meta keywords."
need to be sure tutorials are discoverable. We may want to add to the new tutorial workflow some process for setting the meta keywords. or at least understand how the meta keywords are currently being set.
@MananAgarwal , @adrn  do you have any insight into how the meta keywords will be set for the new site?

[2018-09-25 09:45] MananAgarwal commented on #258
@kelle to implement the filters, we are adding a process which sets the metadata as "filterKEYWORD". We can use the same process to add keyword metadata to all the tutorials. This won't be of much help in terms of SEO though, as Google has stopped using meta keywords as a ranking factor.
https://webmasters.googleblog.com/2009/09/google-does-not-use-keywords-meta-tag.html

Meta descriptions (30 - 1

[2018-09-26 14:38] kelle opened #260 "Specutils Tutorial"
Make a tutorial in honor of the first release of specutils.
Measure EW of high res vs low res version.
- how to access spectrum? astroquery?  high res spectrum with uncertainty.
- generate the Spectrum1D object.
- something about noise - can generate our own unc attribute of Spectrum1D.
- spectrum arithmetic.
- Deconvolve - smoothing.
- fit continuum, normalization.
- how to measure an EW already

[2018-09-26 18:17] kelle commented on #260
draft tutorial here:
https://colab.research.google.com/drive/1QQqFwv6QKK7wc1wiLq0KnjLncMeDBUUs

[2018-09-27 16:55] janerigby opened #261 "Integrate pandas tutorials"
@kelle  asked me to post an issue, that I've been trying to figure out how to better integrate my "astronomy with pandas" tutorials(https://github.com/janerigby/astro-pandas-tutorials) into the astropy tutorials.

There's a new draft tutorial , https://github.com/janerigby/astro-pandas-tutorials/blob/master/Tables%20-%20Pandas%20and%20Astropy.ipynb ,  which eventually could show the relative stren

[2018-10-02 15:35] kelle commented on #261
Draft colab tutorial (started by Vicky Scowcroft) is here: https://colab.research.google.com/drive/1nYBq3XDGbKj0zW8hlaMubzY16hFx3DHy

[2018-10-02 15:40] kelle opened #263 "High Contrast Imaging Tutorials"
From Matthew Kenworthy:

I wrote a Masters course on High Contrast Imaging from scratch that dealt with imaging of exoplanets and disks. I had a format of 45 minutes to introduce one data analysis method per week - PSF subtraction, Angular Differential Imaging, Methane absorption imaging, PCA removal, PSF and coronagraphs - and then gave the students a Jupyter notebook with instructions in the fir

[2018-10-02 15:53] kelle commented on #251
I've made a colab version of this notebook here so we can edit:
https://colab.research.google.com/drive/1nqY0FRCkQLOkYzYfKV1R3dAuos_dG-i_

[2018-10-02 15:55] kelle commented on #222
Hi @krislars , would you mind moving your notebook to our new Astropy Learn Draft Tutorials folder on google drive? https://drive.google.com/drive/folders/1k1HnAss-pHTA3E5s9jB1OMphpBjQ-U7l
That should make it way easier for us to work collaboratively. I've sent an invite to your edu address.

[2018-10-02 15:58] kelle commented on #194
I think Colab is great and think we should integrate into our tutorial dev workflow. It greatly lowers the barrier to entry for folks wanting to collaborate on the notebooks. (the github workflow is burdensome and not intuitive.) I've made a folder for us to put draft tutorials in: https://drive.google.com/drive/folders/1k1HnAss-pHTA3E5s9jB1OMphpBjQ-U7l

[2018-10-02 15:58] #194 closed

[2018-10-02 16:18] kelle opened #264 "Update Contributing document to reflect Colab workflow"
Need to update the Contributing document to reflect new Colab workflow. Also call attention to the fact that folks can contribute by working on the notebooks already in there and/or uploading notebooks.

[2018-10-05 15:06] mkenworthy commented on #263
I would be happy to contribute these Notebooks, but I would like some method of withholding the answer Notebooks. One alternative would be to convert these all into Tutorials that have interactive widgets that illustrate the principles they are testing.

[2018-10-10 04:32] adrn opened #265 "CircleCI build failing on missing catalog in vo conesearch tutorial"
See the build failure here:
https://circleci.com/gh/astropy/astropy-tutorials/131

@pllim any idea why "The USNO-A2.0 Catalogue (Monet+ 1998) 1" is now invalid?

[2018-10-10 10:58] omendezmorales commented on #265
Hi Adrian,
I've looked into the /artifacts  /
<https://circleci.com/gh/astropy/astropy-tutorials/131#artifacts/containers/0>tab
in the URL below, and the explanation is that the catalogue /is gone:

/

MissingCatalogTraceback (most recent call last)
<ipython-input-12-bfd7c6bcdf92> in <module>() 1 result =
conesearch.conesearch( ----> 2c, 0.1 * u.degree, catalog_db='The
USNO-A2.0 Catalogue (Monet+

[2018-10-17 13:48] pllim commented on #265
Services get removed sometimes. Sigh, I guess I'll have to modify the tutorial again but I won't have time in the next few weeks. Thanks for the notice.

[2018-10-22 16:34] pllim commented on #265
`The USNO-A2.0 Catalogue (Monet+ 1998) 1')` works for me locally. Are you sure it is consistently failing? Intermittent interruptions are common and are beyond the control of Astroquery.

If it works for you locally but never works in CircleCI, then it is something wrong with CircleCI service.

[2018-10-23 17:40] eblur opened #267 "Make button on new Learn Astropy website for link to contributing.rst"
We would like a button near the top of the Learn Astropy website to link to the Contributing.rst page.

See the "Example Gallery" on the astropy.org page for an example of button styles:
http://www.astropy.org/

The button should link to wherever the Contributing.rst page lives in the Learn Astropy website infrastructure. The current page is on readthedocs, here:
https://astropy-tutorials.readthed

[2018-10-24 03:20] eteq opened #268 "Get the circle ci test to fail when sphinx builds fail"
Right now `make html` yields 18 warnings - surely a sign of problems that need fixing in the built docs.  However, circle-ci is happily passing.  I think this is because at some point we removed the machinery that checks the sphinx build (from the helpers) in favor of giles... But giles doesn't appear to return a failure if the sphinx build has warnings.

@adrn - did I miss the boat on this and it

[2018-10-27 14:51] kelle commented on #208
Jackie Radigan (@jmradigan) is the person who really inspired this idea. Her assignments are here:
https://github.com/jmradigan/astrophysics_notebooks

[2018-10-30 15:48] eblur opened #269 "does master branch pass CircleCI tests?"
I keep getting an email that the CircleCI test for the astropy-tutorials/master branch are not passing.  It looks like there is a broken link.

An excerpt:

[code]

[2018-10-30 15:51] eblur commented on #269
I checked the link and it works. Now looking at `download_file` call

[2018-10-30 16:00] eblur commented on #269
I tested the `download_file` call and it appears to work. It is a large (~225 MB) file. So maybe this was a fluctuation in service from the original server?

I am re-running the CircleCI tests on PR #227 to test this hypothesis. This PR also had failed tests after rebasing to the astropy-tutorials/master branch.

[2018-10-30 16:00] pllim commented on #269
If you cannot find anything obvious, might want to check to make sure the service provider is not blacklisting CircleCI IP addresses. Or if it is not an issue with CircleCI server itself. FYI.

[2018-10-30 16:03] eblur commented on #269
That is ... a fear that I have. 👻

[2018-10-30 16:03] MananAgarwal commented on #267
"Contribute" button added on the home page in the pull request #247 commit 89fa556

[2018-10-30 16:07] eblur commented on #269
Looks like everything is fine. We think it may have been a hiccup in server access at the time that the tests were first run. See PR #227 (now merged)

[2018-10-30 16:07] #269 closed

[2018-10-30 16:09] eteq opened #270 "make html and python convert.py <path> are no longer consistent"
Not urgent, but a middle-term todo: at one point it was (mostly?) the case that if you did `python scripts/convert.py <path>` it generated the same rst files/etc that `make html` did.  That made debugging a lot easier.  That seems to no longer be the case, I think because there's now more configuration in the `conf.py` instead of `convert.py`.  Should make this easier/more consistent somehow.

[2018-10-30 16:27] MananAgarwal opened #271 "Directory Structure after adding Guides"
To keep the code base organised and ensure that the build process doesn't break on adding guides notebooks, we can keep all the machinery inside the root directory and make a "content" directory for all the files. This "content" directory will have tutorials and guides directory and also the files like dev.rst, contributing.rst, etc.

[2018-10-30 17:00] eblur opened #272 "Resolve CircleCI vs Travis"
I am now getting emails from Travis saying that the master branch does not pass tests. However, they do pass on CircleCI.  We need to resolve this.

See also Issue #268

The error I'm getting on the latest Travis run:
[code]

[2018-11-01 18:23] adrn opened #275 "Copy edit intro to UVES tutorial"
Since we merged @emilylurice's updates to the UVES tutorial, the new text should be copy edited.

[2018-11-27 16:53] eblur opened #277 "CI checks failing on FITS-cubes"
@bsipocz @adrn CircleCI and Travis are periodically failing checks on FITS-cubes due to download time-outs. This is messing with our ability to merge PRs that are unrelated to FITS-cubes.

Currently failing CircleCI and Travis on PR #248
Currently failing Travis on PR #247

Should we pull out FITS-cubes until we find a viable solution for a large-file problem?

[2018-11-27 20:43] bsipocz commented on #277
if nothing happens until then, please remind me about this next week f2f

[2018-12-03 17:36] kelle opened #278 "SAMP tutorial"
a samp tutorial to show off all the cool things it can do.

[2018-12-03 20:56] kelle commented on #261
relevant material: http://www.astrowing.eu/data-science/astropy-tables-vs-pandas-dataframes

[2018-12-05 21:30] #267 closed

[2018-12-05 21:34] kelle opened #281 "Reorganize and add topic keywords"
Reorganize and publish list of keywords. Reorganize = separate out science topics vs coding topics.
https://docs.google.com/spreadsheets/d/1JmOF82Zmrs397wLwAmmL1rgDSsvP6Z4fLMr0hV5ZIb4/edit#gid=1529571570

Also make sure keywords are in the UAT.
(http://astrothesaurus.org/thesaurus/alphabetical-browse/ and http://astrothesaurus.org/thesaurus/autocomplete-widget/).

[2018-12-05 21:34] kelle opened #652 "Reorganize and add topic keywords"
Reorganize and publish list of keywords. Reorganize = separate out science topics vs coding topics.
https://docs.google.com/spreadsheets/d/1JmOF82Zmrs397wLwAmmL1rgDSsvP6Z4fLMr0hV5ZIb4/edit#gid=1529571570

Also make sure keywords are in the UAT.
(http://astrothesaurus.org/thesaurus/alphabetical-browse/ and http://astrothesaurus.org/thesaurus/autocomplete-widget/).

[2018-12-05 21:36] kelle opened #282 "Update contributing.rst to include Colaboratory"
Change Contributing.rst file to use Colab links instead of pushing to github.

[2018-12-05 21:40] eblur opened #283 "Website is broken"
Tutorials are not being loaded.

Unable to scroll properly

[2018-12-05 21:43] eblur opened #284 "Add a link to STScI style guides (and others)"
Link jupyter notebook style guides to Contributing.rst

[2018-12-05 21:44] kelle opened #285 "Advertise broad scope of tutorial content accepted and welcomed."
make it more clear that we want to host lots of tutorials, not just ones that focus on astropy. change homepage and contributing doc.

[2018-12-05 21:45] eblur opened #286 "Set up a Google form for contributing notebooks"
Also don't forget to update Contributing.rst with a link to the Google form

[2018-12-05 23:29] eblur opened #289 "Update FITS-cubes (in quarantine)"
The FITS-cubes tutorial is currently in the `quarantine` branch.

Issues that need to be addressed:

* cube.quicklook() raised errors with matplotlib. May need updates to make it compatible with spectral-cube version 0.4.3. The file was made with version 0.4.1

* We need to find a file that is less than a 200 MB download.

[2018-12-05 23:31] eblur commented on #277
See PR #288 and Issue #289

I'll close this issue when FITS-cubes is removed from the master branch.

[2018-12-06 05:05] MananAgarwal commented on #283
Somehow it's not able to find "filterTutorials".
As the mechanism used to generate the tutorials page is the same as for the search, I tried searching for the filterKeywords and found that all but "filterTutorials" is working. Even "filterTutorial" (i.e. dropping the 's') works.

_filterCoordinates_
<img width="1660" alt="screenshot 2018-12-06 at 10 10 29 am" src="https://user-images.githubusercon

[2018-12-07 00:45] eblur commented on #289
Opened an issue in spectral-cube repo:
https://github.com/radio-astro-tools/spectral-cube/issues/511

[2018-12-07 16:49] ivastar opened #295 "The new page is a bit too responsive"
![screen_shot_2018-12-03_at_11 56 34_am](https://user-images.githubusercontent.com/4562253/49661035-10083d00-fa16-11e8-9c14-ea089da80e82.png)

Transition to stacked boxes should happen earlier.

[2018-12-09 20:26] adrn opened #297 "Switch DNS back to gh-pages"
The website is live and functional on the gh-pages branch. Let's switch to that until we can figure out what is wrong with RTD.

[2018-12-09 20:35] MananAgarwal commented on #295
Sure. I'll fix this.

[2018-12-09 20:49] adrn commented on #282
Done!

[2018-12-09 20:49] #282 closed

[2018-12-09 20:54] adrn commented on #277
It's moved to the quarantine!

[2018-12-09 20:54] #277 closed

[2018-12-09 20:54] #275 closed

[2018-12-09 21:23] adrn opened #298 "Try downloading searchindex.js directly from astropy.org to get around cross-origin AJAX issues"
The way Sphinx search works is by generating a pure-javascript index file (`searchindex.js`) that is then called by various javascript code (in `searchtools.js`). Right now, the AJAX call to query the astropy documentation as a part of the main search bar fails because it requires a cross-origin AJAX request (blocked by default in most browsers). But it occurred to me that we could just download a

[2018-12-09 21:25] adrn opened #299 "Re-brand this repo "Learn"?"
This repo now hosts the code for Learn Astropy and is therefore broader than just astropy tutorials. We need to make some decisions about how we want to organize things now and in the future when the guides are ready. For example, do we want to have the guides and tutorials all live in this repo with the website code? Or do we want to have a new website for the website build and have the tutorials

[2018-12-09 21:34] eteq commented on #297
Got at least one independent confirmation so will call this good.

[2018-12-09 21:34] #297 closed

[2018-12-09 21:35] eteq commented on #283
Alright, #297 is good so it's looking all set to me.  Going to close this issue.

Longer-term we may want to debug RTD, but we can do that at our leisure while the tutorials page is up and running.

[2018-12-09 21:36] #283 closed

[2018-12-09 21:41] eteq opened #300 "Document the deploy process"
Since the switch back to gh-pages as a deploy mechanism in  #283, we need to update the developer documentation.  Hopefully we can just say it automatically uses circle-ci, but any gotchas revealed in #294 should be mentioned.

cc @adrn @Cadair

[2018-12-09 21:52] eteq opened #301 "Decide the long-term plan for the canonical deploy location and update docs appropriately"
#283 revealed some of the issues with using RTD as a deploy location for the tutorials, so we are now back to gitghub pages. This is not necessarily a bad turn of events, but we should make a decision whether we want to try to get RTD working again. And once we've decided we should document the choice.  And relatedly, if we are *not* going with RTD we should consider whether the dev docs should ju

[2018-12-10 02:53] adrn opened #302 "New tutorial: computing Galactic orbits with Gaia + gala"
I wanted to try out the new colab workflow, so here is a new tutorial that highlights the affiliated package `gala` to do some orbit integration with Gaia data:
https://colab.research.google.com/drive/1DoU4hyLVbpC7_ms8vWGcC5lrKy61_Fbc

[2018-12-10 13:10] kelle commented on #118
I think @lglattly took care of this and can be closed. Lauren, do you agree?

[2018-12-10 13:22] kelle opened #303 "add keyword categories"
In the original mockup of the new site, there were arrows to expand/collapse various keyword categories in the left menu. We haven't worked out exactly what the categories should be yet (see #281) but @MananAgarwal , could you work on implementing the code?

Maybe just make a "package" category for matplotlib, astroquery, etc.?

(In the future, we may divide out astropy project packages from other

[2018-12-10 16:47] eteq opened #304 "Hide the "q=filterTutorials" when showing all the tutorials"
Right now to get all the tutorials, the URL has to end with the query `?q=filterTutorials`.  That's a bit ugly, and is an implementation detail leaking out into the user-space.  It also has the (admittedly minor) side-effect that if the text "featureTutorials" is in any notebook it gets highlighted. We should figure out how to have that not be necessary - I think this is probably just a javascript

[2018-12-10 18:49] eteq commented on #140
Closing this in favor of a slightly more concrete issue.

[2018-12-10 18:49] #140 closed

[2018-12-10 18:54] eteq opened #305 "Update examples to point towards example gallery"
This is a more targeted re-hash of #140 and is a complement to astropy/astropy#7242.

Once astropy/astropy#7242 is done, we should update the examples page (http://www.astropy.org/astropy-tutorials/examples.html) to use the same "card" format as the tutorials page, but for the examples.  This talks back to astropy/astropy#7242 in that we would hope that the resolution of that would provide an easy

[2018-12-10 18:55] eteq commented on #298
I'm 👍 to this idea, particularly because I think if we do this right #305 might be made easier by doing a similar trick with cleverly-chosen search terms.

[2018-12-12 02:04] lglattly commented on #118
Yes, this is done.

[2018-12-12 02:04] #118 closed

[2018-12-18 17:32] eteq commented on #304
I looked into this a bit more but am stuck on one thing: I don't understand which js function actually populated the placard.  I was hoping to just set a way to give it a "default value" (which would be page-specific) if there is *no* query string. But I cannot the initial "starting point" on the tutorials page that populates the placards.  @MananAgarwal maybe you can advise?

[2018-12-18 18:07] eblur opened #307 "Learn.Astropy banner needs to redirect to home page (not Astropy.org)"
Right now there is no link back to the Learn Astropy homepage, after navigating to other parts of the Learn Astropy website. Clicking on the Learn Astropy banner sends us to astropy.org; it needs to be adjusted to send us back to learn.astropy.org

@eteq

[2018-12-18 18:12] adrn commented on #307
For context: it looks like learn.astropy.org *redirects* to the gh-pages url astropy.org/astropy-tutorials, but I think we want to set this up as a CNAME or whatever so that learn.astropy.org *is* the site.

[2018-12-18 18:12] adrn commented on #307
(the banner is a link to the root `/`, so that will fix this issue)

[2018-12-18 18:41] eblur opened #309 "Banner missing from the Contributing documentation"
There is a broken image link in the Contributing documentation:
http://www.astropy.org/astropy-tutorials/contributing.html

[2018-12-18 18:54] eblur opened #311 "Create and document a set list of keyword terms"
The filter list on the Learn.Astropy tutorials page is generated from a set list of keyword terms (see the excel spreadsheet).

Users are choosing their own keyword terms when creating Tutorial header info.

We need to decide on a set list of terms and document it in the Contributing.rst file.

[2018-12-18 19:33] MananAgarwal commented on #304
"makeSearchSummary" receives the search query as "keywords" and "hlwords" (i.e highlight words).
https://github.com/astropy/astropy-tutorials/blob/82379f59dbd246b80dbc557e4d647ea9f2b699cf/tutorials/themes/tutorials-theme/static/searchtools.js#L770

This checks for "filterTutorials" and then creates the contents for the placards on the tutorial page.
https://github.com/astropy/astropy-tutorials/blo

[2018-12-19 14:29] mgeier opened #313 "Why not use nbsphinx?"
I'm quoting http://www.astropy.org/astropy-tutorials/dev.html#why-not-use-nbsphinx:

First of all, there are no links mentioned above that paragraph.

Second, to create those links you are (not) talking about, `nbsphinx` has a feature since version 0.3.0 that is intended mainly for such cases: `nbsphinx_prolog` and `nbsphinx_epilog`.

For detailed documentation see https://nbsphinx.readthedocs.io/

[2019-01-10 17:56] kelle opened #315 "Tutorials still not loading on readthedocs"
tutorials load from this URL:
http://www.astropy.org/astropy-tutorials/

but NOT from this URl, which is where google sends me:
https://astropy-tutorials.readthedocs.io/en/latest/

cc @MananAgarwal @adrn

[2019-01-10 17:59] kelle opened #316 "learn.astropy.org redirects instead of being the domain"
learn.astropy.org redirects to astropy.org rather than staying as the domain.

[2019-01-11 23:33] astrofrog opened #317 "RTD build broken"
I'm not sure if this is a known issue, but it looks like the RTD build is currently broken:

https://travis-ci.org/astropy/astropy-tutorials/builds/470612370

[2019-01-15 15:20] #295 closed

[2019-01-22 14:13] eblur commented on #302
@rkiman can you please review the content for clarity? :)

Some immediate observations:
* Learning Goals
* An exercise at the end

[2019-01-22 14:15] adrn commented on #302
Feel free to edit the colab notebook directly!

[2019-01-22 14:17] #309 closed

[2019-01-22 14:48] adrn opened #318 "Remove RTD build files and config"
Since we use gh-pages to serve the site, we should remove the RTD pages and add a redirect to learn.astropy.org

[2019-01-22 14:48] adrn commented on #317
We actually don't use RTD any more -- I need to clean that up! #318

[2019-01-22 14:48] #317 closed

[2019-01-22 14:50] eblur commented on #316
Note that Google searching "Astropy tutorials" will give tutorials.astropy.org as the first hit

[2019-01-22 15:07] kelle commented on #316
- I don't think this is super high priority but it would be nice.
- I think higher priority is that we want the first search engine hit for Astropy Tutorials to be "learn.astropy.org". And we want to deprecate/delete "tutorials.astropy.org" url.

[2019-01-22 15:33] adrn commented on #315
The readthedocs site is deprecated - see #318

[2019-01-22 15:33] #315 closed

[2019-01-22 16:00] adrn commented on #301
I'm making the call that the benefits don't outweigh the negatives (on getting RTD working), so let's just stick with gh-pages (see #319)

[2019-01-25 19:20] ceb8 opened #320 ""Using scipy.integrate" tutorial has some weirdness in the display"
"[Using scipy.integrate](http://www.astropy.org/astropy-tutorials/rst-tutorials/units-and-integration.html)" has a few problems that show up in the website display, but that look fine in the actual notebook:
- The cell that contains imports in the [summary section](http://www.astropy.org/astropy-tutorials/rst-tutorials/units-and-integration.html?highlight=filtertutorials#summary) is not displaying

[2019-01-29 14:42] eblur commented on #289
@kakirastern is working on this

[2019-01-29 14:54] kelle commented on #311
This is a duplicate (essentially) of #281

[2019-01-29 14:54] #311 closed

[2019-01-29 15:11] kakirastern opened #322 "Tutorial related to data cube but not linked to the datacube keyword"
Hi. I found a data-cube related tutorial which has yet to be linked to the "data cubes" keyword, which can be accessed via the URL: [http://www.astropy.org/astropy-tutorials/rst-tutorials/quantities.html?highlight=data%20cubes](http://www.astropy.org/astropy-tutorials/rst-tutorials/quantities.html?highlight=data%20cubes).

In the tutorial, of particular relevance is the section on ["Setting up the

[2019-01-29 15:15] kakirastern commented on #289
Thanks @eblur. Am looking into the issue, and will open a PR regarding it soon.

[2019-01-29 15:57] kelle commented on #281
I've added a Keyword Table sheet here: https://docs.google.com/spreadsheets/d/1JmOF82Zmrs397wLwAmmL1rgDSsvP6Z4fLMr0hV5ZIb4/edit#gid=953884002

[2019-01-29 15:59] kelle commented on #303
see #281 for update on the Keyword table.

[2019-01-30 22:59] kakirastern commented on #289
I have found the directory containing the original data cube used in the tutorial, at the URL: [http://cdsarc.u-strasbg.fr/ftp/J/A+A/594/A116/CUBES/GAL/TAN/](http://cdsarc.u-strasbg.fr/ftp/J/A+A/594/A116/CUBES/GAL/TAN/), and have checked that file sizes listed there are all greater than 200 MB.

[2019-02-02 16:19] kakirastern commented on #289
So finding a smaller replacement file from the same source is not an option. Next, will attempt to reduce chosen data cube used sample in file size with rebinning, perhaps using SciPy... (Example: [https://scipy-cookbook.readthedocs.io/items/Rebinning.html](https://scipy-cookbook.readthedocs.io/items/Rebinning.html)).

[2019-02-02 16:41] kakirastern opened #323 "Icon on upper left corner of Astropy tutorial pages appears with broken link to source"
When I was browsing the Astropy Learn tutorials as on February 3rd, 2019, I see the following on my computer screen:

![screenshot 2019-02-03 00 35 54](https://user-images.githubusercontent.com/26264600/52166716-b12c1f00-274b-11e9-9df3-387fad863ab3.png)

The Astropy icon seems to be not showing due to broken link to source image file... Is anyone else experiencing the same issue? If so, should I o

[2019-02-05 15:03] adrn commented on #302
Note: I added learning goals, added two exercises and addressed the comments @kelle left in the colab notebook. Does someone else want to take a look at the content? @rkiman ?

[2019-02-05 17:25] kakirastern commented on #139
Hi @kelle, I am interested in pursuing this issue further. May be able to contribute tutorials in this direction on a regular basis for the time being.

[2019-02-09 05:53] agarwalrounak commented on #307
I will work on this issue.

[2019-02-09 06:24] agarwalrounak commented on #284
I will work on this.

[2019-02-09 11:21] kakirastern commented on #307
Hi @adrn , I think linking to root with `/` only re-directs from the logo to [http://www.astropy.org](http://www.astropy.org/), since Astropy Learn's "default" URL is now at [http://www.astropy.org/astropy-tutorials/](http://www.astropy.org/astropy-tutorials/ )... unless our Landing Page is parked at another URL with an Astropy Learn specific domain name.

Are we going to switch to the URL [learn.

[2019-02-09 11:22] kakirastern commented on #323
Thanks, @pllim... I will see if anyone else has opened a PR on this or is intending to. If not I will open a PR to fix this.

[2019-02-09 13:01] kakirastern commented on #307
Think this issue is related to Issue #316 ...

[2019-02-09 13:03] kakirastern commented on #299
Followed up in Issue #316 ?...

[2019-02-09 13:25] agarwalrounak commented on #307
@kakirastern yes, the redirection issue is related to #316
Also, the higher-priority for now was that clicking on the Learn Astropy banner should send us back to learn.astropy.org or http://www.astropy.org/astropy-tutorials/ for that matter

[2019-02-09 13:38] kakirastern commented on #289
Further responses:
* cube.quicklook() seems to be working fine with Matplotlib v3.0.2 and Spectral-Cube v0.4.3 now... so will move on the other parts of tutorial.
* It takes more than 10 minutes to download the original cube, so alternative route of downloading it first then read it from computer would also not be recommended.

[2019-02-09 14:08] kakirastern commented on #289
Opened a PR to address this Issue.

[2019-02-09 14:10] kakirastern commented on #307
@agarwalrounak Yes, I understand... but if we will be changing the URL then redirecting to root would solve problem. That's what I was implying.

[2019-02-09 15:34] kakirastern opened #328 "A new brief tutorial on how to use SpectralCube to generate a velocity map"
**Goal:** To show how [SpectralCube](https://spectral-cube.readthedocs.io/en/latest/index.html) can be used to generate a _**velocity map**_ by way of the 1st moment. Standard procedure normally involves conversion of (3rd dimension) units using `with_spectral_unit` from a length one into a velocity one, as well as slicing of the cube with `spectral_slab` to get the chunk actually containing the t

[2019-02-09 15:48] kakirastern commented on #322
@MananAgarwal Are you working on something related to this issue? Just wanted to double check with you first.

[2019-02-10 05:17] MananAgarwal commented on #322
@kakirastern The way filter functionality works right now is by linking a tutorial to all the keywords mentioned in the "Keywords" section of the tutorial. Like in this case, only units, matplotlib and radio astronomy are mentioned as keywords in quantities.html
We simply need to add "data cubes" to this list to link it with "data cubes" keyword

[2019-02-10 06:02] kakirastern commented on #322
Hi @MananAgarwal . Great! Then it is easy to fix then. I will open a PR to add the keyword soon. Thanks so much for the info!

[2019-02-10 13:52] kakirastern commented on #322
PR opened to follow up on this Issue.

[2019-02-12 14:56] kakirastern commented on #272
Same issue experienced as on Feb. 12th, 2019 while trying to pass Travis.

[2019-02-12 15:59] kakirastern commented on #272
It has to do with the "Quantities tutorial" I am working on adding a keyword to in PR #329. Let me see what is wrong with that file...

[2019-02-12 17:28] kakirastern commented on #328
Or, I can embed this "section" bit in an expanded tutorial to cover dealing with a raw planetary nebula datacube that needs bad pixel fixing by convolution to replace bad data... More info can be found at [http://docs.astropy.org/en/stable/convolution/#using-astropy-s-convolution-to-replace-bad-data](http://docs.astropy.org/en/stable/convolution/#using-astropy-s-convolution-to-replace-bad-data). I

[2019-02-15 09:51] kakirastern commented on #307
Think the PR #325 dealing with this Issue can also fix Issue #323... (Almost literally one-stone-two-birds.)

[2019-02-15 09:57] kakirastern commented on #316
Think the **A Record** has to be updated to "learn.astropy.org" instead of setting it as a **CNAME** as the current state of affairs in order to effect this change.

[2019-02-15 10:01] kakirastern commented on #307
**Alternative solution**: Setting "http://learn.astropy.org/ as one of the `A Record`'s instead of a `CNAME` should fix the issue too...

[2019-02-17 10:59] kakirastern commented on #323
Will wait until either PR #325 been committed or the `A Record` has been changed to see the effect first before opening another PR to try to fix the broken logo image if need be.

[2019-02-18 12:15] kakirastern commented on #320
Hi @ceb8,
Yes, I see the problems showing up in my web browser ("Chrome") too, but they indeed don't show up in the actual downloaded notebook. Will follow up on the Issue by updating the notebook in a new PR soon, if that fixes that problems...

[2019-02-18 12:53] kakirastern commented on #320
Opened PR #330 to deal with issues raised here.

[2019-02-19 13:19] kakirastern opened #331 "New Tutorial: Turning jmangum/spectrumplot into Learn Astropy tutorial"
The concerned repo is for using Astropy and affiliated packages to make a publication-quality spectrum with labeled emission lines through a cube. I am proposing to turn the GitHub repo at [https://github.com/jmangum/spectrumplot/blob/master/CubeSpectrumPlotExample.rst](https://github.com/jmangum/spectrumplot/blob/master/CubeSpectrumPlotExample.rst) into a proper Learn Astropy tutorial. Have alrea

[2019-02-19 13:51] kakirastern commented on #302
Hi @adrn, is it okay for me to help edit/proofread the content if desired?

[2019-02-19 14:08] #284 closed

[2019-02-19 14:23] #307 closed

[2019-02-19 14:34] eblur opened #332 "Add kakirastern as author on FITS-cubes tutorials"
Add @kakirastern as an author for doing a lot of work to bring the FITS-cube tutorial out of quarantine.

[2019-02-19 14:55] eblur commented on #316
@eteq any thoughts?

[2019-02-19 15:46] kakirastern commented on #323
PR #333 opened to address this Issue.

[2019-02-19 15:50] kakirastern commented on #272
Think bug has been fixed for now unless old PR's are merged without rebasing prior to PR #329... Cf. Commit [https://github.com/astropy/astropy-tutorials/commit/d3789d7d3ce2c0b95df2a91128d8edb2bc68d97b](https://github.com/astropy/astropy-tutorials/commit/d3789d7d3ce2c0b95df2a91128d8edb2bc68d97b), as of February 19th, 2019. Would advise rebasing all old PR's before merging in the near future.

[2019-02-19 16:01] agarwalrounak commented on #332
I will work on it.

[2019-02-19 16:07] agarwalrounak commented on #256
HI @eblur! I guess this issue is identical to #284 and PR #326 solves this issue as well. I have updated the PR definition accordingly. You can close this.

[2019-02-19 16:16] kakirastern commented on #332
Hi @agarwalrounak ... Maybe we should wait a bit... since my work is not completed yet I would like to add my name to the Authors list later on when the file is ready for release.

[2019-02-19 16:18] kakirastern commented on #332
We have a reduced-size data cube ready to replace the one used originally. That has been done, but the issue of the manner of replacement needs to be discussed in a group context. After that my name should be added.

[2019-02-19 19:27] kakirastern commented on #320
Have dealt with the following issues:

Have opened PR #334 to reformat the list used for the questions in the "Challenge problems" (or last) section.

The new Learn Astropy is still in development, and we note that the following has not been addressed yet:

But for now the last item might be out of the scope of the individual tutorial per se, and has more to do with website architecture. May be de

[2019-02-19 22:26] kakirastern commented on #331
So I have put together a Jupyter notebook for the tutorial, which is viewable at [https://drive.google.com/file/d/1MAhL5hBK7LfzEz-rIENDzTNtlQWXnKhk/view?usp=sharing](https://drive.google.com/file/d/1MAhL5hBK7LfzEz-rIENDzTNtlQWXnKhk/view?usp=sharing). The source files can be found at Jeff's repo at [https://github.com/jmangum/spectrumplot](https://github.com/jmangum/spectrumplot). I think you will

[2019-02-20 17:51] kakirastern commented on #322
Ready to close as problem has been resolved?

[2019-02-20 17:53] kakirastern commented on #289
So the Google CoLab link for the updated version of the tutorial can be found at [https://colab.research.google.com/drive/1dX05QJ0aOyVJN9ZWWP2-2CCnneW1ew8o](https://colab.research.google.com/drive/1dX05QJ0aOyVJN9ZWWP2-2CCnneW1ew8o) .

[2019-02-21 23:04] adrn commented on #302
@kakirastern sure! Please leave comments rather than editing the content directly.

[2019-02-22 05:12] agarwalrounak commented on #322
@kakirastern you should write Fixes #[issue_number] in your PR if you are solving the issue in entirety. That way, the issue automatically closes when the PR is merged.

[2019-02-22 09:56] kakirastern commented on #322
Thanks, I was experimenting

[2019-02-22 10:21] kakirastern commented on #322
We actually confirmed it on Tuesday after merging some files but it was too late for this issue... having been already merged.

[2019-02-22 18:28] kakirastern commented on #302
@adrn Cool, will proofread and leave comments where appropriate within the next few days.

[2019-02-26 13:42] kakirastern opened #335 "Add TODO list items to Quantities tutorial"
The TODO list of the Quantities tutorial at [http://www.astropy.org/astropy-tutorials/rst-tutorials/quantities.html?highlight=filtertutorials](http://www.astropy.org/astropy-tutorials/rst-tutorials/quantities.html?highlight=filtertutorials) now is filled by a placeholder. Will add TODO list items to it to complete the tutorial.

[2019-02-26 13:49] kakirastern opened #336 "The two links at the bottom of tutorials on Learn Astropy website not working"
As stated, the two buttons at the bottom of the tutorial pages have faulty links, unlike the two up top, which are working.

![screenshot 2019-02-26 21 44 50](https://user-images.githubusercontent.com/26264600/53417209-0a683500-3a10-11e9-817a-882df2298c5e.png)

If you link on either the "Download tutorial notebook" or "Interactive tutorial notebook" button, it will return a "404 not found" error p

[2019-02-26 14:00] kakirastern commented on #322
Actually, I think "Closes #..." works as well.

[2019-02-26 14:47] pllim commented on #322
Yes, it does.

[2019-02-26 14:48] adrn opened #337 "Sometimes the tutorials don't load when going to main tutorials page"
About 50% of the time, when I go to learn.astropy.org and click "tutorials," the page says "No tutorials found!" until I refresh, and then the tutorials appear. I know @eblur and @kelle have run in to this issue as well. Do you have any idea what could be causing this? I think this is the highest priority bug to work on in the near term!

[2019-02-26 14:50] kelle commented on #303
Hey @MananAgarwal , any update on this? Are you waiting on anything from us to move forward?

[2019-02-26 14:55] pllim commented on #337
I traced it to most probably

https://github.com/astropy/astropy-tutorials/blob/d3789d7d3ce2c0b95df2a91128d8edb2bc68d97b/tutorials/themes/tutorials-theme/static/searchtools.js#L413

The most stable fix is to find a way to search "locally" instead of relying on HTTPS connection. Unfortunately, I am not familiar enough with the design to suggest more.

[2019-02-26 14:59] MananAgarwal commented on #337
Yeah, even I have run into this. I am not sure what exactly is causing this but I feel it's a latency issue. This is slightly hard to debug, as you won't face this issue when debugging on a local server.

[2019-02-26 15:03] adrn commented on #302
I think I've addressed all of @rkiman's comments! Any other comments?

[2019-02-26 15:11] MananAgarwal commented on #303
Sorry, I was a little preoccupied. I'll submit a pull request by the end of this week.

[2019-02-26 15:14] kelle commented on #272
close?

[2019-02-26 16:00] kakirastern commented on #302
@adrn Give me say one more day to go over the tutorial... Will get back to you soon

[2019-02-26 16:02] #323 closed

[2019-02-26 17:02] kakirastern commented on #272
I will need to work on some tutorial notebooks further so that some "bugs" won't periodically crop up in Travis/Circle CI. But the above issue has definitely been fixed. So now this can be safely closed.

[2019-02-26 17:09] kakirastern commented on #337
I would like to give it a try and debug if no one else is up to it... Will open a PR within the next few days to attempt a fix.

[2019-02-26 17:10] kakirastern commented on #337
That is, only if @MananAgarwal grant me permission to give it a try, since he's been assigned to it originally...

[2019-02-26 17:21] MananAgarwal commented on #337
Sure @kakirastern, would love to collaborate with you on this.

[2019-02-26 17:25] kakirastern commented on #337
Yup, that would be super cool @MananAgarwal...

[2019-02-26 20:25] kakirastern commented on #337
PR #340 opened to fix the issue... Think it is ready for a preliminary review.

[2019-03-01 21:17] kakirastern commented on #302
Sorry about the delay... I have reviewed the tutorial and left some comments in Colab. Hope they are useful in shaping the tutorial further.

[2019-03-02 19:08] adrn commented on #302
Thanks - these were useful comments. Thanks everyone for reading and commenting - I'm happy with this tutorial now, and will move it from Colab into an official PR.

[2019-03-02 19:21] adrn commented on #302
(Please leave further comments in #342)

[2019-03-02 19:21] #302 closed

[2019-03-05 14:34] #320 closed

[2019-03-05 14:43] eblur opened #345 "new FITS-cube data cube needs to go on astropy data repo"
http://www.astropy.org/astropy-tutorials/contributing.html#data-files

[2019-03-05 14:57] eblur opened #346 "Can we rid ourselves of Travis?"
Now that we have both CircleCI and Travis, can we get rid of one? Seems like CircleCI is needed to trigger Giles, but Travis ... ?

@adrn

[2019-03-06 01:36] pllim commented on #346
You might have to anyway sooner or later. https://www.reddit.com/r/devops/comments/at3oyq/it_looks_like_ibera_is_gutting_travis_ci_just_a/

[2019-03-06 06:35] kakirastern commented on #345
Have worked on it in PR #347. Will need administrative help in moving the reduced data cube `reduced_TAN_C14.fits` to `http://data.astropy.org/tutorials/FITS-cubes/`, before the tutorial path is changed in the FITS-cubes tutorial and then that PR merged.

[2019-03-07 17:34] eblur opened #348 "Comment out and replace any small http requests"
e.g., SkyCoords from_name calls Sasame. Frequently breaks our testing infrastructure.

@adrn

[2019-03-07 17:36] adrn opened #349 "Travis CI is currently disabled"
The vision for using Travis CI was to have our full testing build matrix done on Travis, and the website build done on Circle CI. But this is currently not implemented, and the Travis builds are consistently failing because of remote connections or timeouts on duplications of the Circle CI tests. So I'm temporarily disabling travis!

[2019-03-07 17:42] adrn commented on #346
see #349!

[2019-03-07 17:42] #346 closed

[2019-03-07 17:47] #272 closed

[2019-03-07 17:47] adrn commented on #272
See #349

[2019-03-07 17:53] kakirastern commented on #349
Thanks, @adrn!

[2019-03-07 20:53] adrn commented on #316
Solved!

[2019-03-07 20:53] #316 closed

[2019-03-07 21:01] kakirastern commented on #316
Yay! This is so cool... I just tried entering "learn.astropy.org" into my browser search field, and it works!

[2019-03-07 21:06] kakirastern commented on #332
Yup, done in PR #347.

[2019-03-10 01:23] kakirastern commented on #348
Yeah, I am fixing them in PR #341. Let me work on the PR some more before our meeting this coming Tuesday so they can be merged... Sorry about the delay @eblur!

[2019-03-10 01:25] kakirastern commented on #331
Some comments from @eblur during weekly telecon/co-work hour on February 26th, 2019:

Will follow these up soon... (Some heavy re-writing of the tutorial is expected.)

[2019-03-10 01:35] kakirastern commented on #348
I will help @adrn to work on it... since I have already started

[2019-03-10 01:44] kakirastern commented on #139
I just browsed through my copy of "Carrol and Ostlie", some obvious codes, and hence tutorials, I can probably contribute in the near future include the ones based on Appendices I, J, K, L, and M. So those can serve as some kind of a starting point for me.

[2019-03-10 01:48] kakirastern commented on #268
Hi @eteq... I think I have fixed the warning about the missing favicon link in a recent PR. I have used `make html` to build the docs of "Learn Astropy", and everything seems alright now. Could you please check the latest version and confirm that there are still any warnings?

[2019-03-10 01:51] kakirastern commented on #286
I will try reminding about this soon during a telecon...

[2019-03-10 02:18] kakirastern commented on #337
I think a better plan is to merge PR #340 first, then allow me and @MananAgarwal time to continue work on a cross-browser solution to warn of no tutorials when using a filter selection only in PR #344. That would be the best strategy we have now.

[2019-03-10 16:04] kakirastern commented on #348
Think the bulk of the work has been done in #341... But remember to rebase after every merge, I noticed that some notebook revert back to an older state after merge without rebase, such as the "units_and_integration" tutorial. 😉

The error was probably due to the spacing in "HCG 7". After you've changed that to something like "hcg7" the Circle CI error goes away. So, it is more like some syntax is

[2019-03-10 16:11] kakirastern commented on #348
Wait... why are the latest merges not showing up in "learn.astropy.org"? We might have another issue to deal with here. I just checked. Something isn't quite right. @adrn Can you confirm?

[2019-03-10 16:48] kakirastern commented on #348
I am guessing the public URL keeps changing as we merge pull requests, so we might need to update that manually regularly, or find means to automate the process. I have been using this [https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-instance-addressing.html](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-instance-addressing.html) as a reference...

[2019-03-10 18:34] adrn commented on #348
@kakirastern Please try to keep discussion in an issue relevant to that issue - if you want to discuss something else, please just open a new issue. The circleCI build for master (that generates the live version of the site at learn.astropy.org) failed because of a transient issue (`skyserver.sdss.org` was down and one of the tutorials does a web request). But that failure just bolsters this parti

[2019-03-10 18:46] kakirastern commented on #348
@adrn Yup, no problem... I will leave it for you to fix. 😉

[2019-03-10 19:07] kakirastern commented on #348
Sorry about the confusion earlier @adrn.

[2019-03-10 19:10] adrn commented on #348
No worries!

[2019-03-18 08:10] astrofrog opened #351 "Small CSS issue with 'Documentation'"
When I open learn.astropy.org in Chrome on my Mac the default window size is such that the 'n' in documentation wraps to the next line. If I make the window narrower or wider things get fixed, but the initial view is problematic:

<img width="1155" alt="Screenshot 2019-03-18 at 09 08 44" src="https://user-images.githubusercontent.com/314716/54515881-b93bc900-495d-11e9-9595-dcc73fc2676e.png">

[2019-03-18 08:15] astrofrog commented on #337
Just wanted to say I ran into this issue today (it happens 100% of the time for me on a first load before refreshing) and I think we really need to fix this as soon as possible - as I noticed today that tutorials.astropy.org now redirects to learn.astropy.org, so there is no way to get the 'old' list of tutorials.

[2019-03-18 17:19] #337 closed

[2019-03-18 17:32] kakirastern commented on #337
@adrn You are right about Chrome and Safari... The PR works for all three major browsers including Chrome, Firefox, and Safari, except while you open "learn.astropy.org" via a private window or the incognito mode. In that case it only works for Chrome. Not sure though.

[2019-03-26 13:33] mwcraig opened #352 "Decide how to integrate guide content with learn.astropy.org"
This is related to #271, which briefly discusses one option for organization of files.

There are a few issues to be resolved:

1. Should we use jupyter-book to render the guides? A VERY roughly example is at https://mwcraig.github.io/ccd-as-book/01-00-Understanding-an-astronomical-CCD-image.html (*please do not give feedback on this yet, there are several issues with it currently, some pretty fun

[2019-03-26 13:38] mwcraig opened #353 "Data location for CCD guide"
There are a few 100s of MB of data that will eventually need to be hosted on data.astropy.org. Right now I'm using a mix of local files, downloads from a server on my campus, and downloads from other servers.

[2019-03-26 13:56] kelle commented on #331
I also took a quick look at this and agree with Lia's comments. I want to re-iterate her to do #3 and that the direction of this tutorial should be discussed with the specviz and the specutils folks. cc @nmearl @crawfordsm @keflavich

[2019-03-26 14:02] kelle commented on #299
I think we've decided that everything lives here and this can be closed. @adrn do you agree?

[2019-03-26 15:28] keflavich commented on #331
I'm not sure any of the spectral visualization stuff is fully-featured enough right now to provide this same kind of workflow.  It might be, but I don't know about the available tools if so.

The line labeling component comes from https://github.com/phn/lineid_plot via pyspeckit, so that could be easily incorporated (...and maybe that's a topic to raise in specviz eventually).

I agree that it wou

[2019-03-26 15:39] eteq commented on #353
Do you think these files can be hosted on Zenodo?  @crawfordsm and I have discussed that that *might* be a better long-term plan than data.astropy.org . In principle it's as simple as uploading to zenodo and providing a direct link to the permanent Zenodo location.  This might be a good "beta test" to see if that works well for guides and tutorials?

[2019-03-26 16:10] eteq commented on #349
A development to consider: as part of the spacetelescope/notebooks repo we've built some machinery starting from the astropy-tutorials repo.  Part of that includes streamlining/making more useful the CircleCI machinery for tutorial builds.  So if we try to port that back here (which I would like to see!) maybe we can just leave Travis off and replace with Circle completely?

[2019-03-26 17:37] kakirastern commented on #331
Sure, then I will re-do everything with python objects first, then incorporate the yaml approach later on in the tutorial.

[2019-03-29 20:46] kakirastern commented on #351
@astrofrog I have checked on the issue: I cannot produce the issue > 95% of the time unless I minimize my Chrome web browser to a certain size. This is what I'd normally get with my ~13-inch MacBook Air (2015):

![Screenshot 2019-03-30 04 42 33](https://user-images.githubusercontent.com/26264600/55261652-77d4e300-52a6-11e9-8414-aa6cc0d4d020.png)

Could you provide more details about your Mac so th

[2019-04-16 13:16] eblur opened #354 "Change Contributing.rst to include directions for uploading large data files"
The Contributing.rst documents describe how to download files from data.astropy.org but not how to upload them to the repo.

It took me a few minutes to find the approporiate repo:
https://github.com/astropy/astropy-data

Let's put a link or describe that repo directly.

[2019-04-23 16:29] #345 closed

[2019-04-27 14:31] kakirastern commented on #354
I can help with this.

[2019-04-27 14:39] kakirastern opened #356 "Experiencing difficulties building html docs locally"
If I try to build the html docs locally, I would get the error traceback below:
[code]
Am I the only one getting this error, or is this reproducible on another machine?

[2019-04-27 14:47] pllim commented on #356
I don't think there is anything we can do on our side for that error. The server was either down or temporarily blacklisted your IP for too many hits.

[2019-04-27 14:55] kakirastern commented on #356
I think I am getting the same error on GitHub too, so their server might be down indeed.

[2019-04-27 16:49] #356 closed

[2019-04-30 16:25] eteq opened #357 "Fix math-mode rst directive conversion to not be picky about spacing"
This comes out of #338, where I first realized the problem.  The gist is that something that in the notebook looks like this:
[code]
Renders just fine as a equation on its own line, *but* when converted to rst and then to html, it fails because rst directives have to have whitespace around them.  The workaround is to do this:
[code]

But as #338 demonstrates this is not at all intuitive given that

[2019-05-07 13:23] mwcraig commented on #336
A little more information (from the [Analyzing UVES Spectroscopy with Astropy](http://learn.astropy.org/rst-tutorials/UVES.html?highlight=filtertutorials) tutorial).

The "Download"/"Interactive" buttons at the top of the page work. The same buttons at the bottom of the notebook fail.

The URLs attached to the buttons are:

+ "Download..." button
    + Top of page: http://learn.astropy.org/_static

[2019-05-07 16:02] eteq opened #358 "Make it so that CI infrastructure continues even if an unrelated notebook fails"
In the current CI machinery, if a notebook fails the tests stop. This causes issues like astropy/astroquery#1436 where a single failing notebook can prevent tests from running on a PR that *doesn't touch that notebook*. A relatively straighttforward fix would be to adjust the build machinery so that the infrastructure instead ran the notebooks anyway regardless of whether an earlier one fails.

An

[2019-05-07 16:03] eteq commented on #358
Not that the "an alternative" is the direction I have been hoping to go in https://github.com/eteq/nbpages, so if we were to switch to using that as the underlying infrastructure it might solve this.

[2019-05-07 17:20] bsipocz commented on #358
In the alternative solution I would strongly advise to run the whole suite from cron nevertheless with someone actually keeping an eye on the results whether there are any failures. Otherwise it will be a huge firefighting mission to fix stuff when actual users report them.

[2019-05-21 17:26] eblur opened #359 "Quantities notebook breaks with matplotlib v3.1"
CircleCI tests fail on Quantities tutorial now.

[code]

[2019-05-21 17:28] eblur commented on #359
It works in matplotlib version 3.0.2

[2019-05-21 17:32] eblur commented on #359
Opened PR #360

[2019-05-21 17:55] eblur commented on #359
Solved with the above PR.

[2019-05-21 17:55] #359 closed

[2019-05-21 18:58] #289 closed

[2019-05-21 18:58] #332 closed

[2019-05-28 17:42] eblur opened #361 "Learn Astropy website won't update due to FITS files being copied to gh-pages"
Please see the latest website build (click on "Push to gh-pages branch"):
https://circleci.com/gh/astropy/astropy-tutorials/535

For some reason, the fits files from the FITS cubes tutorial are being pushed to gh-pages. I'm not sure why, but this is preventing our website from being updated with the new tutorials.

Can we troubleshoot why this is happening and prevent it?

[2019-05-28 17:57] eblur opened #362 "Put astropy.visualization quantity_support example into Quantities tutorial"
Using the following code will cause x axis to be labeled automatically in the Quantities tutorial `plt.hist(v)` command:

[code]

This will also help mitigate compatibility issues with astropy.units and matplotlib, which can vary among versions. See [Issue 8743 in main astropy repo](https://github.com/astropy/astropy/issues/8743).

[2019-05-29 06:38] MananAgarwal commented on #361
As we are hosting the website from the gh-pages, we need to push the built files to this branch. It seems like one of the FITS files from FITS Cubes tutorial is more than 100MB in size, which is [not supported](https://help.github.com/en/articles/working-with-large-files) by GitHub.
I think we can fix this by using **[Git Large File Storage](https://git-lfs.github.com/)**, a Git extension to versi

[2019-05-29 18:08] adrn commented on #361
Argh, why didn't that PR fix this?!

[2019-05-29 18:43] adrn commented on #361
OK now it's fixed!

[2019-05-29 18:43] #361 closed

[2019-06-04 17:14] kakirastern commented on #336
Am tracking down the code block(s) for both of these buttons at the bottom to see if I can open a PR to fix it...

[2019-06-04 17:21] #336 closed

[2019-06-04 17:40] kakirastern opened #367 "Add TODO list items to FITS-images tutorial"
Currently the TODO list of the FITS-images tutorial is occupied by a placeholder.

[2019-06-04 17:42] kakirastern opened #368 "Add TODO list items to FITS-tables tutorial"
Currently the TODO list of FITS-tables tutorial is occupied by a placeholder.

[2019-06-11 18:01] #304 closed

[2019-06-18 17:48] #351 closed

[2019-06-25 17:43] #362 closed

[2019-06-25 18:43] eblur opened #375 "Change the title of the Astropy quantities tutorial"
Change the title of the [Astropy Quantities tutorial](http://learn.astropy.org/rst-tutorials/quantities.html?highlight=filtertutorials%20quantities) to incorporate the word "units".

Could be something like "Using Astropy Quantity units ..."

[2019-06-25 21:17] kakirastern commented on #375
Will aim to get this done by next Tuesday

[2019-07-02 17:58] kakirastern commented on #331
Modified the code by adding to it the following bits:
[code]
Have checked that the above alternative works.

Will still need to explain why a `.yaml` file has been used for organizing some of the data though, which is the plan for the next step.

[2019-07-02 18:04] #335 closed

[2019-07-08 16:23] kelle opened #378 "Should examples in docstrings be included in the example gallery?"
This is a new issue for a philosophical discussion about whether or not the new Example Gallery should include examples harvested from docstrings.  It started in https://github.com/astropy/sphinx-astropy/pull/22 with @bsipocz and @jonathansick.

I think it's absolutely fine for this functionality to exist, however, I'm not convinced it's a great idea for us to implement. A big goal of our example

[2019-07-09 17:55] #375 closed

[2019-07-09 17:57] #367 closed

[2019-07-09 18:07] #368 closed

[2019-07-30 19:20] kelle commented on #158
look into making a Astropy user on Zenodo to be the owner of the records.

[2019-07-30 19:40] pkgw commented on #158
Context is that Zenodo doesn't seem to have infrastructure for organizations in the same way as GitHub, so we think that any records created would be owned by some specific account, which would add a single point of failure if someone disappears.

The Dataverse project is similar to Zenodo in a lot of ways and seems that it *does* have support for group-administered sub-dataverses.

[2019-08-01 15:19] kelle opened #379 "Add number of results to tutorial search results"
http://learn.astropy.org/tutorials.html?q=filterTutorials

It would be great to see 1) how many tutorials there are and 2) how many tutorials match the search criteria after a filter keyword has been selected.

Also, it seems like the "No Tutorials Found!" text persists longer than it should. :)

[2019-08-01 18:08] kelle commented on #281
as keywords get updated, the website needs to be updated by hand: https://github.com/astropy/astropy-tutorials/blob/master/tutorials/themes/tutorials-theme/tutorialfilters.html

[2019-08-01 18:12] kelle commented on #258
whatever script is used to add the keywords to the meta fields in the rst needs to be modified to also add a meta description. @adrn

[2019-08-01 18:28] MananAgarwal commented on #379
The search takes so much time that sometimes "No Tutorials Found!" comes up pre maturely.
There is no current plan to fix this.

[2019-08-02 15:44] kelle commented on #281
Should we consider having a separate keyword category for visualization? THis would include: scatter plot, contour plot, error bars, color bar, and histogram.

[2019-08-02 15:46] kelle commented on #281
@stephtdouglas and I have made lots of progress on the keywords during PyAstro19! One area we didn't touch much was The Companion Content keywords. They still need attention.

[2019-08-02 17:21] kelle commented on #254
addressed by #380

[2019-08-02 17:26] kelle commented on #281
Things still left to do:

- [ ] companion content
- [ ] decide on order of keywords and reorder. Alphabetical or by decreasing use.
- [ ] add number of uses to each keyword.

[2019-08-02 19:49] kelle opened #382 "keep keyword list long if hidden keyword is selected"
If a keyword is selected from the "more" list, it is hidden in subsequent pages. Please modify so that the list stays open when a keyword is selected from the hidden list.

[2019-08-08 20:00] pllim opened #383 "MNT: Update vo_conesearch tutorial when API changes"
Tutorial needs to be updated when patches for astropy/astroquery#1522 and astropy/astroquery#1523 are in a released version of `astroquery`.

[2019-08-16 12:02] kelle commented on #265
I think this can be closed. This tutorial is not passing tests right now, but for different reasons...

[2019-08-21 20:21] adrn opened #389 "Remove SSL hack when STScI updates their TLS certificate"
See the hackery in .circleci/config.yml and .circleci/openssl_hack.cnf

[2019-08-21 20:22] pllim commented on #389
cc @jhunkeler and @rendinam

[2019-08-21 23:24] #265 closed

[2019-08-26 20:18] andamian opened #396 "New tutorials on find CADC data with `astroquery`"
We have created a few Jupyter-notbook style tutorials on how to access data at the Canadian Astronomy Data Centre (CADC) using, amongst other packages, `astropy` and `astroquery`. They can be found at the following URL: http://www.opencadc.org/notebook-tutorials/

We were wondering if they are useful and interesting to be added to this project. Please let us know whether to proceed.

Thanks

[2019-08-30 13:22] #254 closed

[2019-08-30 13:24] adrn opened #397 "Tutorials not loading on learn.astropy.org"
It looks like the tutorials aren't being loaded properly:

![image](https://user-images.githubusercontent.com/583379/64024242-eb09ac00-cb07-11e9-8f94-70a447b71fa6.png)

This is on navigating to http://learn.astropy.org/tutorials.html with no filter applied. Note also the last tutorial card appears truncated.

Any ideas @MananAgarwal ?

[2019-08-30 19:50] MananAgarwal commented on #397
This is really weird.
It shows a different number every time I reload. I got 3, 5 and 6 tutorials.

[2019-08-30 19:57] MananAgarwal commented on #397
For me, it's working perfectly fine on Safari and Firefox.
Also, in incognito mode of Google Chrome.

[2019-08-30 20:06] MananAgarwal commented on #397
It works in Google Chrome if you do a hard refresh (cmd + shift + R)

[2019-08-30 21:19] adrn commented on #397
Weird - it must be something with the way Chrome caches? It does work for me with a hard refresh, but then if I do a normal refresh it is back to randomly showing random subsets of the tutorials... WTF?!?

[2019-08-30 21:38] MananAgarwal commented on #397
Yes, I am getting the same behaviour.

[2019-08-30 21:41] MananAgarwal commented on #397
The tutorial card is getting truncated because something (definately not something in our code) is updating the style attribute of the last card.

<img width="1621" alt="Screenshot 2019-08-31 at 3 07 09 AM" src="https://user-images.githubusercontent.com/24625562/64052592-af6cf180-cb9c-11e9-9062-b927e3d7b5cb.png">

[2019-09-05 15:58] kakirastern opened #400 "[New content] Companion tutorial on Chapter 1 of Carroll and Ostlie"
**To work on companion tutorial for BoB Chapter 1 - Celestial Sphere**

Contents include:
* WCS
* plot dist in different projections. alt/az, ra/dec, glat/glon
* proper motion, ephemeris
* observation planning tool
* some problem demonstrating cos dec issue

Whether there will be a narrative is to be determined. The initial workflow will be on Google Colab, and a link will be posted in this conver

[2019-09-06 21:19] kakirastern commented on #400
As promised the working draft of the tutorial on Google Colab can be acessed at [https://colab.research.google.com/drive/18FcSOaAq5wu5PfAHAPtIgPUvscJ4EpkJ](https://colab.research.google.com/drive/18FcSOaAq5wu5PfAHAPtIgPUvscJ4EpkJ)

[2019-09-09 16:36] kakirastern commented on #397
It appears that if you search for tutorials using the "Search for a filter" field for some key words that are not ones having been standardised in the database, the tutorial cards are not truncated, like the following using "scipy.integrate" as the search term:

<img width="1195" alt="Screenshot 2019-09-10 00 27 38" src="https://user-images.githubusercontent.com/26264600/64548805-f8256700-d361-11e

[2019-09-09 16:50] kakirastern commented on #397
Could it have to do with some JavaScript `async` or even some `timeout` behaviour in the theme? The latter could explain why for some keyword searches the number of tutorial cards turned up at different times are different...

[2019-09-09 17:12] kakirastern opened #401 "The term "filterTutorials" still showing in search field on "search.html" page"
To follow up on #304.

I have a feeling that this issue is indicative of a bug plaguing the Learn Astropy website in a way that warrants further investigation.

Screenshot captured on September 10th, 2019 (HKT) on Chrome:

<img width="1428" alt="Screenshot 2019-09-10 01 06 48" src="https://user-images.githubusercontent.com/26264600/64551395-805a3b00-d367-11e9-9c89-fdae2e072b6e.png">

It is interes

[2019-09-11 12:41] kathl opened #402 "Submitting a new tutorial"
Hi All,
as discussed at the last astropy.learn co-working hour, I submit my suggestion for a new tutorial here.
The tutorial can be found at this link: https://drive.google.com/file/d/16oGFB1IGf4r9F9iL3oY44QXQ2A9x_zSC/view?usp=sharing
I'm happy to help with questions where necessary :)

Best wishes,
Katharina

[2019-09-13 22:43] andamian commented on #396
Excellent. Expect a PR from us hopefully soon. Thanks

[2019-09-14 22:16] MananAgarwal commented on #397
What I think is happening is that when the browser is loading the content from cache "$(window).on('load',..." is called prematurely. There is a difference of about 200-500ms between Load time and Finish time of the page. I have updated the code to wait for 1 sec (we can reduce this in future) before counting the number of tutorials results. Since this is an asynchronous call, the delay is only in

[2019-09-14 22:18] MananAgarwal commented on #397
It was working on a hard refresh because then the Load time and Finish time are the same.

[2019-09-15 13:04] #397 closed

[2019-09-17 05:42] kakirastern commented on #322
Think this issue has been dealt with in an earlier PR, so will close it now.

[2019-09-17 05:42] #322 closed

[2019-09-17 05:46] kakirastern commented on #331
It appears from the Slack convo the consensus is to go ahead with the tutorial anyway, but with explicit caveat stated somewhere in the notebook which packages are not currently in the Astropy ecosystem so that the user may take note. But will need to double-check with @kelle during the Learn Astropy telecon to confirm before pushing ahead.

[2019-09-19 16:17] kelle commented on #139
@kakirastern is working on Chapter 1 in #400

[2019-09-24 14:03] kelle commented on #73
This has come back up as part of Chapter 1 in the BOB project in #400

[2019-09-26 15:16] kelle commented on #208
Super relevant thread about posting assignments online (w/o solutions!)  from Chris Mihos: https://twitter.com/ChrisMihos/status/1174482914580385792

[2019-10-03 15:55] kelle commented on #208
Also, material from @bwholwerda: https://github.com/bwholwerda/PHYS590

[2019-10-03 15:59] eblur commented on #208
I prefer a term (link or placard) called "Exercises" (rather than "Assignments")

[2019-10-03 16:10] kelle opened #405 "Add "Exercises" to Learn Astropy"
We're ready to start uploading incomplete notebooks as a new category called "Exercises".  We have lots of content #208. I recall this being part of the initial vision of the website but we never developed it. Things which need to be done and/or figured out by @adrn and @MananAgarwal :
- Add the "Exercises" placard to the homepage. I recall it being there at one point, so maybe there's just a line

[2019-10-19 15:45] kelle opened #406 "Tutorial demoing Time Series"
Would be great to have a tutorial showing the new time series module, including how to make the thing which can be included in AAS Journals.
@astrofrog has written a 51 Peg tutorial and could convert it to a learn tutorial in November.

[2019-10-19 19:21] kelle commented on #299
Should we actually change the name of the repo? https://help.github.com/en/articles/renaming-a-repository

[2019-10-19 19:23] kelle commented on #158
I think this should be a bit higher on our priority list. Any objections to making an Astropy Zenodo account? I'll bring up with Coordinators.

[2019-10-31 15:09] kelle opened #407 "Make a Resources page"
We need to have a page with other tutorials and educational materials.

from @bmorris3, as a pre-req for workshops:

A higher level one:
https://www.datacamp.com/courses/software-engineering-for-data-scientists-in-python

[2019-10-31 15:17] kelle opened #408 "Add Intro to Object Oriented program tutorial"
This looks like a very useful tutorial written by @bmorris3 which we could consider hosting:
https://github.com/bmorris3/astropy-workshop-bern-2019/blob/master/11-Extras/intro_to_oo.ipynb

[2019-10-31 15:30] pllim commented on #408
Is this really in scope for "astropy tutorials" per se? Do we want to turn this into a computer science course?

[2019-10-31 15:36] kelle commented on #408
- The tutorials site is setup so that there's really no such thing as "too many" tutorials. As long as we have keywords, we can have lots! So I don't think we need to be too picky.

- This particular tutorial is very astro specific and I think thus well suited as an astropy tutorials.

[2019-11-01 14:25] bmorris3 opened #409 "Local build error"
I'm working on a new tutorial for astropy-tutorials and my local environment fails to build the webpage when I run `make html` (following these [instructions](http://learn.astropy.org/dev.html#dev-page)), with the following error:
[code]
Is this familiar to anyone?

[2019-11-01 14:33] pllim commented on #409
I am guessing it is coming from `astroquery`? Please upgrade your `astroquery` or even `astropy`.

[2019-11-01 14:59] bmorris3 commented on #409
That fixed it, thanks @pllim!

[2019-11-01 14:59] #409 closed

[2019-11-06 21:01] kelle opened #412 "Consider keyword category for "level" [Discussion]"
Idea from Petabytes to Science workshop - add keyword category which indicates the level of the tutorial. e.g, K-12, undergrad, grad.

I am not sold on this idea because it could add stigma to the tutorials. e.g., a grad student might need to start with the k-12 tutorials, and that doesn't feel nice.

At the same time, there are some tutorials that are more accessible than others. E.g., we have so

[2019-11-07 17:09] pllim commented on #407
http://swcarpentry.github.io/python-novice-inflammation/ (data is not astronomy specific but if you want novice Python lesson, you might find it helpful)

[2019-11-07 17:16] ahriley commented on #407
Worth noting that DataCamp has had issues with sexual assault within the company that were poorly handled, and many instructors have been telling people **not** to take their course on DataCamp in response

https://www.noamross.net/2019/04/12/datacamp-sexual-assault/

[2019-11-07 17:50] kelle opened #413 "Consider rebranding to “Learn Astro Code”"
Learn Astro Code

Learn Astropy implies we don’t accept materials relevant to astro but not using astropy.

Tagline - resources for teaching and learning code relevant to Astronomy.

[2019-11-07 19:16] kelle commented on #412
Discussing with @gnuhaus.

better words: beginner, intermediate, advanced

categories:
- "python"
- "R"
- "physics"
- "astronomy"

[2019-11-07 19:18] kelle commented on #412
have the 4 beginner keywords be the ones that are default visible on the sidebar.

Category name: "Experience"

[2019-11-07 19:48] kelle opened #414 "Need a Getting Started page"
need text (either on front page or on new standalone page) which explains how to use the site.
- use "Interactive Tutorial Notebook" to work on notebook in the cloud
- download to work on your own computer
- how to use tags on the left
- how search works?

[2019-11-07 19:48] pankajb64 commented on #407
Sharing this link to a series of short "Intro to Astropy" tutorials - https://www.youtube.com/playlist?list=PL7kL5D8ITGyV7zeT-oADweFKHsZNh3tKV

[2019-11-07 20:02] kelle opened #415 "improve download and launch button text"
Buttons currently say "Download" and "Interactive Tutorial Notebook". Want to reorder buttons to make Binder link first and bigger and improve text.  Should include the word Launch.  Maybe add Play button icon. Is there a UI standard we can follow.

[2019-11-07 20:03] kelle commented on #414
If they download locally, they need to also install all the things, right? WHere as Binder will setup the environment based on requirements.txt? We should explain this somewhere.

[2019-11-07 20:23] kelle commented on #415
Also need to have standard text at the top of each notebook with pip install instructions and what not.

[2019-11-07 20:25] kelle opened #416 "Color-excess tutorial doesn't run unless synphot is installed"
When using Binder to launch the color-excess tutorial, the first line doesn't run because `'ModuleNotFoundError:` No module named 'synphot'

Adding `pip install synphot` fixes the issue but I don't understand why it's not already installed because it's in the requirements.txt.

I also notice that there are specific install instructions in the Summary section. Should those instead by executable lin

[2019-11-07 20:29] kelle commented on #414
also recommend 1-3 tutorials that would be the best to start with if you are really starting from the beginning. (python: beginner and astro:beginner)

[2019-11-07 20:35] pllim commented on #416
The `conda` command can be replaced by `pip`, so `requirements.txt` should have worked.

[2019-11-09 15:52] laudb commented on #407
I think the notebooks from the past workshops are quite helpful:
- [https://github.com/astropy/past-astropy-workshops](https://github.com/astropy/past-astropy-workshops)

Here are some others that I've come across:

- Data-driven astronomy on Coursera : [https://www.coursera.org/learn/data-driven-astronomy](https://www.coursera.org/learn/data-driven-astronomy)

- STScI [https://github.com/spacetel

[2019-12-05 16:49] kakirastern commented on #328
On going progress on the proposed tutorial can be tracked on Google Colab at: https://drive.google.com/file/d/1MEW9J3o-Mpryd84gvO2tvvPaTdYsvdIf/view?usp=sharing

[2019-12-06 14:09] kelle commented on #407
http://summerappspace.com/curriculum/?fbclid=IwAR0zpO1r51jiwPlrpzgQ1FwP4U78RZnAOfII5I24XmKMgcvpzfe2ZrP01EI

[2019-12-09 00:47] kakirastern commented on #413
Yeah, we could have the "Learn Astro Code" brand under "Learn Astropy"... Maybe best to best keep site name as `learn.astropy.org` for "Learn Astropy" to show affiliation with `Astropy`, but with the brand "Learn Astro Code" for general astronomy education purposes regarding coding specifically.

[2019-12-09 18:26] kelle commented on #261
Looping @taldcroft into this issue. Tom, maybe the link I posted above is the one you also found?

[2019-12-09 18:47] kelle commented on #407
[Beginners Guide to to Working with Astronomical Data](to Working with Astronomical Data
by Markus Pössel

This elementary review covers the basics of working with astronomical data, notably with images, spectra and higher-level (catalog) data. The basic concepts and tools are presented using both application software (DS9 and TOPCAT) and Python. The level of presentation is suitable for undergrad

[2019-12-09 18:52] kelle opened #419 "Turn Pössel's "Beginner's Guide to Working with Astronomical Data" into a Guide"
https://arxiv.org/abs/1905.13189
"This elementary review covers the basics of working with astronomical data, notably with images, spectra and higher-level (catalog) data. The basic concepts and tools are presented using both application software (DS9 and TOPCAT) and Python. The level of presentation is suitable for undergraduate students, but should also be accessible to advanced high school stud

[2019-12-09 18:52] kelle opened #653 "Turn Pössel's "Beginner's Guide to Working with Astronomical Data" into a Guide"
https://arxiv.org/abs/1905.13189
"This elementary review covers the basics of working with astronomical data, notably with images, spectra and higher-level (catalog) data. The basic concepts and tools are presented using both application software (DS9 and TOPCAT) and Python. The level of presentation is suitable for undergraduate students, but should also be accessible to advanced high school stud

[2019-12-09 19:05] kelle opened #420 "Need WCS tutorial"
@adrn has a vision for a WCS tutorial which is needed.

[2019-12-09 19:07] kelle opened #421 "Tutorial on table performance for writing/reading different formats"
@adrn: Tutorial or in docs comparison of table performance for writing/reading different formats (teach about binary vs. ascii formats…)

Also see #14

[2019-12-09 19:27] mpoessel commented on #419
I'm not often on Github, and this is fairly unfamiliar, but I managed to log in at least. So yes, I'm happy for the Beginner's Guide, or parts of it, to be turned into a guide. I don't have a huge amount of time to spend on this, but if there's a specific way I can help, please tell me.

[2019-12-10 17:14] miguelsalazar commented on #419
I'll start by reproducing all the exercises in a Collab notebook, to make sure that everything's running smoothly and we don't need additional data sources.

[2019-12-10 19:00] mpoessel commented on #419
Thank you, that sounds good! If you need anything beyond what's in the published version of the Beginner's Guide, please tell. Also, if you give me your contact data, I can send you the latest improved version, which is not yet on arXiv.

[2019-12-13 13:46] kelle commented on #407
- https://jakevdp.github.io/PythonDataScienceHandbook/
- https://github.com/Morisset/Python-lectures-Notebooks

[2019-12-17 16:02] adrn opened #422 "Update coordinates tutorials with new astropy workshop coordinates notebook"
The coordinates tutorial is a little out of date in that it doesn't mention velocities. I revamped it for the astropy workshop at AAS, so that could probably be copied over here.

[2020-01-05 05:04] kelle commented on #208
jason Wright (@astrowright) has stellar evolution homework sets.

[2020-01-15 10:40] kakirastern opened #424 "New tutorials on introducing the use of astroplan for new users"
Maybe related to #73 and #149 , but building on the recent work of GSoC 2019 Student Developer Tiffany Jensen's new contributions to the `astroplan` package, as requested by @bmorris3 on Slack.  Initially planning two or more tutorials for the purpose of, for example, introducing new users to the package, or for more experienced users to learn about the latest additions to the code base.

[2020-02-10 16:07] adrn opened #427 "Failures in conesearch tutorial"
It looks like some behavior has changed with conesearch - would you mind updating the tutorial @pllim?

e.g., https://circleci.com/gh/astropy/astropy-tutorials/686

[2020-02-10 16:17] eblur opened #428 "Check existing tutorial tests against Astropy Version 4.0"
It's possible that the update to Astropy 4.0 has broken some of our past tutorial notebooks. Some one needs to check and update any old notebooks.

http://docs.astropy.org/en/stable/whatsnew/4.0.html

[2020-02-10 16:19] kakirastern commented on #428
One issue just came up is from the `vo` tutorial:

[code]

[2020-02-10 16:44] pllim commented on #427
Ops. I made a mental note to update tutorial but somehow it slipped my mind. Sorry for the oversight, you can assign this to me. Thanks!

[2020-02-10 16:49] pllim commented on #428
Re: vo -- My bad. See #427

[2020-02-10 17:28] kakirastern commented on #428
@pllim No worries, just updated the code to make things work again.

[2020-02-11 15:29] #427 closed

[2020-02-11 15:39] kakirastern commented on #331
Will need to re-start CircleCI now that #430 has been merged to fix some bugs in the `vo` tutorial to see if the CI checks can be passed now.

[2020-02-11 16:03] adrn opened #431 "Write summary paragraph for synthetic-images tutorial"
Left over from #426

[2020-02-11 16:04] pllim commented on #428
I think this can be closed now?

[2020-02-24 16:54] eblur opened #432 "Add Astropy Workshop materials to Learn Astropy website"
The Astropy Workshop sequence of Jupyter notebook lessons have been highly successful. Participants have expressed a desire to use the notebooks outside of the workshop. The public could benefit in general from greater exposure to these materials, so we would like to incorporate them into the Learn Astropy ecosystem.

My preferred method is to create a [Jupyter book](https://jupyterbook.org/intro.

[2020-02-24 16:54] eblur opened #654 "Add Astropy Workshop materials to Learn Astropy website"
The Astropy Workshop sequence of Jupyter notebook lessons have been highly successful. Participants have expressed a desire to use the notebooks outside of the workshop. The public could benefit in general from greater exposure to these materials, so we would like to incorporate them into the Learn Astropy ecosystem.

My preferred method is to create a [Jupyter book](https://jupyterbook.org/intro.

[2020-02-25 19:45] pllim commented on #383
Done in #430

[2020-02-25 19:45] #383 closed

[2020-02-25 19:46] pllim commented on #82
Is this still an issue?

[2020-02-25 19:56] pllim opened #433 "Color-excess tutorial to use new API in synphot 0.3"
When synphot 0.3 is released (no set release date yet), the color excess tutorial can be updated to use new API to `dust-extinction` as per spacetelescope/synphot_refactor#251, like this:

[code]

I hope this new API looks a little better than the current

[code]

cc @karllark and @krislars

[2020-02-26 22:34] bsipocz commented on #428
It would be great to make this a standing exercise, preferably before a new release is going out (either test against the dev version, or during the release candidate testing period).

[2020-03-02 15:57] kakirastern commented on #420
I am actually working with members of the Astropy core package on rewriting their WCS material. Maybe I can be of some help in this regard at a later stage? Also, am working on a related issue #400. I will focus on the new PR to be submitted say in a month.

But I really would like to know more about @adrn's vision for a WCS tutorial.

[2020-03-02 16:02] kakirastern commented on #414
I would like to work on this if no one else has expressed interest

[2020-03-02 16:03] kakirastern commented on #286
@eblur I will try to remind you about this next time we meet on telecon

[2020-03-02 16:08] kakirastern commented on #400
@kelle elle mentioned in late 2019 that there are existing notebooks dealing with the **observation planning tool** item such as with astroplan, so can leave that out for now in the proposed tutorial.

[2020-03-07 15:35] kakirastern commented on #382
I checked and the issue seems to have arisen from the webpage refreshing each time a keyword is selected from the side navbar, such that the "View More" list does not remain open after search results are displayed.

[2020-03-07 16:14] kakirastern commented on #382
I think one way to tackle this problem is to upgrade our website with tools such as React JS that will allow us to render sphinx documentation, such as with the use of Gatsby: https://www.gatsbyjs.org/blog/2019-02-14-behind-the-scenes-q-and-a/#functional-questions-how-do-i-do-x-with-gatsby where it says:

[2020-03-07 16:17] kakirastern commented on #382
Seems like the whole upgrade can be accomplished within a week as suggested here: https://medium.com/@mtiller/rendering-sphinx-documentation-with-react-95b785293a76

[2020-03-09 16:28] eblur commented on #400
Okay! I have polished some of the text and section headings. Major comments that I could not address myself are typed up in **bold**.

@stargaser I think it would be helpful to provide a 1-2 sentence description of what a World Coordinate System is in general, with some links to documentation or resources. I have marked that location in bold for you.

@kelle please check this out at your nearest c

[2020-03-10 13:29] kelle commented on #400
This is looking super good!

- I made some changes directly, adding more text and explanation for folks that are brand new to astro, and followed Lia's lead and made some comments in bold.

- I think this is actually shaping up to be multiple tutorials. It could be a series. Eg., WCS 1: Reading and plotting, WCS 2: Finding separations, WCS 3: Calculating proper motions etc. What do y'all think? If

[2020-03-15 13:37] kakirastern commented on #400
Agree with @kelle that this notebook could be shaped up into multiple tutorials.

[2020-03-24 22:34] jehturner commented on #407
Not forgetting [The Python Tutorial](https://docs.python.org/3/tutorial/), which I found useful back in the day.

[2020-03-27 23:15] stargaser commented on #400
I've rearranged the introduction of WCS and added some references, and I'm working through the examples. I've added some notes in bold to the tutorial. Here are a few points:

- The first example of HPLT-TAN is new to me -- I'd prefer a simpler example, perhaps repeating the 2-D image example.
- The image of the Helix Nebula has a complicated header, apparently being an image made from a photograp

[2020-03-28 14:13] kakirastern commented on #400
Let me see what I can do with the Helix nebula image regarding its current FITS header... One thing I could do is to simplify it manually to conform to the current FITS WCS standard.

[2020-04-10 21:24] teuben opened #438 "specutils tutorial on using sdfits files for spectra"
During the specutils sprint week my notebook demo on https://github.com/teuben/gbtoy/blob/master/nb/ngc5291-demo3.ipynb needs a bit of work and then it can mature to a tutorial:
- Collection, not List
- example with dask to show speedup?
- clean up reduction in specutils portion

[2020-04-10 21:24] kelle opened #439 "Specutils and Specreduce Tutorials"
<placeholder issue for links to notebooks @eblur  started and our wishlist>

Lots of notes here:
https://docs.google.com/document/d/17m2cRPA8S4Y_kS_CC4P3s08FCaIzNQuUfRruwnsVMvQ/edit#

[2020-04-10 21:36] kelle commented on #439
Adam Burgasser's notebook messing around with Spex data might be a good template for an eventual “plotting” notebook.: https://colab.research.google.com/drive/1eV7-VsHmQQpxgz5pAf8chAvjtme_VRlo

[2020-04-10 21:38] eblur opened #440 "Loading and fitting a line in an SDSS spectrum with specutils"
I produced two notebooks from the Astropy Spectroscopy Sprint (April 6 - 10) that are ready for review. When we are happy with them, I'll submit a pull request.

Part 1: [Load, Plot, and Smooth an Optical Spectrum from SDSS](https://drive.google.com/open?id=15eehvW0IM8JWtse7TdxiatrVuO3yY4cn)

Part 2: [Measure Properties of a Spectral Emission Line](https://drive.google.com/open?id=1fdmE8WA3BXJsjqn

[2020-04-10 21:42] eblur opened #441 "Using specutils to fit for redshift with a template model"
I started a [tutorial for fitting an SDSS spectrum with a quasar template](https://drive.google.com/file/d/1cOPKSH3ED_0fokcf07yPj2t2mqYwtnrP/view?usp=sharing), and searching for the best fit redshift.

However, I'm running into technical problems. It's possible that this could be due to the nature of the `InverseVariance` uncertainty provided with the SDSS dataset. I am going to try translating th

[2020-04-10 21:45] eblur commented on #439
See Issue #440 , #441 , and #438

[2020-04-10 22:12] eteq commented on #439
Some items identified that we would want to be in a specutils tutorial that discusses the "quick plot" functionality:

- Demonstrate the use of a `SpectrumCollection` and/or a vector `Spectrum1D` with the `plot_quick` - if this is awkward we might decide it should instead be in  `plot_quick` (astropy/specutils#650).
- Demonstrate where to do `savefig` to demonstrate doing `plot_quick` and saving i

[2020-04-13 14:59] eblur commented on #438
I have made a copy of this notebook in Google drive so it can now be edited in Colab

https://drive.google.com/file/d/1OeNoh0Uqk1NA1Jbr3UALqtEiHDaAStvb/view?usp=sharing

I started working on putting it into the Learn Astropy format, and I will stop short of loading the Spectrum1D object for now.

[2020-04-13 15:03] kakirastern opened #442 "Content request: Use the specutils generic Table reader to load a spectrum"
To follow up on a thread from the Learn Astropy session during the Spectroscopy Sprint 2020 as suggested by @eblur. To write a tutorial notebook for guiding the user to load/read a spectrum with the specutils generic Table loader/reader.

Another idea: To generalize to the case of using the custom loader/reader as well, to cover both the generic and custom types.

Starting point: [`specutils` docs

[2020-04-14 14:01] eblur opened #443 "Add to WCS tutorial: How to place a scale bar on an image with WCS"
A colleague of mine asked me this simple question, and I thought it would make a good addition to the WCS tutorial.  He ended up finding a solution in the source code for AplPy, but I'm certain we could make it simpler. (i.e., we don't need to the if statements to know if our inputs are an Astropy Quantity versus a Unit)

[code]

[2020-04-14 14:02] eblur commented on #400
Hi folks, should we add Issue #443 content to the first notebook in this series?

[2020-04-14 14:06] eblur commented on #441
It did not work. I opened two issues on the specutils repo, which refer back to this issue.

[2020-04-14 16:26] kakirastern commented on #443
@eblur Yeah, I agree that it would be a good idea!

[2020-04-14 16:28] kakirastern commented on #400
@eblur Yeah, I agree it would be a good idea!

[2020-04-21 01:13] bsipocz opened #445 "Build dependencies are not listed"
The dev docs needs a subsection on the required dependencies for building/testing the notebook-html conversion.

Neither `sphinx_bootstrap_theme` nor `pandoc` nor `nbconvert` are mentioned in the dev docs as required dependency.

[2020-04-27 14:26] kakirastern commented on #445
Is it okay for me to take the issue on?

[2020-04-27 16:51] bsipocz commented on #445
I deliberately left it as a novice issue for a newcomer (fixing it would have taken the same time as opening the issue). But of course you can take it if you like

[2020-04-28 15:25] kakirastern commented on #443
Have used `matplotlib`'s `axes.arrow` for the plotting of a scale bar on an image in the Celestial Coordinates 1 (or `celestial-coords1`) notebook on Google Colab, with a `wcs` transform thrown in so that I can directly enter the degrees for the attributes for plotting. Maybe this simplified version would be more suitable for our purposes.

[2020-05-01 19:12] eblur opened #447 "Quantities notebook in quarantine"
As of PR #446, the quantities notebook appears out-of-date enough to [break Circle CI](https://circleci.com/gh/astropy/astropy-tutorials/724?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link).

We need a PR to bring it up to date or move it to the quarantine folder.

[2020-05-02 01:06] hamogu opened #448 "Uves tutorial rendering error"
There are some formatting errors in the UVES tutorial. Most don't look good but are not critical (external links not showing up), but this one is critical:
![image](https://user-images.githubusercontent.com/498688/80851370-505df180-8bef-11ea-92c1-b85941b1506d.png)
There definitely needs to be a line break after the import statement. Curiously, there is when I look the rendered notebook on github.

[2020-05-02 09:14] kakirastern commented on #447
Yeah, let me take a look at it tomorrow

[2020-05-03 08:37] kakirastern commented on #447
The `quantities` notebook is passing the CI checks now, but not the `vo` notebook:
[code]

Could be a server-side error.

[2020-05-04 17:47] pllim commented on #447
Yeah... `http://gsss.stsci.edu/webservices/vo/ConeSearch.aspx?CAT=GSC23&` is down, so it grabbed `http://vizier.u-strasbg.fr/viz-bin/conesearch/I/220/out?` instead. If you remove the `+ '&'` then it would work but then if `gsss.stsci.edu` comes back online, then removing it would break. 😬

[2020-05-04 17:48] pllim commented on #447
Oh wait... http://gsss.stsci.edu/webservices/vo/ConeSearch.aspx?CAT=GSC23& just came back online, it seems. 🤷

[2020-05-04 17:50] pllim commented on #447
tl;dr -- If you rerun CI without any changes, it should pass now.

[2020-05-04 20:30] kakirastern commented on #447
Thanks @pllim Let me rerun the tests now

[2020-05-04 20:38] kakirastern commented on #447
Uh oh, now the `vo` notebook is causing another error thrown:
[code]

[2020-05-04 21:20] pllim commented on #447
For whatever reason, the query failed. I don't know why because I don't know where the full log is. You can see the logic in https://github.com/astropy/astroquery/blob/cfabf3a3d2de515b851730f26825f961d2bbc2d3/astroquery/vo_conesearch/conesearch.py#L82

I cannot reproduce this failure locally.

[2020-05-05 20:32] kakirastern commented on #447
Let me add a conditional later to cater for `NoneType` objects as well.

[2020-05-11 15:55] eblur commented on #447
It looks like all the notebooks run now in [PR 449](https://github.com/astropy/astropy-tutorials/pull/449) but there is an error in the sphinx build:

[code]

[2020-05-11 16:09] eblur commented on #400
Hi @kakirastern and @stargaser, this looks great. Just a few big comments that I can't do from my end:

(1) Learning goals should be a bulleted list. Just make them a one-line summary of each section.

(2) Section 3: How did you know to use 'fk5' as input to the `get_transform` method? Please describe for the readers.

(3) Section 3: Most people don't draw scale bars as arrows. Would the following

[2020-05-13 16:35] payneck opened #450 "FITS Tutorial Exercise"
Exercise 2 with the Horsehead Nebula "Show the image of the Horsehead Nebula, but in units of surface brightness (magnitudes per square arcsecond). (Hint: the physical size of the image is 15x15 arcminutes.)" http://learn.astropy.org/FITS-images.html Not sure how to set tis up, no solutions available. Any help would be appreciated!

[2020-05-13 16:57] kakirastern commented on #450
Yeah, a lot has been assumed in that tutorial. I will open a PR to follow up on it and add content to that notebook to clarify the assumptions made.